{{#bubble-menu registerAs=bubbleMenu showMenu=showDownloadMenu}}
  <li {{action 'zipDownload'}}><span class="toolbar-icon toolbar-zip-icon"></span>{{t 'zip.button'}}</li>
  <li {{action 'dropboxDownload'}}><span class="toolbar-icon toolbar-dropbox-icon"></span><span class="dropbox-label">{{t 'dropbox.button'}}</span></li>
{{/bubble-menu}}