<div {{bind-attr class="hidden isOpenMode:open-mode"}}>
  {{input classNameBindings=":form-line :loc-search"}}
</div>
{{input classNameBindings="hidden::hidden :form-line" value=selected.name disabled=true}}
