.toast {
  text-align: center;

  span {
    padding: 12px 10px 9px;
    border: 1px $subtle-highlight-color solid;
    display: inline-block;
    background: $bg-color-accent;
    border-radius: 2px;
    font-weight: 700;
    margin: 19px;
    color: $highlight-color;
  }
}

.floater {
  position: fixed;
  top: 77px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 51;

  &.in-modal {
    top: 162px;
  }
}

.toast-error {
  span {
    color: $alert-error-color;
    border-color: $alert-error-color;
    background: $alert-error-bg;
  }
}

.toast-banner {
  position: fixed;
  top: $logo-height;
  left: 0;
  width: 100%;
  z-index: 5;
  transition: top 0.3s ease-in-out;
  border-bottom: 1px solid;
  text-align: center;

  &.below-toolbar {
    top: $logo-height * 2;

    &.removing-toolbar {
      top: $logo-height;
    }
  }

  padding: 10px;


  p {
    font-weight: 600;
    position: inline-block;
  }
}

.toast-banner-error {
  border-color: $alert-error-color;
  background: $alert-error-bg;
  color: $alert-error-color;
}

p.hl-error {
  color: $highlight-color;
}

input.hl-error {
  border-color: $highlight-color;

  &:focus {
    border-color: $highlight-color;
  }
}