
.bubble-menu-cont {
  display: inline-block;
  position: relative;
}

// h/t to http://nicolasgallagher.com/pure-css-speech-bubbles/demo/
.bubble-menu {
  .settings-container & {
    left: -171px;
  }

  .bubble-menu-cont & {
    left: -50px;

    &.top {
      &:before {
        right: 151px;
      }

      &:after {
        right: 153px;
      }
    }
  }

  width: 248px;
  left: -177px;
  position: absolute;
  padding: 12px 25px 12px 25px;
  border: 1px solid $subtle-highlight-color;
  color: #333;
  background: #fff;
  border-radius: 5px;
  top: 50px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  z-index: 5;

  li {
    display: block;
    font-weight: 600;
    line-height: 54px;
    cursor: pointer;

    &:hover {
      color: $highlight-color;
    }
  }

  &.top {
    &:before {
      top: -15px;
      bottom: auto;
      left: auto;
      right: 31px;
      border-width: 0 15px 15px;
    }
  }
}

.bubble-menu:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: $subtle-highlight-color transparent;
  display: block;
  width: 0;
}

.bubble-menu.top:after {
  top: -13px;
  bottom: auto;
  left: auto;
  right: 33px;
  border-width: 0 13px 13px;
}

.bubble-menu:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}