a.active .convo, .convo.highlighted {
  background: $highlight-color;
  color: white;

  .sub {
    color: white;
  }
}

.post-message {
  padding: 10px;
}

.convo {
  width: 100%;
  height: $convo-height;
  background: white;
  padding: $convo-padding $convo-right-padding $convo-padding $convo-padding;
  border-bottom: 1px $subtle-highlight-color solid;
  color: $default-text-color;
  position: relative;

  .dot {
    position: absolute;
    top: ($convo-height / 2) - ($convo-dot-size / 2);
    height: $convo-dot-size;
    width: $convo-dot-size;
    background: $highlight-color;
    border-radius: $convo-dot-size / 2;
    right: $convo-padding;
  }

  .icon {
    height: $convo-icon-size;
    width: $convo-icon-size;
    border-radius: $convo-icon-size / 2;
    background: white;
    border: 1px solid $subtle-highlight-color;
    float: left;

    span {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding-top: ($convo-icon-size - 14px) / 2;
      color: $highlight-color;
      font-weight: 700;
    }
  }

  .details {
    margin-left: 69px;
  }

  .names {
    font-size: 18px;
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .sub {
    height: 20px;
    // font-size: 14px;
    font-weight: 600;
    color: $subtle-highlight-color;
  }

  .names, .details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.left-col {
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid $subtle-highlight-color;
  width: $left-col-width;
  height: 100%;
  overflow-y: scroll;
}


.main-col {
  position: fixed;
  top: 0;
  background: white;
  width: $main-col-width;
  left: $left-col-width;
  height: 100%;
  overflow-y: scroll;
}

.post {
  padding-bottom: 10px;
  border-bottom: 1px $subtle-highlight-color solid;

  .icon {
    height: $post-icon-size;
    width: $post-icon-size;
    border-radius: $post-icon-size / 2;
    background: $subtle-highlight-color;
    float: left;
    margin-top: -7px;
    margin-left: (0 - $post-left-margin + (($post-left-margin - $post-icon-size) / 2));
  }

  .post-body {
    margin-left: $post-left-margin;
    min-height: 75px;
    margin-top: 20px;
  }

  .post-author {
    margin-top: 7px;
    font-size: 16px;
    color: $highlight-color;
    font-weight: 500;
  }

  .post-time {
    color: $button-text-color;
    font-size: 12px;
    margin-top: 6px;
  }

  .post-likes {
    font-size: 14px;
    color: $highlight-color;
    margin-top: 20px;
    font-weight: 500;
  }

  .post-text {
    font-size: 14px;
    margin-top: 10px;

    p {
      margin: 0;
      line-height: 16px;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }

  .large-photo {
    margin-top: 10px;
  }
}

.new-post {
  position: fixed;
  bottom: 0;
  border-top: 1px $subtle-highlight-color solid;
  background: $bg-color-accent-light;
  width: $main-col-width;

  textarea {
    margin: 0;
    height: 36px;
  }

  button {
    height: 36px;
    float: left;
  }

  button.add-photos {
    width: 36px;
  }

  button.take-action {
    float: right;
    display: block;
  }
}

.new-post-post {
  padding: 18px;
}

.new-post-photos {
  border-bottom: 1px $subtle-highlight-color solid;
  padding-top: 18px;
  padding-left: 18px;

  .thumb-photo, .fake-photo {
    margin: 0 18px 18px 0;
  }

  .fake-photo {
    width: 150px;
    height: 150px;
    border: 2px dashed $subtle-highlight-color;
    display: inline-block;
  }
}

.settings {
  position: fixed;
  bottom: 0;
  width: $left-col-width;
  text-align: center;
  background: white;
  border-right: 1px solid $subtle-highlight-color;


  button {
    margin: 20px;
  }
}
