$settings-height: 80px;

a.active .convo, .convo.highlighted {
  background: $highlight-color;
  color: white;

  .sub {
    color: white;
  }

  &:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    border-bottom: 1px $subtle-highlight-color solid;
    z-index: 1;
  }

  &:after {
    border-left: none;
  }
}

.post-message {
  padding: 10px;
}

.convo {
  width: 100%;
  height: $convo-height - 1px;
  background: white;
  padding: $convo-padding $convo-right-padding $convo-padding $convo-padding;
  color: $default-text-color;
  position: relative;
  margin-bottom: 1px;

  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    z-index: 1;
    left: 0;
    width: 100%;
    border-left: (69px + $convo-padding) white solid;
    background: $subtle-highlight-color;
    height: 1px;
  }

  .dot {
    position: absolute;
    top: ($convo-height / 2) - ($convo-dot-size / 2);
    height: $convo-dot-size;
    width: $convo-dot-size;
    background: $highlight-color;
    border-radius: $convo-dot-size / 2;
    right: $convo-padding;
  }

  .details {
    margin-left: 69px;
  }

  .names {
    font-size: 18px;
    font-weight: 600;
    margin-top: 6px;
  }

  .sub {
    height: 20px;
    font-weight: 600;
    color: $subtle-highlight-color;
  }

  .names, .details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.col-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// fix for iPad viewport height issue.
// http://stackoverflow.com/questions/19012135/ios-7-ipad-safari-landscape-innerheight-outerheight-layout-issue
@media (orientation:landscape) {
  html.ipad.ios7 .col-container {
    top: 0;
    width: 100%;
    height: 672px;
    // overflow: scroll;
    // -webkit-overflow-scrolling: touch;
  }
}

.left-col {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  border-right: 1px solid $subtle-highlight-color;
  background: white;
  width: $left-col-width;
  height: 100%;
  padding: $logo-height 0 $settings-height 0;

  @media #{$left-col-fixed-breakpoint} {
    width: $left-col-max-width;
  }
}

.left-col-content {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}


.main-col {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  padding-left: $left-col-width;
  height: 100%;
  padding-top: $logo-height;

  @media #{$left-col-fixed-breakpoint} {
    padding-left: $left-col-max-width;
  }
}

.main-col-content {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.convo {
  .icon, .avatar {
    float: left;
  }
}

.convo-members {
  .icon, .avatar {
    display: inline-block;
    margin-right: 5px;
  }
}


$share-icon-size: 80px;

.share, .convo, .post, .select2-container, .convo-members {
  .icon {
    background: white;
    border: 1px solid $subtle-highlight-color;

    span {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: $highlight-color;
      font-weight: 700;
    }
  }
}

.convo, .post, .select2-container, .convo-members {
  .icon, .avatar {
    height: $convo-icon-size;
    width: $convo-icon-size;
    border-radius: $convo-icon-size / 2;
    overflow: hidden;

    span {
      padding-top: ($convo-icon-size - 16px) / 2;
    }
  }
}

.share {
  .icon, .avatar {
    height: $share-icon-size;
    width: $share-icon-size;
    border-radius: $share-icon-size / 2;

    span {
      font-size: 20px;
      padding-top: ($share-icon-size - 20px) / 2;
    }
  }
}

.convo-members {
  height: $convo-height;
  border-bottom: 1px solid $subtle-highlight-color;
  width: 100%;
  padding: ($convo-height - $convo-icon-size) / 2;
}

.new-group-icon {
  @include sprite-retina($new_group_avatar, $new_group_avatar-2x);
  float: left;
}

.post {
  margin: 20px 25px 0;
  padding-bottom: 20px;
  border-bottom: 1px $subtler-highlight-color solid;

  .icon, .avatar {
    position: absolute;
    left: -($convo-icon-size + 20px);
  }

  .post-photos {
    margin-left: $convo-icon-size + 20px;
    font-size: 0;
  }

  .post-body {
    position: relative;
    margin-left: $convo-icon-size + 20px;
    font-weight: 600;
  }

  .post-author {
    padding-top: 8px;
    margin-bottom: 6px;
    color: $highlight-color;
    font-size: 18px;
    font-weight: 600;
  }

  .post-time {
    color: $subtle-highlight-color;
    height: 20px;
    font-weight: 600;
    margin-top: 6px;
  }

  .post-likes {
    font-size: 14px;
    color: $highlight-color;
    margin-top: 20px;
    font-weight: 500;
  }

  .post-text {
    font-size: 16px;
    margin-top: 20px;
    max-width: 600px;
    margin-right: 20px;

    p {
      margin: 0;
      line-height: 20px;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }

  .large-photo {
    margin-top: 10px;
  }
}

.new-post {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding-left: 100% * ($left-col-width / $main-col-width);
  border-top: 1px $subtle-highlight-color solid;
  background: $bg-color-accent-light;
  width: 100%;

  @media #{$left-col-fixed-breakpoint} {
    padding-left: $left-col-max-width;
  }

  textarea {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 30px 50px 30px;
    height: 93px;
    border-radius: 2px;
    font-weight: 600;
    color: $default-text-color;

    &.has-photos {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-top: none;
    }

    &::-webkit-input-placeholder {
      color: $subtle-highlight-color;
    }

    &::-moz-placeholder {
      color: $subtle-highlight-color;
    }

    &:-ms-input-placeholder {
      color: $subtle-highlight-color;
    }
  }

  .new-post-footer {
    position: absolute;
    padding-bottom: 18px;
    bottom: 20px;
    right: 0;
    width: 100%;
    padding-left: 100% * ($left-col-width / $main-col-width);

    @media #{$left-col-fixed-breakpoint} {
      padding-left: $left-col-max-width;
    }

    .left {
      margin-left: 30px;
    }

    .right {
      margin-top: 6px;
      margin-right: 30px;
    }
  }

  .link-button {
    padding: 4px 25px 2px;
  }

  .with-l-border {
    border-left: 1px solid $subtle-highlight-color;
  }
}

.new-post-post {
  padding: 20px 30px;
}

.new-post-photos {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid $subtle-highlight-color;
  padding-top: 18px;
  padding-left: 18px;
  background: white;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  .photo {
    cursor: default;
  }

  .remove {
    position: absolute;
    top: 0;
    right: 0;
    background: blue;
    width: 50px;
    height: 50px;
  }
}

.settings {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: white;
  height: $settings-height;

  button {
    margin: ($settings-height - $button-height) / 2;
  }
}

.settings-filler {
  height: $settings-height;
  width: 100%;
}

.new-post-filler {
  width: 100%;
  height: 0;
}

.add-moments-icon {
  display: inline-block;
  @include sprite-retina($moments_normal,$moments_normal-2x);
  vertical-align: bottom;
  margin-right: 10px;

  a:hover & {
    @include sprite-retina($moments_hover,$moments_hover-2x);
  }
}

.add-album-icon {
  display: inline-block;
  @include sprite-retina($albums_normal,$albums_normal-2x);
  vertical-align: bottom;
  margin-right: 10px;

  a:hover & {
    @include sprite-retina($albums_hover,$albums_hover-2x);
  }
}

.create-convo-icon {
  border-right-color: $highlight-color-accent;

  &:after {
    margin: 8px 12px 10px 13px;
    @include sprite-retina($create_group, $create_group-2x);
  }
}