@font-face {
  font-family: Brandon Text;
  src: url('/styles/fonts/2BBAAD_0_0.woff');
  font-weight: 100;
}

@font-face {
  font-family: Brandon Text;
  src: url('/styles/fonts/2BBAAD_1_0.woff');
  font-weight: 400;
}

@font-face {
  font-family: Brandon Text;
  src: url('/styles/fonts/2BBAAD_2_0.woff');
  font-weight: 600;
}

@font-face {
  font-family: Brandon Text;
  src: url('/styles/fonts/2BBAAD_3_0.woff');
  font-weight: 700;
}
