.modal-form {
  .form-container {
    padding: 4% 4% 0 4%;
  }

  .toast-banner {
    position: static;
    border: 1px solid;
  }

  input {
    font-size: 1em;
    height: 40px;
    border-radius: 3px;
    padding: 13px 15px 9px 15px;
    font-weight: 600;

    &.error {
      border-color: $highlight-color;
    }
  }

  .form-line {
    margin-top: 7px;
    margin-bottom: 22px;

    button {
      border-radius: 3px;

      &.right-btn {
        margin-left: 10px;
        float: right;
        display: block;
      }
    }
  }

  label {
    color: $button-text-color;
    font-weight: 600;
    margin-left: 6px;

    &.error {
      color: $highlight-color;
    }
  }
}

.form-group {

}