.modal-form {
  .form-container {
    padding: 4% 4% 0 4%;
  }

  .toast-banner {
    position: static;
    border: 1px solid;
  }

  input, textarea {
    font-size: 1em;
    border-radius: 3px;
    padding: 13px 15px 7px;
    font-weight: 600;
    margin: 0;

    &.error {
      border-color: $highlight-color;
    }
  }

  input {
    height: 40px;
  }

  textarea {
    min-height: 150px;
  }

  .form-line {
    margin-top: 7px;

    button {
      border-radius: 3px;

      &.right-btn {
        margin-left: 10px;
        float: right;
        display: block;
      }
    }
  }

  .form-group {
    overflow: hidden;
    margin-bottom: 22px;
  }

  label {
    color: $button-text-color;
    font-weight: 600;
    margin-left: 6px;

    &.error {
      color: $highlight-color;
    }
  }
}

.form-multi-cont {
  overflow: hidden;

  // fixes Firefox issue where top 1px of row was being cut off
  height: 41px;
}
