.mini-nav {
  background: $bg-color-accent;
  max-width: 1000px;

  li {
    margin: 0 32px;
  }
}

.full-nav {
  background: white;
  border-bottom: 1px $subtle-highlight-color solid;
  height: $logo-height;

  button {
    margin: 18px 0;
  }

  ul {
    float: left;
    width: calc(100% - #{$right-col-user-dropdown-ideal-width + $main-col-horiz-padding});
  }

  li {
    float: left;
    margin-left: 95px;
  }

  .logo {
    border-right: 1px $subtle-highlight-color solid;
    width: $logo-width;
    height: $logo-height;
    float: left;
    background: url(/images/heirloom_logo.png) no-repeat;
    background-size: 36px auto;
    background-position: center;
  }

  .not-logged-in {
    padding: 0 54px;
    line-height: 76px;
    vertical-align: middle;
    width: 100%;
  }

  .full-logo {
    height: 76px;
    width: 190px;
    background-size: 76px 190px;
    background: url(/images/regwall_logo.png) no-repeat;
  }
}

.mini-nav, .full-nav {

  position: fixed;
  z-index: 6;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: $logo-height - 1px;
  }

  li {
    display: inline-block;

    &.active {

      a {
        color: $highlight-color;
      }
    }

    a {
      font-weight: bold;
      text-transform: uppercase;
      transition: color 0.25s ease-in-out;
      letter-spacing: 2px;
      display: inline-block;
      // Brandon rides high. This makes up the difference.
      padding-top: 2px;
      color: $subtle-highlight-color;

      &:hover {
        color: $highlight-color;
      }
    }
  }
}

// footer for photo picker
.footer-nav {
  border-top: 1px solid $subtle-highlight-color;
  background: white;
  position: fixed;
  z-index: 5;
  width: 100%;
  max-width: 1000px;
  margin-top: 578px;
  height: 72px;
  padding-left: 60px;
  padding-right: 20px;

  .sub-info {
    line-height: 72px;
    height: 72px;
  }

  button {
    float: right;

    margin: 18px 6px;

    &:active:enabled {
      margin-top: 19px;
    }
  }
}

$user-dropdown-height: 40px;

.user-dropdown {
  display: block;
  margin-right: 3.7453%;
  margin-left: 32px;
  position: relative;
  float: right;
  top: 18px;
  width: 200px;

  .icon {
    border-radius: $user-dropdown-height / 2;
    border: 1px solid $subtle-highlight-color;
    background: white;
    width: $user-dropdown-height;
    height: $user-dropdown-height;
    position: absolute;
    top: 0;
    z-index: 3;

    span {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding-top: ($user-dropdown-height - 14px) / 2;
      color: $highlight-color;
      font-weight: 700;
    }
  }

  .menu {
    border: 1px solid $subtle-highlight-color;
    font-size: 14px;
    position: absolute;
    left: $user-dropdown-height / 2;
    background: white;
    height: $user-dropdown-height;
    transition: height 0.15s ease-in;
    overflow: hidden;
    border-radius: 2px;

    &:hover {
      // This assumes 3 options. For dynamic height, we'll have to rely on JS animation.
      height: 146px;

      .username span {
        color: $highlight-color;
      }

      .menu-item {
        display: block;
      }

      .down-arrow {
        @include sprite-retina($user_toggle_hover, $user_toggle_hover-2x);
      }
    }
  }

  .username {
    padding: 14px 40px 10px 29px;
    width: 181px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    span {
      transition: color 0.15s linear;
      font-weight: bold;
    }
  }

  .menu-item {
    border-top: 1px solid $subtle-highlight-color;
    margin-left: 29px;
    text-align: left;
    padding: 10px 0;
    transition: color 0.1s linear;

    &:hover {
      color: $highlight-color;
    }
  }

  .down-arrow {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 10px;
    transition: border-color 0.15s linear;

    @include sprite-retina($user_toggle, $user_toggle-2x);
  }
}

