.full-nav {
  background: white;
  box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.15);
  height: $logo-height;

  .divider {
    display: inline-block;
    height: $button-height;
    width: 1px;
    background: $subtle-highlight-color;
    vertical-align: middle;
    margin: 0 15px;
  }

  .upload-btn {
    display: none;
  }

  ul {
    float: left;
  }

  li {
    float: left;
  }

  .logo {
    &:after {
      content: '';
      @include sprite-retina($heirloom_icon, $heirloom_icon-2x);
      display: block;
      margin-left: ($logo-width-mobile-1 - $heirloom_icon-width) / 2;
      margin-top: ($logo-height - $heirloom_icon-height) / 2;
    }

    border-right: 1px $subtle-highlight-color solid;
    width: $logo-width-mobile-1;
    height: $logo-height;
    float: left;

    @media #{$breakpoint-mobile-2} {
      width: $logo-width;

      &:after {
        margin-left: ($logo-width - $heirloom_icon-width) / 2;
      }
    }
  }

  .not-logged-in {
    padding: 0 20px;
    line-height: 77px;
    vertical-align: middle;
    width: 100%;

    .logo-with-text {
      margin-top: 4px;
    }

    button {
      vertical-align: middle;
    }

    .right {
      display: none;

      @media #{$breakpoint-mobile-2} {
        display: block;
      }
    }
  }

  .full-logo {
    height: 76px;
    width: 190px;
    background-size: 76px 190px;
    background: url(/images/regwall_logo.png) no-repeat;
  }
}

.full-nav {

  position: fixed;
  z-index: 6;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: $logo-height - 1px;
  }

  li {
    display: none;

    &.active {

      a {
        color: $highlight-color;
      }
    }

    a {
      font-weight: bold;
      text-transform: uppercase;
      transition: color 0.25s ease-in-out;
      letter-spacing: 2px;
      display: inline-block;
      // Brandon rides high. This makes up the difference.
      padding-top: 2px;
      color: $subtle-highlight-color;

      &:hover {
        color: $highlight-color;
      }
    }
  }
}

// footer for photo picker
.footer-nav {
  border-top: 1px solid $subtle-highlight-color;
  background: white;
  position: fixed;
  z-index: 5;
  width: 100%;
  max-width: 1000px;
  margin-top: 578px;
  height: 72px;
  padding-left: 60px;
  padding-right: 20px;

  .sub-info {
    line-height: 72px;
    height: 72px;
  }

  button {
    float: right;

    margin: 18px 6px;

    &:active:enabled {
      margin-top: 19px;
    }
  }
}

$user-dropdown-height: 40px;

.user-dropdown {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  float: right;
  top: 18px;
  width: 179px;
  height: 40px;

  @media #{$breakpoint-desktop-1} {
    margin-right: 20px;
    margin-left: 32px;
  }

  .icon, .avatar {
    border-radius: $user-dropdown-height / 2;
    width: $user-dropdown-height;
    height: $user-dropdown-height;
    position: absolute;
    top: 0;
    z-index: 3;
    border: 1px solid $subtle-highlight-color;
    overflow: hidden;
  }

  .icon {
    background: white;

    span {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding-top: ($user-dropdown-height - 14px) / 2;
      color: $highlight-color;
      font-weight: 700;
    }
  }

  .menu {
    border: 1px solid $subtle-highlight-color;
    font-size: 14px;
    position: absolute;
    left: $user-dropdown-height / 2;
    background: white;
    height: $user-dropdown-height;
    transition: height 0.15s ease-in;
    overflow: hidden;
    border-radius: 2px;

    &:hover {
      height: auto;

      .username span {
        color: $highlight-color;
      }

      .menu-item {
        display: block;
      }

      .down-arrow {
        @include sprite-retina($user_toggle_hover, $user_toggle_hover-2x);
      }
    }
  }

  .menu-item a {
    color: $default-text-color;

    &.active {
      color: $highlight-color;
    }
  }

  .username {
    padding: 14px 40px 10px 29px;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    span {
      transition: color 0.15s linear;
      font-weight: bold;
    }
  }

  .menu-item {
    border-top: 1px solid $subtle-highlight-color;
    margin-left: 29px;
    text-align: left;
    padding: 14px 0 10px;
    transition: color 0.1s linear;

    &:hover {
      color: $highlight-color;
    }
  }

  .down-arrow {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 10px;
    transition: border-color 0.15s linear;

    @include sprite-retina($user_toggle, $user_toggle-2x);
  }
}

@media #{$breakpoint-mobile-2} {
  .full-nav .upload-btn {
    margin: 18px 0 18px 0;
    display: inline-block;
  }

  .menu:hover .menu-item.mobile-only-2 {
    display: none;
  }
}

@media #{$breakpoint-desktop-1} {
  .full-nav li {
    margin-left: 65px;
    display: inline-block;
  }

  .menu:hover .menu-item.mobile-only-1 {
    display: none;
  }
}

@media #{$breakpoint-desktop-2} {
  .full-nav li {
    margin-left: 95px;
  }
}

.badge {
  background: $highlight-color;
  color: white;
  font-size: 12px;
  padding: 4px 7px 2px 7px;
  border-radius: 10px;
  min-width: 10px;
  vertical-align: 2px;
  margin-left: 15px;
  font-weight: 600;
}

