.mini-nav {
  background: $bg-color-accent;
  max-width: 1000px;

  li {
    border-bottom: 5px $bg-color-accent solid;
    margin: 0 32px;
  }
}

.full-nav {
  background: white;
  border-bottom: 1px $subtle-highlight-color solid;

  ul {
    float: left;
    width: calc(100% - #{$right-col-user-dropdown-ideal-width + $main-col-horiz-padding});
  }

  @media screen and (min-width: $user-dropdown-breakpoint) {
    ul {
      width: $main-col-right-inner-edge;
    }
  }

  li {
    border-bottom: 5px white solid;
    float: right;
    margin-left: (64px / $left-main-max-width) * 100%;
  }

  .logo {
    border-right: 1px $subtle-highlight-color solid;
    width: 36px;
    height: 36px;
    padding: 36px 36px 37px 36px;
    float: left;
    background: url(/images/heirloom_logo.png) no-repeat;
    background-size: 36px auto;
    background-position: center;
  }

  .not-logged-in {
    padding: 0 54px;
    line-height: 76px;
    vertical-align: middle;
    width: 100%;
  }

  .full-logo {
    height: 76px;
    width: 190px;
    background-size: 76px 190px;
    background: url(/images/regwall_logo.png) no-repeat;
  }
}

.mini-nav, .full-nav {

  position: fixed;
  z-index: 5;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    padding: 28px 0 23px;

    transition: border-bottom-color .25s ease-in-out;

    &.active {
      border-bottom: 5px $highlight-color solid;

      a {
        color: $highlight-color;
      }
    }

    a {
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      text-transform: uppercase;
      color: $default-text-color;
      transition: color .25s ease-in-out;
      letter-spacing: 2px;

      // Enlarges hover/click target
      padding: 25px;

      &:hover {
        color: $highlight-color;
      }
    }
  }
}

// footer for photo picker
.footer-nav {
  border-top: 1px solid $subtle-highlight-color;
  background: white;
  position: fixed;
  z-index: 5;
  width: 100%;
  max-width: 1000px;
  margin-top: 578px;
  height: 72px;
  padding-left: 60px;
  padding-right: 20px;

  .sub-info {
    line-height: 72px;
    height: 72px;
  }

  button {
    float: right;

    margin: 18px 6px;

    &:active:enabled {
      margin-top: 19px;
    }
  }
}

.user-dropdown {
  display: block;
  margin-right: 3.7453%;
  margin-left: 32px;
  position: relative;
  float: right;
  top: 20px;
  width: 200px;

  .icon {
    border-radius: 17px;
    background: $subtle-highlight-color;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    z-index: 3;
  }

  .menu {
    border: 1px solid $subtle-highlight-color;
    font-size: 14px;
    position: absolute;
    left: 17px;
    background: white;
    border-radius: 3px;
    height: 34px;
    transition: height 0.15s ease-in;
    overflow: hidden;

    &:hover {
      // This assumes 3 options. For dynamic height, we'll have to rely on JS animation.
      height: 140px;

      .username span {
        color: $highlight-color;
      }

      .menu-item {
        display: block;
      }

      .down-arrow {
        border-color: $highlight-color;
      }
    }
  }

  .username {
    padding-left: 29px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 40px;
    width: 181px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    span {
      transition: color 0.15s linear;
      font-weight: bold;
    }
  }

  .menu-item {
    border-top: 1px solid $subtle-highlight-color;
    margin-left: 29px;
    text-align: left;
    padding: 10px 0;
    transition: color 0.1s linear;

    &:hover {
      color: $highlight-color;
    }
  }

  .down-arrow {
    border-radius: 3px;
    height: 15px;
    width: 20px;
    border: 1px solid $default-text-color;
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 10px;
    transition: border-color 0.15s linear;
  }
}

