.full-nav {
  @include subtle-gradient;
}

.full-nav {
  border-bottom: 1px $subtle-highlight-color solid;
  height: $logo-height;
  width: 100%;
  position: fixed;
  z-index: 6;

  .divider {
    display: inline-block;
    height: $button-height;
    width: 1px;
    background: $subtle-highlight-color;
    vertical-align: middle;
    margin: 0 15px;
  }

  .upload-btn {
    display: none;
    background: rgba(255,255,255,0);
  }

  ul {
    float: left;
  }

  li {
    float: left;
  }

  .logo {
    &:after {
      content: '';
      @include sprite-retina($heirloom_icon, $heirloom_icon-2x);
      display: block;
      margin-left: ($logo-width-mobile-1 - $heirloom_icon-width) / 2;
      margin-top: ($logo-height - $heirloom_icon-height) / 2;
    }

    border-right: 1px $subtle-highlight-color solid;
    width: $logo-width-mobile-1;
    height: $logo-height;
    float: left;

    @media #{$breakpoint-mobile-2} {
      width: $logo-width;

      &:after {
        margin-left: ($logo-width - $heirloom_icon-width) / 2;
      }
    }
  }

  .not-logged-in {
    padding: 0 20px;
    line-height: 77px;
    vertical-align: middle;
    width: 100%;

    .logo-with-text {
      margin-top: 4px;
    }

    button {
      vertical-align: middle;
    }

    .right {
      display: none;

      @media #{$breakpoint-mobile-2} {
        display: block;
      }
    }
  }

  .full-logo {
    height: 76px;
    width: 190px;
    background-size: 76px 190px;
    background: url(/images/regwall_logo.png) no-repeat;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: $logo-height - 1px;
  }

  li {
    display: none;

    &.active {

      a {
        color: $highlight-color;
      }
    }

    a {
      font-weight: bold;
      text-transform: uppercase;
      transition: color 0.25s ease-in-out;
      letter-spacing: 2px;
      display: inline-block;
      // Brandon rides high. This makes up the difference.
      padding-top: 2px;
      color: $subtle-highlight-color;

      &:hover {
        color: $highlight-color;
      }
    }
  }
}


$user-dropdown-height: 40px;

.user-dropdown {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  float: right;
  top: 18px;
  width: 179px;
  height: 40px;

  @media #{$breakpoint-desktop-1} {
    margin-right: 20px;
    margin-left: 32px;
  }

  .icon, .avatar {
    width: $user-dropdown-height;
    height: $user-dropdown-height;
    position: absolute;
    top: 0;
    z-index: 3;
    border: 1px solid $subtle-highlight-color;
  }

  .icon span {
    padding-top: ($user-dropdown-height - 16px) / 2;
  }

  .menu {
    border: 1px solid $subtle-highlight-color;
    font-size: 14px;
    position: absolute;
    left: $user-dropdown-height / 2;
    height: $user-dropdown-height;
    overflow: hidden;
    border-radius: 2px;

    &:hover:not(.menu-closed), &.menu-open {
      height: auto;
      box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.15);

      .username span {
        color: $highlight-color;
      }

      .menu-item {
        display: block;
      }

      .down-arrow {
        @include sprite-retina($user_toggle_hover, $user_toggle_hover-2x);
      }
    }
  }

  .menu-item a {
    color: $default-text-color;

    &.active {
      color: $highlight-color;
    }
  }

  .username {
    padding: 13px 40px 6px 29px;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    span {
      transition: color 0.15s linear;
      font-weight: bold;
    }
  }

  .menu-item {
    background: white;
    border-top: 1px solid $subtle-highlight-color;
    text-align: left;
    padding: 11px 0 7px 29px;
    transition: color 0.1s linear;

    &:hover {
      color: $highlight-color;
    }
  }

  .down-arrow {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 10px;
    transition: border-color 0.15s linear;

    @include sprite-retina($user_toggle, $user_toggle-2x);
  }
}

@media #{$breakpoint-mobile-2} {
  .full-nav .upload-btn {
    margin: 18px 0 18px 0;
    display: inline-block;
  }

  .menu:hover:not(.menu-closed), .menu.menu-open {
    .menu-item.mobile-only-2 {
      display: none;
    }
  }
}

@media #{$breakpoint-desktop-1} {
  .full-nav li {
    margin-left: 65px;
    display: inline-block;
  }

  .menu:hover:not(.menu-closed), .menu.menu-open {
    .menu-item.mobile-only-1 {
      display: none;
    }
  }
}

@media #{$breakpoint-desktop-2} {
  .full-nav li {
    margin-left: 95px;
  }
}

.badge {
  background: $highlight-color;
  color: white;
  font-size: 12px;
  padding: 7px 9px 5px 11px;
  border-radius: 12px;
  min-width: 10px;
  vertical-align: 2px;
  margin-left: 15px;
  font-weight: 600;
}

.logo-with-text {
  height: 72px;
  width: 206px;
  background: url(/images/heirloom_logo_2.png) no-repeat;

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5), screen and (min--moz-device-pixel-ratio: 1.5) {
    background: url(/images/heirloom_logo@2x.png) no-repeat;
    background-size: 206px 72px;
  }
}
