.images-container {
  margin-top: 16px;
  display: inline-block;
}


.photo-grouping {
  h2 {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    color: #797979;
  }

  .border {
    border-top: 1px solid $subtle-highlight-color;
    display: inline-block;
  }

  margin-top: 20px;
}

.groupings-container {
  margin: 0 #{$logo-width - $photo-margin} 0 $logo-width;
}

.albums-container {
  margin: $album-margin auto 0;
  padding: 0 #{$logo-width - $album-margin} 0 $logo-width;

  .toolbar {
    margin-bottom: 36px;
    margin-right: $album-margin;
  }
}

.photos-container {
  margin: $photo-margin auto 0;
  padding: 0 #{$logo-width - $photo-margin} 0 $logo-width;

  .toolbar {
    margin-right: $photo-margin;
    margin-bottom: $photo-margin;
  }
}

.toolbar {
  height: $logo-height;
  border-bottom: 1px solid $subtle-highlight-color;
  line-height: $logo-height;
  text-align: right;
}

.selection-toolbar {
  height: $logo-height;
  border-bottom: 1px solid $subtle-highlight-color;
  line-height: $logo-height + 3px; // fudge factor because buttons don't quite vertically center otherwise
  position: fixed;
  top: $logo-height;
  left: 0;
  width: 100%;
  z-index: 2;
  background: $bg-color-accent;
  padding: 0 $logo-height;

  .num-selected {
    width: 220px;
    display: inline-block;
  }
}

.photo {
  width: $photo-width;
  height: $photo-width;
  vertical-align: top;
  margin: 0 $photo-margin $photo-margin 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &.processing {
    opacity: 0.5;
  }
}

.count-text {
  color: $default-text-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;

  .alternate {
    color: $default-text-color;
  }
}

.create-new-album {
  display: inline-block;
  width: $album-width;
  height: $album-width;
  margin: 0 $album-margin $album-margin 0;
  border: 4px solid $subtle-highlight-color;
  vertical-align: top;
  position: relative;
  // transition: border-color 0.05s linear;
  cursor: pointer;

  .caption {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 175px;
    font-weight: 700;
    color: $subtle-highlight-color;

    // transition: color 0.05s linear;
  }

  &:after {
    content: '';
    position: absolute;
    margin-top: 0 - ($create_album-width / 2);
    margin-left: 0 - ($create_album-height / 2);
    top: $album-width / 2;
    left: $album-width / 2;
    @include sprite-retina($create_album, $create_album-2x);
  }

  &:hover {
    border-color: $highlight-color;

    &:after {
      @include sprite-retina($create_album_hover, $create_album_hover-2x);
    }

    .caption {
      color: $highlight-color;
    }
  }

  &:active {
    border-color: $highlight-color-2;

    &:after {
      @include sprite-retina($create_album_pressed, $create_album_pressed-2x)
    }

    .caption {
      color: $highlight-color-2;
    }
  }
}