.images-container {
  margin-top: 16px;
  display: inline-block;
}

.album-photos-container {
  margin: 0 auto;
  padding: 0 0 0 $photo-margin;

  @media #{$breakpoint-desktop-1} {
    padding: 0 #{$logo-width - $photo-margin} 0 $logo-width;
  }

  .toolbar {
    margin: 0 $photo-margin $photo-margin 0;
    text-align: left;

    button {
      margin: 18px 0 18px 10px;
    }

    h3 {
      margin: 0;
      padding-top: 2px;
    }

    a {
      color: $subtle-highlight-color;

      &:hover {
        color: $highlight-color;
      }

      &:active {
        color: $highlight-color-2;
      }
    }
  }
}

.crumb-divider {
  color: $subtle-highlight-color;
  margin: 0 5px;
}

.albums-container {
  margin: $album-margin auto 0;
  padding: 0 0 0 $album-margin;

  @media #{$breakpoint-desktop-1} {
    padding: 0 #{$logo-width - $album-margin} 0 $logo-width;
  }

  .toolbar {
    margin-bottom: 36px;
    margin-right: $album-margin;
  }
}

.photos-container {
  margin: $photo-margin auto 0;
  padding: 0 0 0 $photo-margin;

  .toolbar {
    margin-right: $photo-margin;
    margin-bottom: $photo-margin;
  }

  @media #{$breakpoint-desktop-1} {
    padding: 0 #{$logo-width - $photo-margin} 0 $logo-width;
  }
}

.toolbar {
  height: $logo-height;
  border-bottom: 1px solid $subtle-highlight-color;
  line-height: $logo-height;
  text-align: right;
}

.selection-toolbar, .change-cover-toolbar {
  height: $logo-height;
  border-bottom: 1px solid $subtle-highlight-color;
  line-height: $logo-height + 3px; // fudge factor because buttons don't quite vertically center otherwise
  position: fixed;
  top: $logo-height;
  left: 0;
  width: 100%;
  z-index: 5;
  background: $bg-color-accent;
  animation: slidedown 0.3s ease-in-out;
  padding: 0 $photo-margin;

  @media #{$breakpoint-desktop-1} {
    padding: 0 $logo-width;
  }

  .num-selected {
    width: 175px;
    display: inline-block;
  }

  &.removing {
    transform: translateY(-$logo-height);
    animation: slideup 0.3s ease-in-out;
  }

  button {
    vertical-align: middle;
  }
}

.alt-toolbar {
  @include subtle-gradient-2;
}

@keyframes slidedown {
  0%      { transform: translateY(-$logo-height) }
  100%    { transform: translateY(0) }
}

@keyframes slideup {
  0%      { transform: translateY(0) }
  100%    { transform: translateY(-$logo-height) }
}

.photo, .post-photo {
  vertical-align: top;

  display: inline-block;
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &.processing {
    opacity: 0.5;
  }
}

.photo {
  width: $photo-width-small;
  height: $photo-width-small;
  margin: 0 $photo-margin $photo-margin 0;

  @media #{$breakpoint-desktop-1} {
    width: $photo-width;
    height: $photo-width;
  }
}

.post-photo {
  width: $post-photo-width;
  height: $post-photo-width;
  margin: 0 12px 12px 0;
  border-radius: 5px;
  overflow: hidden;

  &.mosaic-2, &.mosaic-3 {
    img:nth-of-type(1) {
      clip: rect(0px,$post-photo-width,($post-photo-width / 2) - 2px,0px);
      position: absolute;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &.mosaic-2 {
    img:nth-of-type(2) {
      clip: rect(($post-photo-width / 2) + 2px, $post-photo-width, $post-photo-width, 0);
      // clip: rect(0px,$post-photo-width,,0px);
      position: absolute;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  &.mosaic-3 img:nth-of-type(2), &.mosaic-4 img:nth-of-type(3) {
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 0;
    left: 0;
    padding: 2px 2px 0 0;
    border-bottom-left-radius: 5px;
  }

  &.mosaic-3 img:nth-of-type(3), &.mosaic-4 img:nth-of-type(4) {
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 0;
    right: 0;
    padding: 2px 0 0 2px;
    border-bottom-right-radius: 5px;
  }

  &.mosaic-4 {
    img:nth-of-type(1) {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 0;
      left: 0;
      padding: 0 2px 2px 0;
      border-top-left-radius: 5px;
    }

    img:nth-of-type(2) {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 0;
      right: 0;
      padding: 0 0 2px 2px;
      border-top-right-radius: 5px;
    }
  }
}

.count-text {
  color: $default-text-color;
  font-weight: bold;

  .alternate {
    color: $default-text-color;
  }
}

.create-new-album, .album {
  width: $album-width-small;
  height: $album-width-small;
  margin: 0 $album-margin $album-margin 0;

  @media #{$breakpoint-desktop-1} {
    width: $album-width;
    height: $album-width;
  }
}

.create-new-album {
  display: inline-block;
  border: 4px solid $subtle-highlight-color;
  vertical-align: top;
  position: relative;
  // transition: border-color 0.05s linear;
  cursor: pointer;


  .caption {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 77%;
    font-size: 19px;
    font-weight: 600;
    color: $subtle-highlight-color;

    // transition: color 0.05s linear;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include sprite-retina($create_album, $create_album-2x);
  }

  &:hover, &.selected {
    border-color: $highlight-color;

    &:after {
      @include sprite-retina($create_album_hover, $create_album_hover-2x);
    }

    .caption {
      color: $highlight-color;
    }
  }

  &:active {
    border-color: $highlight-color-2;

    &:after {
      @include sprite-retina($create_album_pressed, $create_album_pressed-2x)
    }

    .caption {
      color: $highlight-color-2;
    }
  }
}

.settings-container {
  position: relative;
  display: inline-block;
}


.gallery-photo, .thumb-photo {
  height: 200px;
  width: 200px;
  margin: 2em 0 0 2em;

  display: inline-block;
  vertical-align: top;

  overflow: hidden;
}

.gallery-photo, .thumb-photo, .photo {
  .select {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    cursor: pointer;

    &:hover, &.selected {
      @include sprite-retina($checkmark_active, $checkmark_active-2x);
    }
  }

  .remove-photo-icon {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    cursor: pointer;
    display: none;
    @include sprite-retina($delete_photo, $delete_photo-2x);
  }
}

.gallery-photo, .thumb-photo, .selection-mode .photo, .photo:hover, .photo.selection-mode, .picker-content .photo, .has-touch .photo {
  .select {
    @include sprite-retina($checkmark_hover, $checkmark_hover-2x);

    &:hover, &.selected {
      @include sprite-retina($checkmark_active, $checkmark_active-2x);
    }
  }

  .remove-photo-icon {
    display: block;
  }
}

.photo {
  .select {
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 6px solid $highlight-color;
    transition: opacity 0.15s linear;
    opacity: 0;
    z-index: 1;
  }

  &.selected::before {
    opacity: 1;
  }
}

.album {
  position: relative;
  background-color: $subtle-highlight-color;
  background-size: 100% auto;
  background-position: 50%;
  transition: opacity .1s ease-in-out;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }

  &::after {
    content: '';
    box-shadow: inset 0px -86px 44px -30px rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
  }

  &::before {
    width: 100%;
    height: 100%;
  }


  .count, .title {
    position: absolute;
    color: white;
    z-index: 4;
    left: $album-padding;
    max-width: #{$album-width - ($album-padding * 2)};
    word-wrap: break-word;
    font-weight: 600;
  }

  .title {
    bottom: 40px;
    font-size: 20px;
  }

  .count {
    bottom: 20px;
    font-size: 14px;

    &:before {
      content: '';
      display: inline-block;
      @include sprite-retina($album_icon, $album_icon-2x);
      margin-bottom: -3px;
      margin-right: 5px;
    }
  }
}

.gallery-photo {
  cursor: pointer;
}

.thumb-photo {
  height: 150px;
  width: 150px;
}

