.images-container {
  margin-top: 16px;
  display: inline-block;
}


.photo-grouping {
  h2 {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    color: #797979;
  }

  .border {
    border-top: 1px solid $subtle-highlight-color;
    display: inline-block;
  }

  margin-top: 20px;
}

.album-photos-container {
  margin: 0 auto;
  padding: 0 #{$logo-width - $photo-margin} 0 $logo-width;

  .toolbar {
    margin: 0 $photo-margin $photo-margin 0;
    text-align: left;

    button {
      margin: 18px 0 18px 10px;
    }

    h3 {
      margin: 0;
      padding-top: 2px;
    }

    a {
      color: $subtle-highlight-color;

      &:hover {
        color: $highlight-color;
      }

      &:active {
        color: $highlight-color-2;
      }
    }
  }
}

.crumb-divider {
  color: $subtle-highlight-color;
  margin: 0 5px;
}

.groupings-container {
  margin: 0 #{$logo-width - $photo-margin} 0 $logo-width;
}

.albums-container {
  margin: $album-margin auto 0;
  padding: 0 #{$logo-width - $album-margin} 0 $logo-width;

  .toolbar {
    margin-bottom: 36px;
    margin-right: $album-margin;
  }
}

.photos-container {
  margin: $photo-margin auto 0;
  padding: 0 0 0 $photo-margin;

  .toolbar {
    margin-right: $photo-margin;
    margin-bottom: $photo-margin;
  }

  @media #{$breakpoint-desktop-1} {
    padding: 0 #{$logo-width - $photo-margin} 0 $logo-width;
  }
}

.toolbar {
  height: $logo-height;
  border-bottom: 1px solid $subtle-highlight-color;
  line-height: $logo-height;
  text-align: right;
}

.selection-toolbar, .change-cover-toolbar {
  height: $logo-height;
  border-bottom: 1px solid $subtle-highlight-color;
  line-height: $logo-height + 3px; // fudge factor because buttons don't quite vertically center otherwise
  position: fixed;
  top: $logo-height;
  left: 0;
  width: 100%;
  z-index: 5;
  background: $bg-color-accent;
  animation: slidedown 0.3s ease-in-out;
  padding: 0 $photo-margin;

  @media #{$breakpoint-desktop-1} {
    padding: 0 $logo-width;
  }

  .num-selected {
    width: 220px;
    display: inline-block;
  }

  &.removing {
    transform: translateY(-$logo-height);
    animation: slideup 0.3s ease-in-out;
  }
}

@keyframes slidedown {
  0%      { transform: translateY(-$logo-height) }
  100%    { transform: translateY(0) }
}

@keyframes slideup {
  0%      { transform: translateY(0) }
  100%    { transform: translateY(-$logo-height) }
}

.photo, .post-photo {
  vertical-align: top;

  display: inline-block;
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  &.processing {
    opacity: 0.5;
  }
}

.photo {
  width: 170px;
  height: 170px;
  margin: 0 $photo-margin $photo-margin 0;

  @media #{$breakpoint-desktop-1} {
    width: $photo-width;
    height: $photo-width;
  }
}

.post-photo {
  width: $post-photo-width;
  height: $post-photo-width;
  margin: 0 12px 12px 0;
  border-radius: 5px;
  overflow: hidden;

  &.mosaic-2, &.mosaic-3 {
    img:nth-of-type(1) {
      clip: rect(0px,$post-photo-width,($post-photo-width / 2) - 2px,0px);
      position: absolute;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &.mosaic-2 {
    img:nth-of-type(2) {
      clip: rect(($post-photo-width / 2) + 2px, $post-photo-width, $post-photo-width, 0);
      // clip: rect(0px,$post-photo-width,,0px);
      position: absolute;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  &.mosaic-3 img:nth-of-type(2), &.mosaic-4 img:nth-of-type(3) {
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 0;
    left: 0;
    padding: 2px 2px 0 0;
    border-bottom-left-radius: 5px;
  }

  &.mosaic-3 img:nth-of-type(3), &.mosaic-4 img:nth-of-type(4) {
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 0;
    right: 0;
    padding: 2px 0 0 2px;
    border-bottom-right-radius: 5px;
  }

  &.mosaic-4 {
    img:nth-of-type(1) {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 0;
      left: 0;
      padding: 0 2px 2px 0;
      border-top-left-radius: 5px;
    }

    img:nth-of-type(2) {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 0;
      right: 0;
      padding: 0 0 2px 2px;
      border-top-right-radius: 5px;
    }
  }
}

.count-text {
  color: $default-text-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;

  .alternate {
    color: $default-text-color;
  }
}

.create-new-album {
  display: inline-block;
  width: $album-width;
  height: $album-width;
  margin: 0 $album-margin $album-margin 0;
  border: 4px solid $subtle-highlight-color;
  vertical-align: top;
  position: relative;
  // transition: border-color 0.05s linear;
  cursor: pointer;


  .caption {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 175px;
    font-size: 19px;
    font-weight: 600;
    color: $subtle-highlight-color;

    // transition: color 0.05s linear;
  }

  &:after {
    content: '';
    position: absolute;
    margin-top: 0 - ($create_album-width / 2);
    margin-left: 0 - ($create_album-height / 2);
    top: $album-width / 2;
    left: $album-width / 2;
    @include sprite-retina($create_album, $create_album-2x);
  }

  &:hover, &.selected {
    border-color: $highlight-color;

    &:after {
      @include sprite-retina($create_album_hover, $create_album_hover-2x);
    }

    .caption {
      color: $highlight-color;
    }
  }

  &:active {
    border-color: $highlight-color-2;

    &:after {
      @include sprite-retina($create_album_pressed, $create_album_pressed-2x)
    }

    .caption {
      color: $highlight-color-2;
    }
  }
}

.settings-container {
  position: relative;
  display: inline-block;
}