.images-container {
  margin-top: 16px;
  display: inline-block;
}


.photo-grouping {
  h2 {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    color: #797979;
  }

  .border {
    border-top: 1px solid $subtle-highlight-color;
    display: inline-block;
  }

  margin-top: 20px;
}

.groupings-container {
  margin: 0 #{73px - $photo-margin} 0 73px;

  .toolbar {
    margin-right: $photo-margin;
  }
}

.albums-container {
  margin: 0 #{73px - $album-margin} 0 73px;

  .toolbar {
    margin-bottom: 36px;
    margin-right: $album-margin;
  }
}

.toolbar {
  height: 72px;
  border-bottom: 1px solid $subtle-highlight-color;
  line-height: 72px;
  text-align: right;
}

.selection-toolbar {
  height: 72px;
  border-bottom: 1px solid $subtle-highlight-color;
  line-height: 72px;
  position: fixed;
  top: 74px;
  left: 0;
  width: 100%;
  z-index: 2;
  background: $bg-color-accent;
  padding: 0 73px;

  .num-selected {
    width: 220px;
    display: inline-block;
  }
}

.photo {
  width: 186px;
  margin: 0 $photo-margin $photo-margin 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.count-text {
  color: $highlight-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}