@import 'spritesheetPreLaunch';
@import 'spritesheetPreLaunch-2x';

$video-height: 1404px;
$video-width: 790px;
$horiz-break-color: rgb(243,243,243);
$video-height-vw: #{$video-width / $video-height}px;
$tablet-size: "only screen and (max-width : 1024px)";
$phone-size: "only screen and (max-width : 568px)";
$input-border-color: rgb(225,228,228);

$button-hover-color: rgb(206,67,39);
$button-color-shadow: rgb(206,78,56);
$alt-text-color: rgb(55,53,54);

.homepage input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.first {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: hidden;
  height: 550px;
  height: 55vw; // 790 / 1404px - fudge for IE
  width: 100%;

  .flex-height-cont {
    height: 550px;
    height: 55vw; // 790 / 1404px - fudge for IE

    @media #{$tablet-size} {
      height: 500px;
    }
  }

  @media #{$tablet-size} {
    height: 500px;
    background: url(/images/video_placeholder_web_small.jpg) no-repeat 58% 56%;
background-size: auto 576px;
  }
}

.img-cont {
  width: 100%;

  img {
    width: 100%;
  }
}

.second {
  width: 100%;
  background-image: url(/images/homepage-product-bg.jpg);
  background-size: cover;
  border-top: 2px solid $highlight-color;
  height: 600px;
  min-height: 600px;
  height: 100vh; /* 790 / 1404px*/
  position: relative;

  .left-section {
    position: absolute;
    left: 0;
    width: 50%;
    top: 45%;

  }

  .right-section {
    position: absolute;
    height: 90%;
    left: 50%;
    width: 50%;
    top: 0;
    display: table;

  }

  .flex-height-cont {
    height: 100vh;
  }

  @media #{$tablet-size} {
    height: 900px;
    background-image: url(/images/product_background_small.jpg);

    .flex-height-cont {
      height: 900px;
    }

    .left-section {
      position: static;
      width: 100%;
      height: auto;
    }

    .right-section {
      position: static;
      width: 100%;
      display: block;
      height: auto;
    }
  }
}

.hp-phone-cont {
  height: 552px;
  width: 485px;
  margin-top: -253px;
  float: right;
  padding-right: 18px;

  @media #{$tablet-size} {
    float: none;
    margin: 30px auto;
    padding: 0;
    height: auto;
    width: auto;
  }
}

.hp-phone {
  background: url(/images/phones_homepage_smaller.png) no-repeat;
  height: 552px;
  width: 485px;

  @media #{$tablet-size} {
    background-size: 100% auto;
    height: 552px * 0.8;
    width: 485px * 0.8;
    margin: 0 auto;
  }

  @media #{$phone-size} {
    height: 552px * 0.6;
    width: 485px * 0.6;
    margin: 0 auto;
  }
}

.hp-phone-copy {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 42px;

  p.description {
    width: 70%;
    max-width: 410px;
    line-height: 1.6em;
    color: $alt-text-color;
    font-size: 1.25em;
    margin-bottom: 1.9em;
  }

  @media #{$tablet-size} {
    float: none;
    margin: 50px auto 30px;
    padding: 0;
    display: block;
    text-align: center;

    p.description {
      margin: 0 auto;
    }
  }

  @media #{$phone-size} {
    p.description {
      font-size: 1.15em;
    }
  }
}

.third {
  width: 100%;
  border-top: 2px solid $highlight-color;
  background: white;

  @media #{$tablet-size} {
    // display: none;
  }
}

video {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  overflow: hidden;

  @media #{$tablet-size} {
    display: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  background: rgba(0,0,0,0.45);
  width: 100%;
  height: 100%;
}

.flex-height-cont {
  min-height: 400px;
  height: 600px; // fallback
  max-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.top-nav {
  margin: 8px 33px 0 22px;
}

.hp-tag-cont {
  float: right;
  margin-top: 24px;

  @media #{$tablet-size} {
    display: none;
  }
}

.hp-tag {
  display: inline-block;
  vertical-align: middle;
  padding-top: 4px;
  margin-right: 20px;

  span {
    color: white;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.hp-break {
  width: 0;
  height: 34px;
  border-right: 1px solid rgba(255,255,255,0.70);
  display: inline-block;
  vertical-align: middle;
}

.hp-logo-cont {
  float: left;

  @media #{$tablet-size} {
    float: none;
  }
}


.hp-logo {
  margin-top: 11px;
  @include sprite-retina($heirloom_logo_shadow, $heirloom_logo_shadow-2x);

  @media #{$tablet-size} {
    margin: 30px auto;
    float: none;
  }

  @media #{$phone-size} {
    transform: scale(0.85);
  }
}

.hp-mobile-footer {
  display: none;

  .hp-notify {
    width: 170px;
    height: 45px;
    font-size: 1em;
    margin-left: 0;
    line-height: 16px;
    vertical-align: middle;
    padding: 16px 0 15px 0;
  }

  @media #{$tablet-size} {
    display: block;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    left: 0;
  }
}

.hp-mobile-tag {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

$social-icon-width: 30px;
$social-icon-spacing: 25px;

.hp-social {
  display: inline-block;
  margin-left: $social-icon-spacing;

  span {
    vertical-align: middle;
    display: inline-block;

    opacity: 0.85;
    transition: opacity 0.1s ease-in;

    &:hover {
      opacity: 1;
    }
  }
}

.hp-footer-social {
  text-align: center;
  margin: 43px 0;

  span {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.1s ease-in;

    &:hover {
      opacity: 0.55;
    }
  }
}

.hp-instagram {
  @include sprite-retina($instagram_logo, $instagram_logo-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $instagram_logo-width) / 2);
  margin-left: (($social-icon-width - $instagram_logo-width) / 2) + 2px;
}

.hp-twitter {
  @include sprite-retina($twitter_logo, $twitter_logo-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $twitter_logo-width) / 2);
  margin-left: (($social-icon-width - $twitter_logo-width) / 2);
}

.hp-fb {
  @include sprite-retina($fb_logo, $fb_logo-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $fb_logo-width) / 2) + 2px;
  margin-left: (($social-icon-width - $fb_logo-width) / 2) - 2px;
}

.hp-instagram-dark {
  @include sprite-retina($instagram_logo_dark, $instagram_logo_dark-2x);

  // margin-right: $social-icon-spacing + (($social-icon-width - $instagram_logo_dark-width) / 2);
  margin-left: (($social-icon-width - $instagram_logo_dark-width) / 2);
}

.hp-youtube-dark {
  @include sprite-retina($youtube_logo_dark, $youtube_logo_dark-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $youtube_logo_dark-width) / 2);
  margin-left: (($social-icon-width - $youtube_logo_dark-width) / 2);
}

.hp-twitter-dark {
  @include sprite-retina($twitter_logo_dark, $twitter_logo_dark-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $twitter_logo_dark-width) / 2);
  margin-left: (($social-icon-width - $twitter_logo_dark-width) / 2);
}

.hp-fb-dark {
  @include sprite-retina($fb_logo_dark, $fb_logo_dark-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $fb_logo_dark-width) / 2);
  // margin-left: (($social-icon-width - $fb_logo_dark-width) / 2);
}

.hp-action {
  display: inline-block;
}

.hp-notify {
  display: inline-block;
  vertical-align: middle;
  margin-left: 18px;
  width: 126px;
  height: 34px;
  border-radius: 1px;
  border: 0;
  background: $highlight-color;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 11px 0 7px 0;
  text-align: center;
  font-size: 0.8em;
  line-height: 16px;
  box-sizing: border-box;

  &.hp-larger {
    font-size: 1em;
  }

  &:hover {
    background: $button-hover-color
  }
}



.hp-center {
  position: absolute;
  top: 56%;
  left: 50%;
  margin-left: -$play_button-width / 2;
  margin-top: -$play_button-height / 2;
}

.hp-play {
  display: inline-block;
  @include sprite-retina($play_button, $play_button-2x);

  &:hover {
    @include sprite-retina($play_button_hover, $play_button_hover-2x);
  }
}

.hp-bottom {
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -$down_carrot_white-width / 2;

}

.hp-next {
  display: inline-block;
  @include sprite-retina($down_carrot_white, $down_carrot_white-2x);

  opacity: 0.85;
  transition: opacity 0.15s ease-in;

  &:hover {
    opacity: 1;
  }

  @media #{$tablet-size} {
    display: none;
  }
}

.hp-next-blk {
  display: inline-block;
  @include sprite-retina($down_carrot_black, $down_carrot_black-2x);

  @media #{$tablet-size} {
    display: none;
  }
}

.homepage .hp-copy {
  position: absolute;
  width: 100%;
  top: 56%;
  text-align: center;
  margin-top: -200px;
  text-align: center;

  @media #{$tablet-size} {
    top: 22%;
    display: table;
    height: 7.5em;
    margin-top: 0;

    h1 {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 2em;
      vertical-align: middle;
      display: table-cell;
    }
  }
}

.hp-store-ios {
  display: inline-block;
  @include sprite-retina($app_store, $app_store-2x);
}

.hp-store-android {
  display: inline-block;
  @include sprite-retina($google_play, $google_play-2x);
  margin-left: 3px;
}

.hp-footer-logo {
  @include sprite-retina($footer_logo, $footer_logo-2x);
  margin: 60px auto;
}

.hp-h-break {
  width: 512px;
  margin: 0 auto;

  border-bottom: 2px solid $horiz-break-color;
}

.hp-notify-cont {
  margin: 60px auto 43px;
  padding: 0 3%;
  text-align: center;
  max-width: 580px;
}

input.hp-text {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 65%;
  height: 45px;
  padding: 4px 0 0 18px;
  margin: 0;
  display: inline-block;
  border-left: 1px solid $input-border-color;
  border-top: 1px solid $input-border-color;
  border-bottom: 1px solid $input-border-color;
  border-right: none;
  color: $alt-text-color;
  vertical-align: top;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-size: 1.25em;
}

input.hp-submit {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 147px;
  height: 45px;
  vertical-align: middle;
  border: 0;
  display: inline-block;
  padding: 16px 0 15px 0;
  background: $highlight-color;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 16px;
  box-shadow: inset 0px -2px 0 0 $button-color-shadow;
  width: 35%;
  box-sizing: border-box;
  max-width: 147px;

  &:hover {
    background: $button-hover-color
  }

  &.sent {
    background: green;
  }

  @media #{$phone-size} {
    letter-spacing: 1px;
    font-size: 0.8em;
    // padding-top: 2px;
  }
}

.homepage .hp-footer-links {
  text-align: center;

  h4 {
    display: inline;
    margin: 0 30px;
    letter-spacing: 2px;
    font-size: 1em;
  }

  a {
    text-decoration: none;
  }
}

.hp-copyright {
  text-align: center;

  a {
    color: $alt-text-color;
    font-weight: 700;
    text-decoration: underline;
  }
}

.homepage {
  h1 {
    color: white;
    font-weight: 400;
    font-size: 3em;
    margin: 0 auto;
    max-width: 650px;
    line-height: 1.3em;
  }

  h2 {
    color: $alt-text-color;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.7em;
    line-height: 1.3em;
    max-width: 380px;

    @media #{$tablet-size} {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    @media #{$breakpoint-mobile-2} {
      font-size: 1.9em;
    }
  }

  h4 {
    color: $alt-text-color;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 1.2em;
  }
}


.hp-lightbox {
  cursor: pointer;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #373536;
  top: 0;
  left: 0;
  text-align: center;
  display: table;
}

.video-cont-cont {
  display: table-cell;
  vertical-align: middle;
}

.video-cont {
  width: 100%;
  max-width: 1024px;
  display: inline-block;
  position: relative;
  text-align: center;

  .hp-height-filler {
    margin-top: 56.25%;
  }

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
  }
}

.exit-video {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 2;
  cursor: pointer;
  opacity: 0.85;
  transition: opacity 0.1s ease-in;
  @include sprite-retina($exit_video, $exit_video-2x);

  &:hover {
    opacity: 1;
  }
}

.shoutouts {
  margin: 20px;
  text-align: center;
}

.noscroll { overflow: hidden; }
