.search .select2-drop {
  display: block !important;
}

.search .select2-choice {
  display: none;
}

.search {
  width: 100% !important;
}

.open-mode .select2-container .select2-results {
  display: none;
}

$contact-result-height: 88px;

.select2-container .select2-search input.select2-active {
  // TODO: add loading state
}

.select2-container-multi .select2-choices .select2-search-choice {
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
  border: 2px solid $highlight-color;
  border-radius: 6px;
  line-height: 27px;
  height: 35px;
  padding: 3px 54px 3px 21px;
  background: white;

  &.select2-search-choice-focus {
    border-color: $highlight-color-2;

    &::after {
      border-color: $highlight-color-2;
    }
  }

  span {
    cursor: default;
  }

  &::after {
    content: '';
    height: 33px;
    width: 1px;
    border-right: 2px solid $highlight-color;
    position: absolute;
    top: 0;
    right: 33px;
  }
}

.select2-container .select2-results {
  padding: 0;
  margin: -2px 0 0 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 1px solid $subtler-highlight-color;
  border-right: 1px solid $subtler-highlight-color;
  border-bottom: 1px solid $subtler-highlight-color;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
  background: white;

  li {
    font-weight: 600;
    list-style: none;
    cursor: pointer;
    display: list-item;
    padding: 12px 12px 9px 14px;
  }

  .select2-highlighted {
    background: $form-selection-color;
    color: white;
  }
}

.contacts {
  &.select2-container .select2-results {
    max-height: $contact-result-height * 3;
    border: none;

    li {
      border-bottom: 1px solid $subtle-highlight-color;
      height: $contact-result-height;
      line-height: 80%;
      padding: 0;
    }

    .select2-highlighted {
      background: $highlight-color;

      .name {
        color: white;
      }

      .sub {
        color: white;
      }
    }

    .select2-no-results {
      padding: 38px 0 0 32px;
    }
  }
}

.select2-container {
  .name {
    font-size: 18px;
    font-weight: 600;
    padding-top: 31px;
  }

  .sub {
    font-weight: 600;
    color: $subtle-highlight-color;
    padding-top: 8px;
  }

  .icon, .avatar {
    float: left;
    margin: ($contact-result-height - $default-avatar-size) / 2;
    span {
      padding-top: 20px;
    }
  }
}

.select2-container .select2-drop {
  z-index: 999;
}

.select2-search-choice-close {
  display: block;
  position: absolute;
  right: 9px;
  top: 9px;
  font-size: 1px;
  outline: none;
  @include sprite-retina($clear_contact, $clear_contact-2x);
}

// TODO: continue to prune unneeded styles below

.select2-container {
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;

}

.select2-container .select2-search-hidden {
  display: block;
  position: absolute;
  left: -10000px;
}


.select2-container .select2-results .select2-highlighted em {
  background: transparent;
}
.select2-container .select2-results .select2-no-results {
  background: #f4f4f4;
  display: list-item;
}

.select2-container .select2-results .select2-disabled {
    display: none;
}



.select2-more-results.select2-active {
    background: #f4f4f4 url('/images/spinner.gif') no-repeat 100%;
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice div {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}


/* multiselect */

.select2-container-multi .select2-choices {
    background-color: #fff;
      margin: 0;
      padding: 0;
      cursor: text;
      overflow: hidden;
      height: auto !important;
      height: 1%;
      position: relative;
}

.select2-container-multi .select2-drop {
    margin-top:0;
}

.select2-container-multi .select2-choices {
    min-height: 88px;
    border-bottom: 1px solid $subtle-highlight-color;
    // necessary to fix off-by-one-pixel error in select2.js when recalculating input width
    padding: 25px 30px 0 30px;
    font-weight: 600;
}

.select2-container-multi.select2-container-active .select2-choices {
    outline: none;
}
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;

  &.pre-label {
    margin: 13px 5px 0 0;
  }
}

.select2-container-multi .select2-choices .select2-search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.select2-container-multi .select2-choices .select2-search-field input {
  color: #666;
  background: transparent;
  font-size: 100%;
  height: 35px;
  margin-top: 6px;
  outline: 0;
  border: 0;
  box-shadow: none;
  padding-left: 10px;
}

.select2-container-multi .select2-results {
  margin: 0;
  padding: 0;
}

/* disabled styles */

.select2-container-multi.select2-container-disabled .select2-choices{
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    background-image: none;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 3px 5px 3px 5px;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none;
}
/* end multiselect */
