
.select2-container .select2-search input.select2-active {
  // TODO: add loading state
}

.select2-container-multi .select2-choices .select2-search-choice {
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
  border: 2px solid $highlight-color;
  border-radius: 6px;
  line-height: 27px;
  height: 35px;
  padding: 3px 54px 3px 21px;
  background: white;

  &.select2-search-choice-focus {
    border-color: darken($highlight-color, 15%);

    &::after {
      border-color: darken($highlight-color, 15%);
    }
  }

  span {
    cursor: default;
  }

  &::after {
    content: '';
    height: 33px;
    width: 1px;
    border-right: 2px solid $highlight-color;
    position: absolute;
    top: 0;
    right: 33px;
  }
}

$contact-result-height: 88px;

.select2-container-multi .select2-search-choice-close {
  right: 10px;
  top: 11px;
  left: auto;
}

.select2-container .select2-results {
  max-height: $contact-result-height * 3;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;

  li {
    height: $contact-result-height;

    border-bottom: 1px solid $subtle-highlight-color;
    line-height: 80%;
    list-style: none;
    cursor: pointer;
    display: list-item;
  }

  .select2-highlighted {
    background: $highlight-color;
    color: #fff;
  }
}

.select2-container {
  .name {
    font-size: 18px;
    padding-top: 28px;
  }

  .sub {
    padding-top: 7px;
  }

  .icon {
    height: $convo-icon-size;
    width: $convo-icon-size;
    border-radius: $convo-icon-size / 2;
    background: $subtle-highlight-color;
    float: left;
    margin: ($contact-result-height - $convo-icon-size) / 2;
  }
}

.select2-container .select2-drop {
  z-index: 999;

  border-left: 1px solid $subtle-highlight-color;
  border-right: 1px solid $subtle-highlight-color;
}

.select2-search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(/images/select2.png) right top no-repeat;
  outline: none;
}







// TODO: continue to prune unneeded styles below

.select2-container {
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;

}

.select2-container .select2-search-hidden {
  display: block;
  position: absolute;
  left: -10000px;
}


.select2-container .select2-results .select2-highlighted em {
  background: transparent;
}
.select2-container .select2-results .select2-no-results {
  background: #f4f4f4;
  display: list-item;
}

.select2-container .select2-results .select2-disabled {
    display: none;
}



.select2-more-results.select2-active {
    background: #f4f4f4 url('/images/spinner.gif') no-repeat 100%;
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice div {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}


/* multiselect */

.select2-container-multi .select2-choices {
    background-color: #fff;
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
      background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
      background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
      background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
      background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
      background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
      border: 1px solid #aaa;
      margin: 0;
      padding: 0;
      cursor: text;
      overflow: hidden;
      height: auto !important;
      height: 1%;
      position: relative;
}

.select2-container-multi .select2-drop {
    margin-top:0;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;
}
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.select2-container-multi .select2-choices .select2-search-field input {
  color: #666;
  background: transparent;
  font-size: 100%;
  height: 19px;
  padding: 5px;
  margin: 4px 0;
  outline: 0;
  border: 0;
  box-shadow: none;
}

.select2-container-multi .select2-results {
  margin: -1px 0 0;
  padding: 0;
}

/* disabled styles */

.select2-container-multi.select2-container-disabled .select2-choices{
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    background-image: none;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 3px 5px 3px 5px;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none;
}
/* end multiselect */
