.share {
  display: table;
  margin: 20px auto 0;
  border-collapse: collapse;
  border: 1px solid #ededed;
  box-shadow: 2px 2px 3px 0px rgba(219,219,219,0.5);

  img {
    max-width: 660px;
    max-height: 600px;
    display: table-cell;
    border: 0;
  }
}

.share-info {
  width: 340px;
  min-height: 200px;
  padding: 30px;
  display: table-cell;
  background: white;
  vertical-align: top;
  position: relative;

  // TODO: icon, author, and time have a lot of similarity to .post-icon, etc. DRY up.
  .icon {
    height: $post-icon-size;
    width: $post-icon-size;
    border-radius: $post-icon-size / 2;
    background: $subtle-highlight-color;
    float: left;
  }

  .author {
    margin-top: 8px;
    margin-left: $post-icon-size + 12px;
    font-size: 16px;
    font-weight: 500;
    color: $highlight-color;
  }

  .time {
    margin-left: $post-icon-size + 12px;
    font-size: 12px;
    margin-top: 6px;
    color: $button-text-color;
  }

  .watermark {
    position: absolute;
    bottom: 30px;
    color: $button-text-color;
    font-style: italic;
    font-weight: 300;
  }
}

body.alternate-bg {
  background: -webkit-linear-gradient(top, white 0%, $bg-color-accent 100%);
}