.share {
  display: table;
  margin: 20px auto 0;
  border-collapse: collapse;
  border: 1px solid #ededed;
  box-shadow: 2px 2px 3px 0px rgba(219,219,219,0.5);

  img {
    max-width: 660px;
    max-height: 600px;
    display: table-cell;
    border: 0;
  }
}

.share-info {
  width: 340px;
  height: 200px;
  padding: 30px;
  display: table-cell;
  background: white;
  vertical-align: top;
  position: relative;

  // TODO: icon, author, and time have a lot of similarity to .post-icon, etc. DRY up.
  .icon {
    height: $post-icon-size;
    width: $post-icon-size;
    border-radius: $post-icon-size / 2;
    background: $subtle-highlight-color;
    float: left;
  }

  .author {
    margin-top: 8px;
    margin-left: $post-icon-size + 12px;
    font-size: 16px;
    font-weight: 500;
    color: $highlight-color;
  }

  .time {
    margin-left: $post-icon-size + 12px;
    font-size: 12px;
    margin-top: 6px;
    color: $button-text-color;
  }

  .watermark {
    position: absolute;
    bottom: 30px;
    color: $button-text-color;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
  }
}

body.alternate-bg {
  background: -webkit-linear-gradient(top, white 0%, $bg-color-accent 100%);
}


// h/t to http://nicolasgallagher.com/pure-css-speech-bubbles/demo/
.triangle-border {
  .settings-container & {
    left: -171px;
  }

  width: 248px;
  left: -177px;
  position: absolute;
  padding: 12px 0 12px 25px;
  border: 1px solid $subtle-highlight-color;
  color: #333;
  background: #fff;
  border-radius: 5px;
  top: 50px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  z-index: 5;

  li {
    display: block;
    font-weight: 600;
    line-height: 54px;
    cursor: pointer;

    &:hover {
      color: $highlight-color;
    }
  }

  &.top {
    &:before {
      top: -15px;
      bottom: auto;
      left: auto;
      right: 31px;
      border-width: 0 15px 15px;
    }
  }
}

.triangle-border.top:before {

}

.triangle-border:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: $subtle-highlight-color transparent;
  display: block;
  width: 0;
}

.triangle-border.top:after {
  top: -13px;
  bottom: auto;
  left: auto;
  right: 33px;
  border-width: 0 13px 13px;
}

.triangle-border:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}

.share-container {
  position: relative;
  display: inline-block;
}

.fb-icon, .twit-icon {
  display: inline-block;
  vertical-align: -4px;
}

.fb-icon {
  margin-left: ((22px - $share_facebook-width) / 2);
  margin-right: ((22px - $share_facebook-width) / 2) + 15px;
  @include sprite-retina($share_facebook, $share_facebook-2x);

  li:hover &, li:active & {
    @include sprite-retina($share_facebook_hover, $share_facebook_hover-2x);
  }
}

.twit-icon {
  margin-left: ((22px - $share_twitter-width) / 2);
  margin-right: ((22px - $share_twitter-width) / 2) + 15px;
  @include sprite-retina($share_twitter, $share_twitter-2x);

  li:hover &, li:active & {
    @include sprite-retina($share_twitter_hover, $share_twitter_hover-2x);
  }
}