$share-photo-padding: 25px;

.shared-photo {
  margin: 2%;

  .photo {
    width: 46%;
    height: 46%;
    margin: 1%;
  }

  @media #{$breakpoint-mobile-2} {
    padding: $share-photo-padding 0;
    border-top: 1px solid $subtler-highlight-color;
    border-bottom: 1px solid $subtler-highlight-color;
    display: inline-block;
    margin: 0 auto 40px;

    img {
      max-width: 100%;
      max-height: 500px;
    }

    .photo {
      margin-left: 0;
      margin-top: 0;
      margin-right: $photo-margin;
      margin-bottom: 0;
      width: $photo-width;
      height: $photo-width;
    }

    .photo:last-of-type {
      margin: 0;
    }

    &.multi {
      max-width: ($photo-width * 4) + ($photo-margin * 3);
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.share {
  margin: 20px auto 0;
  text-align: center;

  .icon, .avatar {
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
  }

  p {
    font-weight: 600;
    text-align: center;
    line-height: 1.3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }

  .owner-tag {
    font-size: 18px;
  }

  .tagline {
    max-width: 250px;
  }

  .highlighted {
    color: $highlight-color;
  }

  .app-badge {
    margin: 0 5px;
  }

  .arrow-cont {
    display: none;
    @media #{$breakpoint-mobile-2} {
      width: 50px;
      display: inline-block;
      height: ($share-photo-padding * 2) + $photo-width;
      vertical-align: top;
      position: relative;

      &:hover .right-arrow {
        @include sprite-retina($right_arrow_hover, $right_arrow_hover-2x);
      }

      &:hover .left-arrow {
        @include sprite-retina($left_arrow_hover, $left_arrow_hover-2x);
      }
    }
  }

  .left-arrow, .right-arrow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .left-arrow {
    @include sprite-retina($left_arrow, $left_arrow-2x);

    .arrow-cont:hover & {
      @include sprite-retina($left_arrow_hover, $left_arrow_hover-2x);
    }
  }

  .right-arrow {
    @include sprite-retina($right_arrow, $right_arrow-2x);
  }
}

body.photos-empty-bg {
  background: -webkit-linear-gradient(top, white 0%, $bg-color-accent 100%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/moments_empty_small.jpg);
}


// h/t to http://nicolasgallagher.com/pure-css-speech-bubbles/demo/
.triangle-border {
  .settings-container & {
    left: -171px;
  }

  width: 248px;
  left: -177px;
  position: absolute;
  padding: 12px 25px 12px 25px;
  border: 1px solid $subtle-highlight-color;
  color: #333;
  background: #fff;
  border-radius: 5px;
  top: 50px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  z-index: 5;

  li {
    display: block;
    font-weight: 600;
    line-height: 54px;
    cursor: pointer;

    &:hover {
      color: $highlight-color;
    }
  }

  &.top {
    &:before {
      top: -15px;
      bottom: auto;
      left: auto;
      right: 31px;
      border-width: 0 15px 15px;
    }
  }
}

.triangle-border.top:before {

}

.triangle-border:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: $subtle-highlight-color transparent;
  display: block;
  width: 0;
}

.triangle-border.top:after {
  top: -13px;
  bottom: auto;
  left: auto;
  right: 33px;
  border-width: 0 13px 13px;
}

.triangle-border:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}

.share-container {
  position: relative;
  display: inline-block;
}

.fb-icon, .twit-icon {
  display: inline-block;
  vertical-align: -4px;
}

.fb-icon {
  margin-left: ((22px - $share_facebook-width) / 2);
  margin-right: ((22px - $share_facebook-width) / 2) + 15px;
  @include sprite-retina($share_facebook, $share_facebook-2x);

  li:hover &, li:active & {
    @include sprite-retina($share_facebook_hover, $share_facebook_hover-2x);
  }
}

.twit-icon {
  margin-left: ((22px - $share_twitter-width) / 2);
  margin-right: ((22px - $share_twitter-width) / 2) + 15px;
  @include sprite-retina($share_twitter, $share_twitter-2x);

  li:hover &, li:active & {
    @include sprite-retina($share_twitter_hover, $share_twitter_hover-2x);
  }
}

.rect-logo {
  height: 103px;
  width: 222px;
  background: url(/images/heirloom_logo_mobile.png) no-repeat;
  transform: scale(0.75);

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5), screen and (min--moz-device-pixel-ratio: 1.5) {
    background: url(/images/heirloom_logo_mobile@2x.png) no-repeat;
    background-size: 222px 103px;
  }

  @media #{$breakpoint-mobile-2} {
    display: none;
  }
}