.single-photo-cont {
  @include full-screen;
  z-index: 99;

  &.collapsed {
    .photo-cont, .photo-options {
      width: 100%;
    }

    .photo-sidebar {
      right: -30%;
    }

    @media #{$breakpoint-mobile-2} {
      .photo-cont, .photo-options {
        width: 70%;
      }

      .photo-sidebar {
        right: 0;
      }
    }

    @media #{$breakpoint-desktop-3} {
      .photo-cont, .photo-options {
        width: calc(100% - 432px);
      }

      .photo-sidebar {
        width: calc(432px);
      }
    }
  }

  .btn-collapse {
    display: none;
  }

  .photo-cont, .photo-options {
    transition: width 0.4s ease-out;
    position: absolute;
    background: $opaque-lightbox-color;
    width: 100%;
  }

  .photo-cont {
    height: 90%;
    height: calc(100% - 60px + 1px);
    left: 0;
    top: 0;


  }

  .photo-options {
    left: 0;
    bottom: 0;
    height: 10%;
    height: calc(60px);
    text-align: center;
  }

  .photo-buttons {
    float: right;
    height: 100%;
    display: none;

    @media #{$breakpoint-mobile-2} {
      display: block;
    }
  }

  .photo-button {
    height: 100%;
    width: 70px;
    border: 1px solid rgba(255,255,255,0.15);
    position: relative;

    &:hover {
      background: rgba(255,255,255,0.08);
    }

    &.toggle-metadata {
      &:after {
        content: '';
        position: absolute;
        top: (60px - $toggle_metadata-height) / 2;
        left: (70px - $toggle_metadata-width) / 2;;
        @include sprite-retina($toggle_metadata, $toggle_metadata-2x);
        transition: transform 0.25s ease-in-out 0.4s;
      }

      &.show-metadata {
        &:after {
          transform: rotateY(180deg);
        }
      }
    }
  }

  .photo-paginate {
    display: inline-block;
    height: 100%;
    margin: 0 auto;
  }

  .photo-sidebar {
    overflow-y: auto;
    transition: right 0.4s ease-out;
    position: absolute;
    background: $bg-color-accent-light;
    height: 100%;
    right: -30%;
    width: 30%;
    padding: 2.1%;

    @media #{$breakpoint-desktop-3} {
      width: calc(432px);
      right: calc(-432px);
      padding: 30px;
    }

    .icon, .avatar {
      float: left;
    }

    label {
      color: $subtle-highlight-color;

      &.error {
        color: $highlight-color;
      }
    }

    input, textarea {
      &.view-only {
        background: none;
        border-style: none;
        padding: 14px 23px 7px 9px;
        margin: 6px 7px 1px;
        border-top: 1px solid $subtle-highlight-color;
        border-radius: 0;

        &:hover {
          border: 1px dashed $subtle-highlight-color;
          border-radius: 3px;
          margin-left: 0;
          margin-right: 0;
          margin-top: 7px;
          margin-bottom: 0;
          padding-top: 13px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    input.view-only {
      text-overflow: ellipsis;
    }

    .saving-state {
      float: right;

      &.saved {
        color: $form-selection-color;
        animation: toasty 2s;
        opacity: 0;
      }
    }
  }

  .left-arrow, .right-arrow, .close {
    opacity: 0.85;
    transition: opacity 0.15s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .left-arrow, .right-arrow, .blank-arrow {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 100%;
  }

  .left-arrow {
    &::after {
      content: '';
      position: absolute;
      display: block;
      @include sprite-retina($caret_left, $caret_left-2x);
      top: 50%;
      left: 50%;
      margin-top: -$caret_left-height / 2;
      margin-left: -$caret_left-width / 2;
    }
  }

  .right-arrow {
    &::after {
      content: '';
      position: absolute;
      display: block;
      @include sprite-retina($caret_right, $caret_right-2x);
      top: 50%;
      left: 50%;
      margin-top: -$caret_right-height / 2;
      margin-left: -$caret_right-width / 2;
    }
  }

  .close {
    position: absolute;
    width: $escape_photoview-width;
    height: $escape_photoview-height;
    vertical-align: middle;
    right: 2.5%;
    top: 2.5%;

    @media #{$breakpoint-mobile-2} {
      right: 20px;
      top: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      @include sprite-retina($escape_photoview, $escape_photoview-2x);
    }
  }
}

.photo-icon-cont {
  padding-bottom: 2%;
  // border-bottom: 1px solid $subtle-highlight-color;
}

.photo-owner-name, .photo-owner-username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:after {
    // takes up space so that float clearfix doesn't get thrown off
    content: $nbsp;
  }
}

.photo-owner-name {
  font-size: 18px;
  font-weight: 600;
  padding: 7px 0 0 15px;
}

.photo-owner-username {
  font-weight: 600;
  padding-left: 15px;
  margin-top: -2px;
  color: $subtle-highlight-color;
}

.tag {
  .remove {
    position: absolute;
    right: 8px;
    top: 0;
    font-size: 28px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }

  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 8px 28px 4px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  background: rgba(255,255,255,0.0);
  border: 1px solid $subtler-highlight-color;
  transition: background-color 0.15s ease-in-out,
              padding 0.15s ease-in-out,
              color 0.15s ease-in-out;
  cursor: default;
  position: relative;

  &:hover {
    .remove {
      opacity: 1;
    }

    padding-left: 20px;
    padding-right: 36px;
    background-color: $form-selection-color;
    border-color: $form-selection-color;
    color: white;
  }
}

.search-selected-items {
  margin-top: 15px;
}

img.detail {
  position: absolute;

  max-height: 90%;
  max-width: 90%;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  margin: auto;

  opacity: 0;
  width: 0;
  transition: opacity .25s ease-in-out;
}

@-webkit-keyframes toasty {
  0%    { opacity: 0; }
  10%   { opacity: 1; }
  90%   { opacity: 1;  }
  100%  { opacity: 0; }
}