// spinner from http://codepen.io/seandrickson/pen/wGmoq

$spinner-height: 30px;
$spinner-width: $spinner-height;

.spinner-placeholder {
  width: $spinner-width;
  height: $spinner-height;
  margin: 20px auto;
}

.lightbox .spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  z-index: 100;
  animation:  fadein 0.3s ease,
              1s spin infinite;
}

.spinner {
  position: relative;
  width: $spinner-width;
  height: $spinner-height;
  background: #0FF;
  animation: 1s spin infinite;
  margin: 20px auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
  &::before {
    background: #F0F;
    animation: .5s blur1 infinite alternate linear;
  }
  &::after {
    background: #FFF;
    animation: .5s blur2 infinite alternate linear;
  }
}

@keyframes spin {
    0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

@keyframes blur1 {
    0% { transform: rotate(0deg) }
  100% { transform: rotate(-30deg) }
}
@keyframes blur2 {
    0% { transform: rotate(0deg) }
  100% { transform: rotate(-15deg) }
}
