// spinner from http://codepen.io/seandrickson/pen/wGmoq

$spinner-height: 30px;
$spinner-width: $spinner-height;

.spinner-placeholder {
  width: $spinner-width;
  height: $spinner-height;
  margin: 20px auto;
}

.big-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  z-index: 100;
  animation:  1s delayed-fadein linear,
              1s spin infinite;
}

.spinner, .big-spinner {
  background: lighten($highlight-color, 10%);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
  &::before {
    background: darken($highlight-color, 10%);
    animation: .5s blur1 infinite alternate linear;
  }
  &::after {
    background: #FFF;
    animation: .5s blur2 infinite alternate linear;
  }
}

.spinner {
  position: relative;
  width: $spinner-width;
  height: $spinner-height;
  margin: 20px auto;
  animation: 1s spin infinite;
}

@keyframes delayed-fadein {
  0%    { opacity: 0; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes spin {
    0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

@keyframes blur1 {
    0% { transform: rotate(0deg) }
  100% { transform: rotate(-30deg) }
}
@keyframes blur2 {
    0% { transform: rotate(0deg) }
  100% { transform: rotate(-15deg) }
}
