/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$add_to_album-x: 136px;
$add_to_album-y: 21px;
$add_to_album-offset-x: -136px;
$add_to_album-offset-y: -21px;
$add_to_album-width: 19px;
$add_to_album-height: 19px;
$add_to_album-total-width: 160px;
$add_to_album-total-height: 128px;
$add_to_album-image: '/images/spritesheet.png';
$add_to_album: 136px 21px -136px -21px 19px 19px 160px 128px '/images/spritesheet.png';
$album_icon-x: 115px;
$album_icon-y: 92px;
$album_icon-offset-x: -115px;
$album_icon-offset-y: -92px;
$album_icon-width: 17px;
$album_icon-height: 16px;
$album_icon-total-width: 160px;
$album_icon-total-height: 128px;
$album_icon-image: '/images/spritesheet.png';
$album_icon: 115px 92px -115px -92px 17px 16px 160px 128px '/images/spritesheet.png';
$caret_grey-x: 147px;
$caret_grey-y: 113px;
$caret_grey-offset-x: -147px;
$caret_grey-offset-y: -113px;
$caret_grey-width: 10px;
$caret_grey-height: 6px;
$caret_grey-total-width: 160px;
$caret_grey-total-height: 128px;
$caret_grey-image: '/images/spritesheet.png';
$caret_grey: 147px 113px -147px -113px 10px 6px 160px 128px '/images/spritesheet.png';
$caret_left-x: 59px;
$caret_left-y: 92px;
$caret_left-offset-x: -59px;
$caret_left-offset-y: -92px;
$caret_left-width: 14px;
$caret_left-height: 21px;
$caret_left-total-width: 160px;
$caret_left-total-height: 128px;
$caret_left-image: '/images/spritesheet.png';
$caret_left: 59px 92px -59px -92px 14px 21px 160px 128px '/images/spritesheet.png';
$caret_red-x: 136px;
$caret_red-y: 113px;
$caret_red-offset-x: -136px;
$caret_red-offset-y: -113px;
$caret_red-width: 10px;
$caret_red-height: 6px;
$caret_red-total-width: 160px;
$caret_red-total-height: 128px;
$caret_red-image: '/images/spritesheet.png';
$caret_red: 136px 113px -136px -113px 10px 6px 160px 128px '/images/spritesheet.png';
$caret_right-x: 74px;
$caret_right-y: 92px;
$caret_right-offset-x: -74px;
$caret_right-offset-y: -92px;
$caret_right-width: 13px;
$caret_right-height: 21px;
$caret_right-total-width: 160px;
$caret_right-total-height: 128px;
$caret_right-image: '/images/spritesheet.png';
$caret_right: 74px 92px -74px -92px 13px 21px 160px 128px '/images/spritesheet.png';
$checkmark_active-x: 0px;
$checkmark_active-y: 92px;
$checkmark_active-offset-x: 0px;
$checkmark_active-offset-y: -92px;
$checkmark_active-width: 36px;
$checkmark_active-height: 36px;
$checkmark_active-total-width: 160px;
$checkmark_active-total-height: 128px;
$checkmark_active-image: '/images/spritesheet.png';
$checkmark_active: 0px 92px 0px -92px 36px 36px 160px 128px '/images/spritesheet.png';
$checkmark_hover-x: 92px;
$checkmark_hover-y: 45px;
$checkmark_hover-offset-x: -92px;
$checkmark_hover-offset-y: -45px;
$checkmark_hover-width: 38px;
$checkmark_hover-height: 38px;
$checkmark_hover-total-width: 160px;
$checkmark_hover-total-height: 128px;
$checkmark_hover-image: '/images/spritesheet.png';
$checkmark_hover: 92px 45px -92px -45px 38px 38px 160px 128px '/images/spritesheet.png';
$clock-x: 136px;
$clock-y: 41px;
$clock-offset-x: -136px;
$clock-offset-y: -41px;
$clock-width: 18px;
$clock-height: 18px;
$clock-total-width: 160px;
$clock-total-height: 128px;
$clock-image: '/images/spritesheet.png';
$clock: 136px 41px -136px -41px 18px 18px 160px 128px '/images/spritesheet.png';
$escape_photoview-x: 136px;
$escape_photoview-y: 96px;
$escape_photoview-offset-x: -136px;
$escape_photoview-offset-y: -96px;
$escape_photoview-width: 16px;
$escape_photoview-height: 16px;
$escape_photoview-total-width: 160px;
$escape_photoview-total-height: 128px;
$escape_photoview-image: '/images/spritesheet.png';
$escape_photoview: 136px 96px -136px -96px 16px 16px 160px 128px '/images/spritesheet.png';
$new_album_plus-x: 0px;
$new_album_plus-y: 0px;
$new_album_plus-offset-x: 0px;
$new_album_plus-offset-y: 0px;
$new_album_plus-width: 91px;
$new_album_plus-height: 91px;
$new_album_plus-total-width: 160px;
$new_album_plus-total-height: 128px;
$new_album_plus-image: '/images/spritesheet.png';
$new_album_plus: 0px 0px 0px 0px 91px 91px 160px 128px '/images/spritesheet.png';
$share_icon-x: 136px;
$share_icon-y: 0px;
$share_icon-offset-x: -136px;
$share_icon-offset-y: 0px;
$share_icon-width: 24px;
$share_icon-height: 20px;
$share_icon-total-width: 160px;
$share_icon-total-height: 128px;
$share_icon-image: '/images/spritesheet.png';
$share_icon: 136px 0px -136px 0px 24px 20px 160px 128px '/images/spritesheet.png';
$trashcan-x: 37px;
$trashcan-y: 92px;
$trashcan-offset-x: -37px;
$trashcan-offset-y: -92px;
$trashcan-width: 21px;
$trashcan-height: 24px;
$trashcan-total-width: 160px;
$trashcan-total-height: 128px;
$trashcan-image: '/images/spritesheet.png';
$trashcan: 37px 92px -37px -92px 21px 24px 160px 128px '/images/spritesheet.png';
$trashcan_button-x: 92px;
$trashcan_button-y: 0px;
$trashcan_button-offset-x: -92px;
$trashcan_button-offset-y: 0px;
$trashcan_button-width: 43px;
$trashcan_button-height: 44px;
$trashcan_button-total-width: 160px;
$trashcan_button-total-height: 128px;
$trashcan_button-image: '/images/spritesheet.png';
$trashcan_button: 92px 0px -92px 0px 43px 44px 160px 128px '/images/spritesheet.png';
$upload_hover_icon-x: 136px;
$upload_hover_icon-y: 60px;
$upload_hover_icon-offset-x: -136px;
$upload_hover_icon-offset-y: -60px;
$upload_hover_icon-width: 15px;
$upload_hover_icon-height: 17px;
$upload_hover_icon-total-width: 160px;
$upload_hover_icon-total-height: 128px;
$upload_hover_icon-image: '/images/spritesheet.png';
$upload_hover_icon: 136px 60px -136px -60px 15px 17px 160px 128px '/images/spritesheet.png';
$upload_icon-x: 136px;
$upload_icon-y: 78px;
$upload_icon-offset-x: -136px;
$upload_icon-offset-y: -78px;
$upload_icon-width: 15px;
$upload_icon-height: 17px;
$upload_icon-total-width: 160px;
$upload_icon-total-height: 128px;
$upload_icon-image: '/images/spritesheet.png';
$upload_icon: 136px 78px -136px -78px 15px 17px 160px 128px '/images/spritesheet.png';
$user_toggle_icon-x: 88px;
$user_toggle_icon-y: 92px;
$user_toggle_icon-offset-x: -88px;
$user_toggle_icon-offset-y: -92px;
$user_toggle_icon-width: 26px;
$user_toggle_icon-height: 20px;
$user_toggle_icon-total-width: 160px;
$user_toggle_icon-total-height: 128px;
$user_toggle_icon-image: '/images/spritesheet.png';
$user_toggle_icon: 88px 92px -88px -92px 26px 20px 160px 128px '/images/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
