/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$add_photos-x: 228px;
$add_photos-y: 188px;
$add_photos-offset-x: -228px;
$add_photos-offset-y: -188px;
$add_photos-width: 19px;
$add_photos-height: 19px;
$add_photos-total-width: 282px;
$add_photos-total-height: 232px;
$add_photos-image: '/images/spritesheet.png';
$add_photos: 228px 188px -228px -188px 19px 19px 282px 232px '/images/spritesheet.png';
$add_photos_hover_pressed-x: 248px;
$add_photos_hover_pressed-y: 188px;
$add_photos_hover_pressed-offset-x: -248px;
$add_photos_hover_pressed-offset-y: -188px;
$add_photos_hover_pressed-width: 19px;
$add_photos_hover_pressed-height: 19px;
$add_photos_hover_pressed-total-width: 282px;
$add_photos_hover_pressed-total-height: 232px;
$add_photos_hover_pressed-image: '/images/spritesheet.png';
$add_photos_hover_pressed: 248px 188px -248px -188px 19px 19px 282px 232px '/images/spritesheet.png';
$add_to_album-x: 0px;
$add_to_album-y: 213px;
$add_to_album-offset-x: 0px;
$add_to_album-offset-y: -213px;
$add_to_album-width: 19px;
$add_to_album-height: 19px;
$add_to_album-total-width: 282px;
$add_to_album-total-height: 232px;
$add_to_album-image: '/images/spritesheet.png';
$add_to_album: 0px 213px 0px -213px 19px 19px 282px 232px '/images/spritesheet.png';
$album_icon-x: 117px;
$album_icon-y: 213px;
$album_icon-offset-x: -117px;
$album_icon-offset-y: -213px;
$album_icon-width: 17px;
$album_icon-height: 16px;
$album_icon-total-width: 282px;
$album_icon-total-height: 232px;
$album_icon-image: '/images/spritesheet.png';
$album_icon: 117px 213px -117px -213px 17px 16px 282px 232px '/images/spritesheet.png';
$caret_grey-x: 202px;
$caret_grey-y: 137px;
$caret_grey-offset-x: -202px;
$caret_grey-offset-y: -137px;
$caret_grey-width: 10px;
$caret_grey-height: 6px;
$caret_grey-total-width: 282px;
$caret_grey-total-height: 232px;
$caret_grey-image: '/images/spritesheet.png';
$caret_grey: 202px 137px -202px -137px 10px 6px 282px 232px '/images/spritesheet.png';
$caret_left-x: 108px;
$caret_left-y: 188px;
$caret_left-offset-x: -108px;
$caret_left-offset-y: -188px;
$caret_left-width: 14px;
$caret_left-height: 21px;
$caret_left-total-width: 282px;
$caret_left-total-height: 232px;
$caret_left-image: '/images/spritesheet.png';
$caret_left: 108px 188px -108px -188px 14px 21px 282px 232px '/images/spritesheet.png';
$caret_red-x: 191px;
$caret_red-y: 137px;
$caret_red-offset-x: -191px;
$caret_red-offset-y: -137px;
$caret_red-width: 10px;
$caret_red-height: 6px;
$caret_red-total-width: 282px;
$caret_red-total-height: 232px;
$caret_red-image: '/images/spritesheet.png';
$caret_red: 191px 137px -191px -137px 10px 6px 282px 232px '/images/spritesheet.png';
$caret_right-x: 94px;
$caret_right-y: 188px;
$caret_right-offset-x: -94px;
$caret_right-offset-y: -188px;
$caret_right-width: 13px;
$caret_right-height: 21px;
$caret_right-total-width: 282px;
$caret_right-total-height: 232px;
$caret_right-image: '/images/spritesheet.png';
$caret_right: 94px 188px -94px -188px 13px 21px 282px 232px '/images/spritesheet.png';
$checkmark_active-x: 209px;
$checkmark_active-y: 145px;
$checkmark_active-offset-x: -209px;
$checkmark_active-offset-y: -145px;
$checkmark_active-width: 36px;
$checkmark_active-height: 36px;
$checkmark_active-total-width: 282px;
$checkmark_active-total-height: 232px;
$checkmark_active-image: '/images/spritesheet.png';
$checkmark_active: 209px 145px -209px -145px 36px 36px 282px 232px '/images/spritesheet.png';
$checkmark_hover-x: 170px;
$checkmark_hover-y: 145px;
$checkmark_hover-offset-x: -170px;
$checkmark_hover-offset-y: -145px;
$checkmark_hover-width: 38px;
$checkmark_hover-height: 38px;
$checkmark_hover-total-width: 282px;
$checkmark_hover-total-height: 232px;
$checkmark_hover-image: '/images/spritesheet.png';
$checkmark_hover: 170px 145px -170px -145px 38px 38px 282px 232px '/images/spritesheet.png';
$clock-x: 43px;
$clock-y: 213px;
$clock-offset-x: -43px;
$clock-offset-y: -213px;
$clock-width: 18px;
$clock-height: 18px;
$clock-total-width: 282px;
$clock-total-height: 232px;
$clock-image: '/images/spritesheet.png';
$clock: 43px 213px -43px -213px 18px 18px 282px 232px '/images/spritesheet.png';
$create_album-x: 0px;
$create_album-y: 145px;
$create_album-offset-x: 0px;
$create_album-offset-y: -145px;
$create_album-width: 42px;
$create_album-height: 42px;
$create_album-total-width: 282px;
$create_album-total-height: 232px;
$create_album-image: '/images/spritesheet.png';
$create_album: 0px 145px 0px -145px 42px 42px 282px 232px '/images/spritesheet.png';
$create_album_hover-x: 235px;
$create_album_hover-y: 92px;
$create_album_hover-offset-x: -235px;
$create_album_hover-offset-y: -92px;
$create_album_hover-width: 42px;
$create_album_hover-height: 42px;
$create_album_hover-total-width: 282px;
$create_album_hover-total-height: 232px;
$create_album_hover-image: '/images/spritesheet.png';
$create_album_hover: 235px 92px -235px -92px 42px 42px 282px 232px '/images/spritesheet.png';
$create_album_pressed-x: 43px;
$create_album_pressed-y: 145px;
$create_album_pressed-offset-x: -43px;
$create_album_pressed-offset-y: -145px;
$create_album_pressed-width: 42px;
$create_album_pressed-height: 42px;
$create_album_pressed-total-width: 282px;
$create_album_pressed-total-height: 232px;
$create_album_pressed-image: '/images/spritesheet.png';
$create_album_pressed: 43px 145px -43px -145px 42px 42px 282px 232px '/images/spritesheet.png';
$escape_photoview-x: 135px;
$escape_photoview-y: 213px;
$escape_photoview-offset-x: -135px;
$escape_photoview-offset-y: -213px;
$escape_photoview-width: 16px;
$escape_photoview-height: 16px;
$escape_photoview-total-width: 282px;
$escape_photoview-total-height: 232px;
$escape_photoview-image: '/images/spritesheet.png';
$escape_photoview: 135px 213px -135px -213px 16px 16px 282px 232px '/images/spritesheet.png';
$heirloom_icon-x: 128px;
$heirloom_icon-y: 145px;
$heirloom_icon-offset-x: -128px;
$heirloom_icon-offset-y: -145px;
$heirloom_icon-width: 41px;
$heirloom_icon-height: 41px;
$heirloom_icon-total-width: 282px;
$heirloom_icon-total-height: 232px;
$heirloom_icon-image: '/images/spritesheet.png';
$heirloom_icon: 128px 145px -128px -145px 41px 41px 282px 232px '/images/spritesheet.png';
$new_album_plus-x: 191px;
$new_album_plus-y: 0px;
$new_album_plus-offset-x: -191px;
$new_album_plus-offset-y: 0px;
$new_album_plus-width: 91px;
$new_album_plus-height: 91px;
$new_album_plus-total-width: 282px;
$new_album_plus-total-height: 232px;
$new_album_plus-image: '/images/spritesheet.png';
$new_album_plus: 191px 0px -191px 0px 91px 91px 282px 232px '/images/spritesheet.png';
$settings-x: 47px;
$settings-y: 188px;
$settings-offset-x: -47px;
$settings-offset-y: -188px;
$settings-width: 24px;
$settings-height: 23px;
$settings-total-width: 282px;
$settings-total-height: 232px;
$settings-image: '/images/spritesheet.png';
$settings: 47px 188px -47px -188px 24px 23px 282px 232px '/images/spritesheet.png';
$settings_hover-x: 22px;
$settings_hover-y: 188px;
$settings_hover-offset-x: -22px;
$settings_hover-offset-y: -188px;
$settings_hover-width: 24px;
$settings_hover-height: 23px;
$settings_hover-total-width: 282px;
$settings_hover-total-height: 232px;
$settings_hover-image: '/images/spritesheet.png';
$settings_hover: 22px 188px -22px -188px 24px 23px 282px 232px '/images/spritesheet.png';
$share_facebook-x: 246px;
$share_facebook-y: 145px;
$share_facebook-offset-x: -246px;
$share_facebook-offset-y: -145px;
$share_facebook-width: 12px;
$share_facebook-height: 25px;
$share_facebook-total-width: 282px;
$share_facebook-total-height: 232px;
$share_facebook-image: '/images/spritesheet.png';
$share_facebook: 246px 145px -246px -145px 12px 25px 282px 232px '/images/spritesheet.png';
$share_facebook_hover-x: 259px;
$share_facebook_hover-y: 145px;
$share_facebook_hover-offset-x: -259px;
$share_facebook_hover-offset-y: -145px;
$share_facebook_hover-width: 12px;
$share_facebook_hover-height: 25px;
$share_facebook_hover-total-width: 282px;
$share_facebook_hover-total-height: 232px;
$share_facebook_hover-image: '/images/spritesheet.png';
$share_facebook_hover: 259px 145px -259px -145px 12px 25px 282px 232px '/images/spritesheet.png';
$share_icon-x: 203px;
$share_icon-y: 188px;
$share_icon-offset-x: -203px;
$share_icon-offset-y: -188px;
$share_icon-width: 24px;
$share_icon-height: 20px;
$share_icon-total-width: 282px;
$share_icon-total-height: 232px;
$share_icon-image: '/images/spritesheet.png';
$share_icon: 203px 188px -203px -188px 24px 20px 282px 232px '/images/spritesheet.png';
$share_twitter-x: 20px;
$share_twitter-y: 213px;
$share_twitter-offset-x: -20px;
$share_twitter-offset-y: -213px;
$share_twitter-width: 22px;
$share_twitter-height: 18px;
$share_twitter-total-width: 282px;
$share_twitter-total-height: 232px;
$share_twitter-image: '/images/spritesheet.png';
$share_twitter: 20px 213px -20px -213px 22px 18px 282px 232px '/images/spritesheet.png';
$share_twitter_hover-x: 62px;
$share_twitter_hover-y: 213px;
$share_twitter_hover-offset-x: -62px;
$share_twitter_hover-offset-y: -213px;
$share_twitter_hover-width: 22px;
$share_twitter_hover-height: 18px;
$share_twitter_hover-total-width: 282px;
$share_twitter_hover-total-height: 232px;
$share_twitter_hover-image: '/images/spritesheet.png';
$share_twitter_hover: 62px 213px -62px -213px 22px 18px 282px 232px '/images/spritesheet.png';
$spinner-x: 86px;
$spinner-y: 145px;
$spinner-offset-x: -86px;
$spinner-offset-y: -145px;
$spinner-width: 41px;
$spinner-height: 41px;
$spinner-total-width: 282px;
$spinner-total-height: 232px;
$spinner-image: '/images/spritesheet.png';
$spinner: 86px 145px -86px -145px 41px 41px 282px 232px '/images/spritesheet.png';
$trashcan-x: 0px;
$trashcan-y: 188px;
$trashcan-offset-x: 0px;
$trashcan-offset-y: -188px;
$trashcan-width: 21px;
$trashcan-height: 24px;
$trashcan-total-width: 282px;
$trashcan-total-height: 232px;
$trashcan-image: '/images/spritesheet.png';
$trashcan: 0px 188px 0px -188px 21px 24px 282px 232px '/images/spritesheet.png';
$trashcan_button-x: 191px;
$trashcan_button-y: 92px;
$trashcan_button-offset-x: -191px;
$trashcan_button-offset-y: -92px;
$trashcan_button-width: 43px;
$trashcan_button-height: 44px;
$trashcan_button-total-width: 282px;
$trashcan_button-total-height: 232px;
$trashcan_button-image: '/images/spritesheet.png';
$trashcan_button: 191px 92px -191px -92px 43px 44px 282px 232px '/images/spritesheet.png';
$trashcan_hover_pressed-x: 72px;
$trashcan_hover_pressed-y: 188px;
$trashcan_hover_pressed-offset-x: -72px;
$trashcan_hover_pressed-offset-y: -188px;
$trashcan_hover_pressed-width: 21px;
$trashcan_hover_pressed-height: 22px;
$trashcan_hover_pressed-total-width: 282px;
$trashcan_hover_pressed-total-height: 232px;
$trashcan_hover_pressed-image: '/images/spritesheet.png';
$trashcan_hover_pressed: 72px 188px -72px -188px 21px 22px 282px 232px '/images/spritesheet.png';
$upload_hover_icon-x: 101px;
$upload_hover_icon-y: 213px;
$upload_hover_icon-offset-x: -101px;
$upload_hover_icon-offset-y: -213px;
$upload_hover_icon-width: 15px;
$upload_hover_icon-height: 17px;
$upload_hover_icon-total-width: 282px;
$upload_hover_icon-total-height: 232px;
$upload_hover_icon-image: '/images/spritesheet.png';
$upload_hover_icon: 101px 213px -101px -213px 15px 17px 282px 232px '/images/spritesheet.png';
$upload_icon-x: 85px;
$upload_icon-y: 213px;
$upload_icon-offset-x: -85px;
$upload_icon-offset-y: -213px;
$upload_icon-width: 15px;
$upload_icon-height: 17px;
$upload_icon-total-width: 282px;
$upload_icon-total-height: 232px;
$upload_icon-image: '/images/spritesheet.png';
$upload_icon: 85px 213px -85px -213px 15px 17px 282px 232px '/images/spritesheet.png';
$upload_image-x: 0px;
$upload_image-y: 0px;
$upload_image-offset-x: 0px;
$upload_image-offset-y: 0px;
$upload_image-width: 190px;
$upload_image-height: 144px;
$upload_image-total-width: 282px;
$upload_image-total-height: 232px;
$upload_image-image: '/images/spritesheet.png';
$upload_image: 0px 0px 0px 0px 190px 144px 282px 232px '/images/spritesheet.png';
$user_toggle-x: 123px;
$user_toggle-y: 188px;
$user_toggle-offset-x: -123px;
$user_toggle-offset-y: -188px;
$user_toggle-width: 26px;
$user_toggle-height: 20px;
$user_toggle-total-width: 282px;
$user_toggle-total-height: 232px;
$user_toggle-image: '/images/spritesheet.png';
$user_toggle: 123px 188px -123px -188px 26px 20px 282px 232px '/images/spritesheet.png';
$user_toggle_hover-x: 176px;
$user_toggle_hover-y: 188px;
$user_toggle_hover-offset-x: -176px;
$user_toggle_hover-offset-y: -188px;
$user_toggle_hover-width: 26px;
$user_toggle_hover-height: 20px;
$user_toggle_hover-total-width: 282px;
$user_toggle_hover-total-height: 232px;
$user_toggle_hover-image: '/images/spritesheet.png';
$user_toggle_hover: 176px 188px -176px -188px 26px 20px 282px 232px '/images/spritesheet.png';
$user_toggle_pressed-x: 150px;
$user_toggle_pressed-y: 188px;
$user_toggle_pressed-offset-x: -150px;
$user_toggle_pressed-offset-y: -188px;
$user_toggle_pressed-width: 25px;
$user_toggle_pressed-height: 20px;
$user_toggle_pressed-total-width: 282px;
$user_toggle_pressed-total-height: 232px;
$user_toggle_pressed-image: '/images/spritesheet.png';
$user_toggle_pressed: 150px 188px -150px -188px 25px 20px 282px 232px '/images/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
