/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$app_store-x: 0px;
$app_store-y: 92px;
$app_store-offset-x: 0px;
$app_store-offset-y: -92px;
$app_store-width: 140px;
$app_store-height: 40px;
$app_store-total-width: 465px;
$app_store-total-height: 165px;
$app_store-image: '/images/spritesheetPreLaunch.png';
$app_store: 0px 92px 0px -92px 140px 40px 465px 165px '/images/spritesheetPreLaunch.png';
$down_carrot_black-x: 0px;
$down_carrot_black-y: 133px;
$down_carrot_black-offset-x: 0px;
$down_carrot_black-offset-y: -133px;
$down_carrot_black-width: 64px;
$down_carrot_black-height: 32px;
$down_carrot_black-total-width: 465px;
$down_carrot_black-total-height: 165px;
$down_carrot_black-image: '/images/spritesheetPreLaunch.png';
$down_carrot_black: 0px 133px 0px -133px 64px 32px 465px 165px '/images/spritesheetPreLaunch.png';
$down_carrot_white-x: 186px;
$down_carrot_white-y: 133px;
$down_carrot_white-offset-x: -186px;
$down_carrot_white-offset-y: -133px;
$down_carrot_white-width: 60px;
$down_carrot_white-height: 32px;
$down_carrot_white-total-width: 465px;
$down_carrot_white-total-height: 165px;
$down_carrot_white-image: '/images/spritesheetPreLaunch.png';
$down_carrot_white: 186px 133px -186px -133px 60px 32px 465px 165px '/images/spritesheetPreLaunch.png';
$exit_video-x: 186px;
$exit_video-y: 66px;
$exit_video-offset-x: -186px;
$exit_video-offset-y: -66px;
$exit_video-width: 22px;
$exit_video-height: 22px;
$exit_video-total-width: 465px;
$exit_video-total-height: 165px;
$exit_video-image: '/images/spritesheetPreLaunch.png';
$exit_video: 186px 66px -186px -66px 22px 22px 465px 165px '/images/spritesheetPreLaunch.png';
$fb_logo-x: 209px;
$fb_logo-y: 66px;
$fb_logo-offset-x: -209px;
$fb_logo-offset-y: -66px;
$fb_logo-width: 10px;
$fb_logo-height: 20px;
$fb_logo-total-width: 465px;
$fb_logo-total-height: 165px;
$fb_logo-image: '/images/spritesheetPreLaunch.png';
$fb_logo: 209px 66px -209px -66px 10px 20px 465px 165px '/images/spritesheetPreLaunch.png';
$fb_logo_dark-x: 220px;
$fb_logo_dark-y: 66px;
$fb_logo_dark-offset-x: -220px;
$fb_logo_dark-offset-y: -66px;
$fb_logo_dark-width: 10px;
$fb_logo_dark-height: 20px;
$fb_logo_dark-total-width: 465px;
$fb_logo_dark-total-height: 165px;
$fb_logo_dark-image: '/images/spritesheetPreLaunch.png';
$fb_logo_dark: 220px 66px -220px -66px 10px 20px 465px 165px '/images/spritesheetPreLaunch.png';
$footer_logo-x: 264px;
$footer_logo-y: 92px;
$footer_logo-offset-x: -264px;
$footer_logo-offset-y: -92px;
$footer_logo-width: 40px;
$footer_logo-height: 40px;
$footer_logo-total-width: 465px;
$footer_logo-total-height: 165px;
$footer_logo-image: '/images/spritesheetPreLaunch.png';
$footer_logo: 264px 92px -264px -92px 40px 40px 465px 165px '/images/spritesheetPreLaunch.png';
$google_play-x: 141px;
$google_play-y: 92px;
$google_play-offset-x: -141px;
$google_play-offset-y: -92px;
$google_play-width: 122px;
$google_play-height: 40px;
$google_play-total-width: 465px;
$google_play-total-height: 165px;
$google_play-image: '/images/spritesheetPreLaunch.png';
$google_play: 141px 92px -141px -92px 122px 40px 465px 165px '/images/spritesheetPreLaunch.png';
$heirloom_logo_shadow-x: 186px;
$heirloom_logo_shadow-y: 0px;
$heirloom_logo_shadow-offset-x: -186px;
$heirloom_logo_shadow-offset-y: 0px;
$heirloom_logo_shadow-width: 279px;
$heirloom_logo_shadow-height: 65px;
$heirloom_logo_shadow-total-width: 465px;
$heirloom_logo_shadow-total-height: 165px;
$heirloom_logo_shadow-image: '/images/spritesheetPreLaunch.png';
$heirloom_logo_shadow: 186px 0px -186px 0px 279px 65px 465px 165px '/images/spritesheetPreLaunch.png';
$instagram_logo-x: 231px;
$instagram_logo-y: 66px;
$instagram_logo-offset-x: -231px;
$instagram_logo-offset-y: -66px;
$instagram_logo-width: 19px;
$instagram_logo-height: 20px;
$instagram_logo-total-width: 465px;
$instagram_logo-total-height: 165px;
$instagram_logo-image: '/images/spritesheetPreLaunch.png';
$instagram_logo: 231px 66px -231px -66px 19px 20px 465px 165px '/images/spritesheetPreLaunch.png';
$instagram_logo_dark-x: 251px;
$instagram_logo_dark-y: 66px;
$instagram_logo_dark-offset-x: -251px;
$instagram_logo_dark-offset-y: -66px;
$instagram_logo_dark-width: 19px;
$instagram_logo_dark-height: 20px;
$instagram_logo_dark-total-width: 465px;
$instagram_logo_dark-total-height: 165px;
$instagram_logo_dark-image: '/images/spritesheetPreLaunch.png';
$instagram_logo_dark: 251px 66px -251px -66px 19px 20px 465px 165px '/images/spritesheetPreLaunch.png';
$notify_me-x: 305px;
$notify_me-y: 92px;
$notify_me-offset-x: -305px;
$notify_me-offset-y: -92px;
$notify_me-width: 120px;
$notify_me-height: 32px;
$notify_me-total-width: 465px;
$notify_me-total-height: 165px;
$notify_me-image: '/images/spritesheetPreLaunch.png';
$notify_me: 305px 92px -305px -92px 120px 32px 465px 165px '/images/spritesheetPreLaunch.png';
$notify_me_hover-x: 65px;
$notify_me_hover-y: 133px;
$notify_me_hover-offset-x: -65px;
$notify_me_hover-offset-y: -133px;
$notify_me_hover-width: 120px;
$notify_me_hover-height: 32px;
$notify_me_hover-total-width: 465px;
$notify_me_hover-total-height: 165px;
$notify_me_hover-image: '/images/spritesheetPreLaunch.png';
$notify_me_hover: 65px 133px -65px -133px 120px 32px 465px 165px '/images/spritesheetPreLaunch.png';
$play_button-x: 93px;
$play_button-y: 0px;
$play_button-offset-x: -93px;
$play_button-offset-y: 0px;
$play_button-width: 92px;
$play_button-height: 91px;
$play_button-total-width: 465px;
$play_button-total-height: 165px;
$play_button-image: '/images/spritesheetPreLaunch.png';
$play_button: 93px 0px -93px 0px 92px 91px 465px 165px '/images/spritesheetPreLaunch.png';
$play_button_hover-x: 0px;
$play_button_hover-y: 0px;
$play_button_hover-offset-x: 0px;
$play_button_hover-offset-y: 0px;
$play_button_hover-width: 92px;
$play_button_hover-height: 91px;
$play_button_hover-total-width: 465px;
$play_button_hover-total-height: 165px;
$play_button_hover-image: '/images/spritesheetPreLaunch.png';
$play_button_hover: 0px 0px 0px 0px 92px 91px 465px 165px '/images/spritesheetPreLaunch.png';
$twitter_logo-x: 271px;
$twitter_logo-y: 66px;
$twitter_logo-offset-x: -271px;
$twitter_logo-offset-y: -66px;
$twitter_logo-width: 23px;
$twitter_logo-height: 19px;
$twitter_logo-total-width: 465px;
$twitter_logo-total-height: 165px;
$twitter_logo-image: '/images/spritesheetPreLaunch.png';
$twitter_logo: 271px 66px -271px -66px 23px 19px 465px 165px '/images/spritesheetPreLaunch.png';
$twitter_logo_dark-x: 295px;
$twitter_logo_dark-y: 66px;
$twitter_logo_dark-offset-x: -295px;
$twitter_logo_dark-offset-y: -66px;
$twitter_logo_dark-width: 23px;
$twitter_logo_dark-height: 19px;
$twitter_logo_dark-total-width: 465px;
$twitter_logo_dark-total-height: 165px;
$twitter_logo_dark-image: '/images/spritesheetPreLaunch.png';
$twitter_logo_dark: 295px 66px -295px -66px 23px 19px 465px 165px '/images/spritesheetPreLaunch.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
