/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$add_photos-2x-x: 132px;
$add_photos-2x-y: 376px;
$add_photos-2x-offset-x: -132px;
$add_photos-2x-offset-y: -376px;
$add_photos-2x-width: 38px;
$add_photos-2x-height: 38px;
$add_photos-2x-total-width: 638px;
$add_photos-2x-total-height: 502px;
$add_photos-2x-image: '/images/spritesheet-2x.png';
$add_photos-2x: 132px 376px -132px -376px 38px 38px 638px 502px '/images/spritesheet-2x.png';
$add_photos_hover_pressed-2x-x: 172px;
$add_photos_hover_pressed-2x-y: 376px;
$add_photos_hover_pressed-2x-offset-x: -172px;
$add_photos_hover_pressed-2x-offset-y: -376px;
$add_photos_hover_pressed-2x-width: 38px;
$add_photos_hover_pressed-2x-height: 38px;
$add_photos_hover_pressed-2x-total-width: 638px;
$add_photos_hover_pressed-2x-total-height: 502px;
$add_photos_hover_pressed-2x-image: '/images/spritesheet-2x.png';
$add_photos_hover_pressed-2x: 172px 376px -172px -376px 38px 38px 638px 502px '/images/spritesheet-2x.png';
$add_to_album-2x-x: 212px;
$add_to_album-2x-y: 376px;
$add_to_album-2x-offset-x: -212px;
$add_to_album-2x-offset-y: -376px;
$add_to_album-2x-width: 38px;
$add_to_album-2x-height: 38px;
$add_to_album-2x-total-width: 638px;
$add_to_album-2x-total-height: 502px;
$add_to_album-2x-image: '/images/spritesheet-2x.png';
$add_to_album-2x: 212px 376px -212px -376px 38px 38px 638px 502px '/images/spritesheet-2x.png';
$album_icon-2x-x: 446px;
$album_icon-2x-y: 376px;
$album_icon-2x-offset-x: -446px;
$album_icon-2x-offset-y: -376px;
$album_icon-2x-width: 34px;
$album_icon-2x-height: 32px;
$album_icon-2x-total-width: 638px;
$album_icon-2x-total-height: 502px;
$album_icon-2x-image: '/images/spritesheet-2x.png';
$album_icon-2x: 446px 376px -446px -376px 34px 32px 638px 502px '/images/spritesheet-2x.png';
$app_store-2x-x: 0px;
$app_store-2x-y: 422px;
$app_store-2x-offset-x: 0px;
$app_store-2x-offset-y: -422px;
$app_store-2x-width: 280px;
$app_store-2x-height: 80px;
$app_store-2x-total-width: 638px;
$app_store-2x-total-height: 502px;
$app_store-2x-image: '/images/spritesheet-2x.png';
$app_store-2x: 0px 422px 0px -422px 280px 80px 638px 502px '/images/spritesheet-2x.png';
$caret_grey-2x-x: 618px;
$caret_grey-2x-y: 88px;
$caret_grey-2x-offset-x: -618px;
$caret_grey-2x-offset-y: -88px;
$caret_grey-2x-width: 20px;
$caret_grey-2x-height: 12px;
$caret_grey-2x-total-width: 638px;
$caret_grey-2x-total-height: 502px;
$caret_grey-2x-image: '/images/spritesheet-2x.png';
$caret_grey-2x: 618px 88px -618px -88px 20px 12px 638px 502px '/images/spritesheet-2x.png';
$caret_left-2x-x: 610px;
$caret_left-2x-y: 272px;
$caret_left-2x-offset-x: -610px;
$caret_left-2x-offset-y: -272px;
$caret_left-2x-width: 28px;
$caret_left-2x-height: 42px;
$caret_left-2x-total-width: 638px;
$caret_left-2x-total-height: 502px;
$caret_left-2x-image: '/images/spritesheet-2x.png';
$caret_left-2x: 610px 272px -610px -272px 28px 42px 638px 502px '/images/spritesheet-2x.png';
$caret_red-2x-x: 618px;
$caret_red-2x-y: 74px;
$caret_red-2x-offset-x: -618px;
$caret_red-2x-offset-y: -74px;
$caret_red-2x-width: 20px;
$caret_red-2x-height: 12px;
$caret_red-2x-total-width: 638px;
$caret_red-2x-total-height: 502px;
$caret_red-2x-image: '/images/spritesheet-2x.png';
$caret_red-2x: 618px 74px -618px -74px 20px 12px 638px 502px '/images/spritesheet-2x.png';
$caret_right-2x-x: 610px;
$caret_right-2x-y: 126px;
$caret_right-2x-offset-x: -610px;
$caret_right-2x-offset-y: -126px;
$caret_right-2x-width: 26px;
$caret_right-2x-height: 42px;
$caret_right-2x-total-width: 638px;
$caret_right-2x-total-height: 502px;
$caret_right-2x-image: '/images/spritesheet-2x.png';
$caret_right-2x: 610px 126px -610px -126px 26px 42px 638px 502px '/images/spritesheet-2x.png';
$checkmark_active-2x-x: 566px;
$checkmark_active-2x-y: 0px;
$checkmark_active-2x-offset-x: -566px;
$checkmark_active-2x-offset-y: 0px;
$checkmark_active-2x-width: 72px;
$checkmark_active-2x-height: 72px;
$checkmark_active-2x-total-width: 638px;
$checkmark_active-2x-total-height: 502px;
$checkmark_active-2x-image: '/images/spritesheet-2x.png';
$checkmark_active-2x: 566px 0px -566px 0px 72px 72px 638px 502px '/images/spritesheet-2x.png';
$checkmark_hover-2x-x: 471px;
$checkmark_hover-2x-y: 290px;
$checkmark_hover-2x-offset-x: -471px;
$checkmark_hover-2x-offset-y: -290px;
$checkmark_hover-2x-width: 76px;
$checkmark_hover-2x-height: 76px;
$checkmark_hover-2x-total-width: 638px;
$checkmark_hover-2x-total-height: 502px;
$checkmark_hover-2x-image: '/images/spritesheet-2x.png';
$checkmark_hover-2x: 471px 290px -471px -290px 76px 76px 638px 502px '/images/spritesheet-2x.png';
$clock-2x-x: 298px;
$clock-2x-y: 376px;
$clock-2x-offset-x: -298px;
$clock-2x-offset-y: -376px;
$clock-2x-width: 36px;
$clock-2x-height: 36px;
$clock-2x-total-width: 638px;
$clock-2x-total-height: 502px;
$clock-2x-image: '/images/spritesheet-2x.png';
$clock-2x: 298px 376px -298px -376px 36px 36px 638px 502px '/images/spritesheet-2x.png';
$create_album-2x-x: 132px;
$create_album-2x-y: 290px;
$create_album-2x-offset-x: -132px;
$create_album-2x-offset-y: -290px;
$create_album-2x-width: 84px;
$create_album-2x-height: 84px;
$create_album-2x-total-width: 638px;
$create_album-2x-total-height: 502px;
$create_album-2x-image: '/images/spritesheet-2x.png';
$create_album-2x: 132px 290px -132px -290px 84px 84px 638px 502px '/images/spritesheet-2x.png';
$create_album_hover-2x-x: 218px;
$create_album_hover-2x-y: 290px;
$create_album_hover-2x-offset-x: -218px;
$create_album_hover-2x-offset-y: -290px;
$create_album_hover-2x-width: 84px;
$create_album_hover-2x-height: 84px;
$create_album_hover-2x-total-width: 638px;
$create_album_hover-2x-total-height: 502px;
$create_album_hover-2x-image: '/images/spritesheet-2x.png';
$create_album_hover-2x: 218px 290px -218px -290px 84px 84px 638px 502px '/images/spritesheet-2x.png';
$create_album_pressed-2x-x: 470px;
$create_album_pressed-2x-y: 184px;
$create_album_pressed-2x-offset-x: -470px;
$create_album_pressed-2x-offset-y: -184px;
$create_album_pressed-2x-width: 84px;
$create_album_pressed-2x-height: 84px;
$create_album_pressed-2x-total-width: 638px;
$create_album_pressed-2x-total-height: 502px;
$create_album_pressed-2x-image: '/images/spritesheet-2x.png';
$create_album_pressed-2x: 470px 184px -470px -184px 84px 84px 638px 502px '/images/spritesheet-2x.png';
$escape_photoview-2x-x: 482px;
$escape_photoview-2x-y: 376px;
$escape_photoview-2x-offset-x: -482px;
$escape_photoview-2x-offset-y: -376px;
$escape_photoview-2x-width: 32px;
$escape_photoview-2x-height: 32px;
$escape_photoview-2x-total-width: 638px;
$escape_photoview-2x-total-height: 502px;
$escape_photoview-2x-image: '/images/spritesheet-2x.png';
$escape_photoview-2x: 482px 376px -482px -376px 32px 32px 638px 502px '/images/spritesheet-2x.png';
$google_play-2x-x: 282px;
$google_play-2x-y: 422px;
$google_play-2x-offset-x: -282px;
$google_play-2x-offset-y: -422px;
$google_play-2x-width: 244px;
$google_play-2x-height: 80px;
$google_play-2x-total-width: 638px;
$google_play-2x-total-height: 502px;
$google_play-2x-image: '/images/spritesheet-2x.png';
$google_play-2x: 282px 422px -282px -422px 244px 80px 638px 502px '/images/spritesheet-2x.png';
$heirloom_icon-2x-x: 304px;
$heirloom_icon-2x-y: 290px;
$heirloom_icon-2x-offset-x: -304px;
$heirloom_icon-2x-offset-y: -290px;
$heirloom_icon-2x-width: 81px;
$heirloom_icon-2x-height: 82px;
$heirloom_icon-2x-total-width: 638px;
$heirloom_icon-2x-total-height: 502px;
$heirloom_icon-2x-image: '/images/spritesheet-2x.png';
$heirloom_icon-2x: 304px 290px -304px -290px 81px 82px 638px 502px '/images/spritesheet-2x.png';
$heirloom_icon_invite-2x-x: 0px;
$heirloom_icon_invite-2x-y: 290px;
$heirloom_icon_invite-2x-offset-x: 0px;
$heirloom_icon_invite-2x-offset-y: -290px;
$heirloom_icon_invite-2x-width: 130px;
$heirloom_icon_invite-2x-height: 130px;
$heirloom_icon_invite-2x-total-width: 638px;
$heirloom_icon_invite-2x-total-height: 502px;
$heirloom_icon_invite-2x-image: '/images/spritesheet-2x.png';
$heirloom_icon_invite-2x: 0px 290px 0px -290px 130px 130px 638px 502px '/images/spritesheet-2x.png';
$new_album_plus-2x-x: 382px;
$new_album_plus-2x-y: 0px;
$new_album_plus-2x-offset-x: -382px;
$new_album_plus-2x-offset-y: 0px;
$new_album_plus-2x-width: 182px;
$new_album_plus-2x-height: 182px;
$new_album_plus-2x-total-width: 638px;
$new_album_plus-2x-total-height: 502px;
$new_album_plus-2x-image: '/images/spritesheet-2x.png';
$new_album_plus-2x: 382px 0px -382px 0px 182px 182px 638px 502px '/images/spritesheet-2x.png';
$settings-2x-x: 566px;
$settings-2x-y: 176px;
$settings-2x-offset-x: -566px;
$settings-2x-offset-y: -176px;
$settings-2x-width: 48px;
$settings-2x-height: 46px;
$settings-2x-total-width: 638px;
$settings-2x-total-height: 502px;
$settings-2x-image: '/images/spritesheet-2x.png';
$settings-2x: 566px 176px -566px -176px 48px 46px 638px 502px '/images/spritesheet-2x.png';
$settings_hover-2x-x: 566px;
$settings_hover-2x-y: 224px;
$settings_hover-2x-offset-x: -566px;
$settings_hover-2x-offset-y: -224px;
$settings_hover-2x-width: 48px;
$settings_hover-2x-height: 46px;
$settings_hover-2x-total-width: 638px;
$settings_hover-2x-total-height: 502px;
$settings_hover-2x-image: '/images/spritesheet-2x.png';
$settings_hover-2x: 566px 224px -566px -224px 48px 46px 638px 502px '/images/spritesheet-2x.png';
$share_facebook-2x-x: 566px;
$share_facebook-2x-y: 74px;
$share_facebook-2x-offset-x: -566px;
$share_facebook-2x-offset-y: -74px;
$share_facebook-2x-width: 24px;
$share_facebook-2x-height: 50px;
$share_facebook-2x-total-width: 638px;
$share_facebook-2x-total-height: 502px;
$share_facebook-2x-image: '/images/spritesheet-2x.png';
$share_facebook-2x: 566px 74px -566px -74px 24px 50px 638px 502px '/images/spritesheet-2x.png';
$share_facebook_hover-2x-x: 592px;
$share_facebook_hover-2x-y: 74px;
$share_facebook_hover-2x-offset-x: -592px;
$share_facebook_hover-2x-offset-y: -74px;
$share_facebook_hover-2x-width: 24px;
$share_facebook_hover-2x-height: 50px;
$share_facebook_hover-2x-total-width: 638px;
$share_facebook_hover-2x-total-height: 502px;
$share_facebook_hover-2x-image: '/images/spritesheet-2x.png';
$share_facebook_hover-2x: 592px 74px -592px -74px 24px 50px 638px 502px '/images/spritesheet-2x.png';
$share_icon-2x-x: 566px;
$share_icon-2x-y: 444px;
$share_icon-2x-offset-x: -566px;
$share_icon-2x-offset-y: -444px;
$share_icon-2x-width: 48px;
$share_icon-2x-height: 40px;
$share_icon-2x-total-width: 638px;
$share_icon-2x-total-height: 502px;
$share_icon-2x-image: '/images/spritesheet-2x.png';
$share_icon-2x: 566px 444px -566px -444px 48px 40px 638px 502px '/images/spritesheet-2x.png';
$share_twitter-2x-x: 252px;
$share_twitter-2x-y: 376px;
$share_twitter-2x-offset-x: -252px;
$share_twitter-2x-offset-y: -376px;
$share_twitter-2x-width: 44px;
$share_twitter-2x-height: 36px;
$share_twitter-2x-total-width: 638px;
$share_twitter-2x-total-height: 502px;
$share_twitter-2x-image: '/images/spritesheet-2x.png';
$share_twitter-2x: 252px 376px -252px -376px 44px 36px 638px 502px '/images/spritesheet-2x.png';
$share_twitter_hover-2x-x: 336px;
$share_twitter_hover-2x-y: 376px;
$share_twitter_hover-2x-offset-x: -336px;
$share_twitter_hover-2x-offset-y: -376px;
$share_twitter_hover-2x-width: 44px;
$share_twitter_hover-2x-height: 36px;
$share_twitter_hover-2x-total-width: 638px;
$share_twitter_hover-2x-total-height: 502px;
$share_twitter_hover-2x-image: '/images/spritesheet-2x.png';
$share_twitter_hover-2x: 336px 376px -336px -376px 44px 36px 638px 502px '/images/spritesheet-2x.png';
$spinner-2x-x: 387px;
$spinner-2x-y: 290px;
$spinner-2x-offset-x: -387px;
$spinner-2x-offset-y: -290px;
$spinner-2x-width: 82px;
$spinner-2x-height: 82px;
$spinner-2x-total-width: 638px;
$spinner-2x-total-height: 502px;
$spinner-2x-image: '/images/spritesheet-2x.png';
$spinner-2x: 387px 290px -387px -290px 82px 82px 638px 502px '/images/spritesheet-2x.png';
$trashcan-2x-x: 566px;
$trashcan-2x-y: 126px;
$trashcan-2x-offset-x: -566px;
$trashcan-2x-offset-y: -126px;
$trashcan-2x-width: 42px;
$trashcan-2x-height: 48px;
$trashcan-2x-total-width: 638px;
$trashcan-2x-total-height: 502px;
$trashcan-2x-image: '/images/spritesheet-2x.png';
$trashcan-2x: 566px 126px -566px -126px 42px 48px 638px 502px '/images/spritesheet-2x.png';
$trashcan_button-2x-x: 382px;
$trashcan_button-2x-y: 184px;
$trashcan_button-2x-offset-x: -382px;
$trashcan_button-2x-offset-y: -184px;
$trashcan_button-2x-width: 86px;
$trashcan_button-2x-height: 88px;
$trashcan_button-2x-total-width: 638px;
$trashcan_button-2x-total-height: 502px;
$trashcan_button-2x-image: '/images/spritesheet-2x.png';
$trashcan_button-2x: 382px 184px -382px -184px 86px 88px 638px 502px '/images/spritesheet-2x.png';
$trashcan_hover_pressed-2x-x: 566px;
$trashcan_hover_pressed-2x-y: 272px;
$trashcan_hover_pressed-2x-offset-x: -566px;
$trashcan_hover_pressed-2x-offset-y: -272px;
$trashcan_hover_pressed-2x-width: 42px;
$trashcan_hover_pressed-2x-height: 44px;
$trashcan_hover_pressed-2x-total-width: 638px;
$trashcan_hover_pressed-2x-total-height: 502px;
$trashcan_hover_pressed-2x-image: '/images/spritesheet-2x.png';
$trashcan_hover_pressed-2x: 566px 272px -566px -272px 42px 44px 638px 502px '/images/spritesheet-2x.png';
$upload_hover_icon-2x-x: 414px;
$upload_hover_icon-2x-y: 376px;
$upload_hover_icon-2x-offset-x: -414px;
$upload_hover_icon-2x-offset-y: -376px;
$upload_hover_icon-2x-width: 30px;
$upload_hover_icon-2x-height: 34px;
$upload_hover_icon-2x-total-width: 638px;
$upload_hover_icon-2x-total-height: 502px;
$upload_hover_icon-2x-image: '/images/spritesheet-2x.png';
$upload_hover_icon-2x: 414px 376px -414px -376px 30px 34px 638px 502px '/images/spritesheet-2x.png';
$upload_icon-2x-x: 382px;
$upload_icon-2x-y: 376px;
$upload_icon-2x-offset-x: -382px;
$upload_icon-2x-offset-y: -376px;
$upload_icon-2x-width: 30px;
$upload_icon-2x-height: 34px;
$upload_icon-2x-total-width: 638px;
$upload_icon-2x-total-height: 502px;
$upload_icon-2x-image: '/images/spritesheet-2x.png';
$upload_icon-2x: 382px 376px -382px -376px 30px 34px 638px 502px '/images/spritesheet-2x.png';
$upload_image-2x-x: 0px;
$upload_image-2x-y: 0px;
$upload_image-2x-offset-x: 0px;
$upload_image-2x-offset-y: 0px;
$upload_image-2x-width: 380px;
$upload_image-2x-height: 288px;
$upload_image-2x-total-width: 638px;
$upload_image-2x-total-height: 502px;
$upload_image-2x-image: '/images/spritesheet-2x.png';
$upload_image-2x: 0px 0px 0px 0px 380px 288px 638px 502px '/images/spritesheet-2x.png';
$user_toggle-2x-x: 566px;
$user_toggle-2x-y: 318px;
$user_toggle-2x-offset-x: -566px;
$user_toggle-2x-offset-y: -318px;
$user_toggle-2x-width: 52px;
$user_toggle-2x-height: 40px;
$user_toggle-2x-total-width: 638px;
$user_toggle-2x-total-height: 502px;
$user_toggle-2x-image: '/images/spritesheet-2x.png';
$user_toggle-2x: 566px 318px -566px -318px 52px 40px 638px 502px '/images/spritesheet-2x.png';
$user_toggle_hover-2x-x: 566px;
$user_toggle_hover-2x-y: 402px;
$user_toggle_hover-2x-offset-x: -566px;
$user_toggle_hover-2x-offset-y: -402px;
$user_toggle_hover-2x-width: 52px;
$user_toggle_hover-2x-height: 40px;
$user_toggle_hover-2x-total-width: 638px;
$user_toggle_hover-2x-total-height: 502px;
$user_toggle_hover-2x-image: '/images/spritesheet-2x.png';
$user_toggle_hover-2x: 566px 402px -566px -402px 52px 40px 638px 502px '/images/spritesheet-2x.png';
$user_toggle_pressed-2x-x: 566px;
$user_toggle_pressed-2x-y: 360px;
$user_toggle_pressed-2x-offset-x: -566px;
$user_toggle_pressed-2x-offset-y: -360px;
$user_toggle_pressed-2x-width: 50px;
$user_toggle_pressed-2x-height: 40px;
$user_toggle_pressed-2x-total-width: 638px;
$user_toggle_pressed-2x-total-height: 502px;
$user_toggle_pressed-2x-image: '/images/spritesheet-2x.png';
$user_toggle_pressed-2x: 566px 360px -566px -360px 50px 40px 638px 502px '/images/spritesheet-2x.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
