/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$add_album-2x-x: 484px;
$add_album-2x-y: 240px;
$add_album-2x-offset-x: -484px;
$add_album-2x-offset-y: -240px;
$add_album-2x-width: 44px;
$add_album-2x-height: 44px;
$add_album-2x-total-width: 648px;
$add_album-2x-total-height: 644px;
$add_album-2x-image: '/images/spritesheet-2x.png';
$add_album-2x: 484px 240px -484px -240px 44px 44px 648px 644px '/images/spritesheet-2x.png';
$add_album_hover-2x-x: 516px;
$add_album_hover-2x-y: 512px;
$add_album_hover-2x-offset-x: -516px;
$add_album_hover-2x-offset-y: -512px;
$add_album_hover-2x-width: 44px;
$add_album_hover-2x-height: 44px;
$add_album_hover-2x-total-width: 648px;
$add_album_hover-2x-total-height: 644px;
$add_album_hover-2x-image: '/images/spritesheet-2x.png';
$add_album_hover-2x: 516px 512px -516px -512px 44px 44px 648px 644px '/images/spritesheet-2x.png';
$add_photos-2x-x: 518px;
$add_photos-2x-y: 380px;
$add_photos-2x-offset-x: -518px;
$add_photos-2x-offset-y: -380px;
$add_photos-2x-width: 38px;
$add_photos-2x-height: 38px;
$add_photos-2x-total-width: 648px;
$add_photos-2x-total-height: 644px;
$add_photos-2x-image: '/images/spritesheet-2x.png';
$add_photos-2x: 518px 380px -518px -380px 38px 38px 648px 644px '/images/spritesheet-2x.png';
$add_photos_hover_pressed-2x-x: 342px;
$add_photos_hover_pressed-2x-y: 562px;
$add_photos_hover_pressed-2x-offset-x: -342px;
$add_photos_hover_pressed-2x-offset-y: -562px;
$add_photos_hover_pressed-2x-width: 38px;
$add_photos_hover_pressed-2x-height: 38px;
$add_photos_hover_pressed-2x-total-width: 648px;
$add_photos_hover_pressed-2x-total-height: 644px;
$add_photos_hover_pressed-2x-image: '/images/spritesheet-2x.png';
$add_photos_hover_pressed-2x: 342px 562px -342px -562px 38px 38px 648px 644px '/images/spritesheet-2x.png';
$add_to_album-2x-x: 432px;
$add_to_album-2x-y: 562px;
$add_to_album-2x-offset-x: -432px;
$add_to_album-2x-offset-y: -562px;
$add_to_album-2x-width: 38px;
$add_to_album-2x-height: 38px;
$add_to_album-2x-total-width: 648px;
$add_to_album-2x-total-height: 644px;
$add_to_album-2x-image: '/images/spritesheet-2x.png';
$add_to_album-2x: 432px 562px -432px -562px 38px 38px 648px 644px '/images/spritesheet-2x.png';
$album_icon-2x-x: 194px;
$album_icon-2x-y: 608px;
$album_icon-2x-offset-x: -194px;
$album_icon-2x-offset-y: -608px;
$album_icon-2x-width: 34px;
$album_icon-2x-height: 32px;
$album_icon-2x-total-width: 648px;
$album_icon-2x-total-height: 644px;
$album_icon-2x-image: '/images/spritesheet-2x.png';
$album_icon-2x: 194px 608px -194px -608px 34px 32px 648px 644px '/images/spritesheet-2x.png';
$albums_hover-2x-x: 188px;
$albums_hover-2x-y: 562px;
$albums_hover-2x-offset-x: -188px;
$albums_hover-2x-offset-y: -562px;
$albums_hover-2x-width: 44px;
$albums_hover-2x-height: 42px;
$albums_hover-2x-total-width: 648px;
$albums_hover-2x-total-height: 644px;
$albums_hover-2x-image: '/images/spritesheet-2x.png';
$albums_hover-2x: 188px 562px -188px -562px 44px 42px 648px 644px '/images/spritesheet-2x.png';
$albums_normal-2x-x: 46px;
$albums_normal-2x-y: 562px;
$albums_normal-2x-offset-x: -46px;
$albums_normal-2x-offset-y: -562px;
$albums_normal-2x-width: 44px;
$albums_normal-2x-height: 42px;
$albums_normal-2x-total-width: 648px;
$albums_normal-2x-total-height: 644px;
$albums_normal-2x-image: '/images/spritesheet-2x.png';
$albums_normal-2x: 46px 562px -46px -562px 44px 42px 648px 644px '/images/spritesheet-2x.png';
$app_store_v2-2x-x: 220px;
$app_store_v2-2x-y: 290px;
$app_store_v2-2x-offset-x: -220px;
$app_store_v2-2x-offset-y: -290px;
$app_store_v2-2x-width: 282px;
$app_store_v2-2x-height: 88px;
$app_store_v2-2x-total-width: 648px;
$app_store_v2-2x-total-height: 644px;
$app_store_v2-2x-image: '/images/spritesheet-2x.png';
$app_store_v2-2x: 220px 290px -220px -290px 282px 88px 648px 644px '/images/spritesheet-2x.png';
$caret_grey-2x-x: 566px;
$caret_grey-2x-y: 496px;
$caret_grey-2x-offset-x: -566px;
$caret_grey-2x-offset-y: -496px;
$caret_grey-2x-width: 20px;
$caret_grey-2x-height: 12px;
$caret_grey-2x-total-width: 648px;
$caret_grey-2x-total-height: 644px;
$caret_grey-2x-image: '/images/spritesheet-2x.png';
$caret_grey-2x: 566px 496px -566px -496px 20px 12px 648px 644px '/images/spritesheet-2x.png';
$caret_left-2x-x: 608px;
$caret_left-2x-y: 512px;
$caret_left-2x-offset-x: -608px;
$caret_left-2x-offset-y: -512px;
$caret_left-2x-width: 28px;
$caret_left-2x-height: 42px;
$caret_left-2x-total-width: 648px;
$caret_left-2x-total-height: 644px;
$caret_left-2x-image: '/images/spritesheet-2x.png';
$caret_left-2x: 608px 512px -608px -512px 28px 42px 648px 644px '/images/spritesheet-2x.png';
$caret_red-2x-x: 588px;
$caret_red-2x-y: 496px;
$caret_red-2x-offset-x: -588px;
$caret_red-2x-offset-y: -496px;
$caret_red-2x-width: 20px;
$caret_red-2x-height: 12px;
$caret_red-2x-total-width: 648px;
$caret_red-2x-total-height: 644px;
$caret_red-2x-image: '/images/spritesheet-2x.png';
$caret_red-2x: 588px 496px -588px -496px 20px 12px 648px 644px '/images/spritesheet-2x.png';
$caret_right-2x-x: 530px;
$caret_right-2x-y: 240px;
$caret_right-2x-offset-x: -530px;
$caret_right-2x-offset-y: -240px;
$caret_right-2x-width: 26px;
$caret_right-2x-height: 42px;
$caret_right-2x-total-width: 648px;
$caret_right-2x-total-height: 644px;
$caret_right-2x-image: '/images/spritesheet-2x.png';
$caret_right-2x: 530px 240px -530px -240px 26px 42px 648px 644px '/images/spritesheet-2x.png';
$checkmark_active-2x-x: 566px;
$checkmark_active-2x-y: 246px;
$checkmark_active-2x-offset-x: -566px;
$checkmark_active-2x-offset-y: -246px;
$checkmark_active-2x-width: 72px;
$checkmark_active-2x-height: 72px;
$checkmark_active-2x-total-width: 648px;
$checkmark_active-2x-total-height: 644px;
$checkmark_active-2x-image: '/images/spritesheet-2x.png';
$checkmark_active-2x: 566px 246px -566px -246px 72px 72px 648px 644px '/images/spritesheet-2x.png';
$checkmark_hover-2x-x: 566px;
$checkmark_hover-2x-y: 168px;
$checkmark_hover-2x-offset-x: -566px;
$checkmark_hover-2x-offset-y: -168px;
$checkmark_hover-2x-width: 76px;
$checkmark_hover-2x-height: 76px;
$checkmark_hover-2x-total-width: 648px;
$checkmark_hover-2x-total-height: 644px;
$checkmark_hover-2x-image: '/images/spritesheet-2x.png';
$checkmark_hover-2x: 566px 168px -566px -168px 76px 76px 648px 644px '/images/spritesheet-2x.png';
$clear_contact-2x-x: 264px;
$clear_contact-2x-y: 608px;
$clear_contact-2x-offset-x: -264px;
$clear_contact-2x-offset-y: -608px;
$clear_contact-2x-width: 30px;
$clear_contact-2x-height: 28px;
$clear_contact-2x-total-width: 648px;
$clear_contact-2x-total-height: 644px;
$clear_contact-2x-image: '/images/spritesheet-2x.png';
$clear_contact-2x: 264px 608px -264px -608px 30px 28px 648px 644px '/images/spritesheet-2x.png';
$clock-2x-x: 0px;
$clock-2x-y: 608px;
$clock-2x-offset-x: 0px;
$clock-2x-offset-y: -608px;
$clock-2x-width: 36px;
$clock-2x-height: 36px;
$clock-2x-total-width: 648px;
$clock-2x-total-height: 644px;
$clock-2x-image: '/images/spritesheet-2x.png';
$clock-2x: 0px 608px 0px -608px 36px 36px 648px 644px '/images/spritesheet-2x.png';
$create_album-2x-x: 456px;
$create_album-2x-y: 422px;
$create_album-2x-offset-x: -456px;
$create_album-2x-offset-y: -422px;
$create_album-2x-width: 84px;
$create_album-2x-height: 84px;
$create_album-2x-total-width: 648px;
$create_album-2x-total-height: 644px;
$create_album-2x-image: '/images/spritesheet-2x.png';
$create_album-2x: 456px 422px -456px -422px 84px 84px 648px 644px '/images/spritesheet-2x.png';
$create_album_hover-2x-x: 370px;
$create_album_hover-2x-y: 422px;
$create_album_hover-2x-offset-x: -370px;
$create_album_hover-2x-offset-y: -422px;
$create_album_hover-2x-width: 84px;
$create_album_hover-2x-height: 84px;
$create_album_hover-2x-total-width: 648px;
$create_album_hover-2x-total-height: 644px;
$create_album_hover-2x-image: '/images/spritesheet-2x.png';
$create_album_hover-2x: 370px 422px -370px -422px 84px 84px 648px 644px '/images/spritesheet-2x.png';
$create_album_pressed-2x-x: 284px;
$create_album_pressed-2x-y: 422px;
$create_album_pressed-2x-offset-x: -284px;
$create_album_pressed-2x-offset-y: -422px;
$create_album_pressed-2x-width: 84px;
$create_album_pressed-2x-height: 84px;
$create_album_pressed-2x-total-width: 648px;
$create_album_pressed-2x-total-height: 644px;
$create_album_pressed-2x-image: '/images/spritesheet-2x.png';
$create_album_pressed-2x: 284px 422px -284px -422px 84px 84px 648px 644px '/images/spritesheet-2x.png';
$create_group-2x-x: 100px;
$create_group-2x-y: 512px;
$create_group-2x-offset-x: -100px;
$create_group-2x-offset-y: -512px;
$create_group-2x-width: 46px;
$create_group-2x-height: 46px;
$create_group-2x-total-width: 648px;
$create_group-2x-total-height: 644px;
$create_group-2x-image: '/images/spritesheet-2x.png';
$create_group-2x: 100px 512px -100px -512px 46px 46px 648px 644px '/images/spritesheet-2x.png';
$delete_photo-2x-x: 504px;
$delete_photo-2x-y: 290px;
$delete_photo-2x-offset-x: -504px;
$delete_photo-2x-offset-y: -290px;
$delete_photo-2x-width: 54px;
$delete_photo-2x-height: 52px;
$delete_photo-2x-total-width: 648px;
$delete_photo-2x-total-height: 644px;
$delete_photo-2x-image: '/images/spritesheet-2x.png';
$delete_photo-2x: 504px 290px -504px -290px 54px 52px 648px 644px '/images/spritesheet-2x.png';
$download-2x-x: 92px;
$download-2x-y: 562px;
$download-2x-offset-x: -92px;
$download-2x-offset-y: -562px;
$download-2x-width: 46px;
$download-2x-height: 42px;
$download-2x-total-width: 648px;
$download-2x-total-height: 644px;
$download-2x-image: '/images/spritesheet-2x.png';
$download-2x: 92px 562px -92px -562px 46px 42px 648px 644px '/images/spritesheet-2x.png';
$download_hover-2x-x: 140px;
$download_hover-2x-y: 562px;
$download_hover-2x-offset-x: -140px;
$download_hover-2x-offset-y: -562px;
$download_hover-2x-width: 46px;
$download_hover-2x-height: 42px;
$download_hover-2x-total-width: 648px;
$download_hover-2x-total-height: 644px;
$download_hover-2x-image: '/images/spritesheet-2x.png';
$download_hover-2x: 140px 562px -140px -562px 46px 42px 648px 644px '/images/spritesheet-2x.png';
$dropbox_hover-2x-x: 566px;
$dropbox_hover-2x-y: 380px;
$dropbox_hover-2x-offset-x: -566px;
$dropbox_hover-2x-offset-y: -380px;
$dropbox_hover-2x-width: 56px;
$dropbox_hover-2x-height: 58px;
$dropbox_hover-2x-total-width: 648px;
$dropbox_hover-2x-total-height: 644px;
$dropbox_hover-2x-image: '/images/spritesheet-2x.png';
$dropbox_hover-2x: 566px 380px -566px -380px 56px 58px 648px 644px '/images/spritesheet-2x.png';
$dropbox_normal-2x-x: 566px;
$dropbox_normal-2x-y: 320px;
$dropbox_normal-2x-offset-x: -566px;
$dropbox_normal-2x-offset-y: -320px;
$dropbox_normal-2x-width: 56px;
$dropbox_normal-2x-height: 58px;
$dropbox_normal-2x-total-width: 648px;
$dropbox_normal-2x-total-height: 644px;
$dropbox_normal-2x-image: '/images/spritesheet-2x.png';
$dropbox_normal-2x: 566px 320px -566px -320px 56px 58px 648px 644px '/images/spritesheet-2x.png';
$escape_photoview-2x-x: 230px;
$escape_photoview-2x-y: 608px;
$escape_photoview-2x-offset-x: -230px;
$escape_photoview-2x-offset-y: -608px;
$escape_photoview-2x-width: 32px;
$escape_photoview-2x-height: 32px;
$escape_photoview-2x-total-width: 648px;
$escape_photoview-2x-total-height: 644px;
$escape_photoview-2x-image: '/images/spritesheet-2x.png';
$escape_photoview-2x: 230px 608px -230px -608px 32px 32px 648px 644px '/images/spritesheet-2x.png';
$fb_logo_gray-2x-x: 312px;
$fb_logo_gray-2x-y: 380px;
$fb_logo_gray-2x-offset-x: -312px;
$fb_logo_gray-2x-offset-y: -380px;
$fb_logo_gray-2x-width: 20px;
$fb_logo_gray-2x-height: 40px;
$fb_logo_gray-2x-total-width: 648px;
$fb_logo_gray-2x-total-height: 644px;
$fb_logo_gray-2x-image: '/images/spritesheet-2x.png';
$fb_logo_gray-2x: 312px 380px -312px -380px 20px 40px 648px 644px '/images/spritesheet-2x.png';
$fb_logo_gray_hover-2x-x: 234px;
$fb_logo_gray_hover-2x-y: 380px;
$fb_logo_gray_hover-2x-offset-x: -234px;
$fb_logo_gray_hover-2x-offset-y: -380px;
$fb_logo_gray_hover-2x-width: 22px;
$fb_logo_gray_hover-2x-height: 40px;
$fb_logo_gray_hover-2x-total-width: 648px;
$fb_logo_gray_hover-2x-total-height: 644px;
$fb_logo_gray_hover-2x-image: '/images/spritesheet-2x.png';
$fb_logo_gray_hover-2x: 234px 380px -234px -380px 22px 40px 648px 644px '/images/spritesheet-2x.png';
$google_play_v2-2x-x: 0px;
$google_play_v2-2x-y: 422px;
$google_play_v2-2x-offset-x: 0px;
$google_play_v2-2x-offset-y: -422px;
$google_play_v2-2x-width: 282px;
$google_play_v2-2x-height: 88px;
$google_play_v2-2x-total-width: 648px;
$google_play_v2-2x-total-height: 644px;
$google_play_v2-2x-image: '/images/spritesheet-2x.png';
$google_play_v2-2x: 0px 422px 0px -422px 282px 88px 648px 644px '/images/spritesheet-2x.png';
$heirloom_icon-2x-x: 566px;
$heirloom_icon-2x-y: 0px;
$heirloom_icon-2x-offset-x: -566px;
$heirloom_icon-2x-offset-y: 0px;
$heirloom_icon-2x-width: 82px;
$heirloom_icon-2x-height: 82px;
$heirloom_icon-2x-total-width: 648px;
$heirloom_icon-2x-total-height: 644px;
$heirloom_icon-2x-image: '/images/spritesheet-2x.png';
$heirloom_icon-2x: 566px 0px -566px 0px 82px 82px 648px 644px '/images/spritesheet-2x.png';
$heirloom_icon_invite-2x-x: 0px;
$heirloom_icon_invite-2x-y: 290px;
$heirloom_icon_invite-2x-offset-x: 0px;
$heirloom_icon_invite-2x-offset-y: -290px;
$heirloom_icon_invite-2x-width: 130px;
$heirloom_icon_invite-2x-height: 130px;
$heirloom_icon_invite-2x-total-width: 648px;
$heirloom_icon_invite-2x-total-height: 644px;
$heirloom_icon_invite-2x-image: '/images/spritesheet-2x.png';
$heirloom_icon_invite-2x: 0px 290px 0px -290px 130px 130px 648px 644px '/images/spritesheet-2x.png';
$instagram_logo_gray-2x-x: 388px;
$instagram_logo_gray-2x-y: 380px;
$instagram_logo_gray-2x-offset-x: -388px;
$instagram_logo_gray-2x-offset-y: -380px;
$instagram_logo_gray-2x-width: 38px;
$instagram_logo_gray-2x-height: 38px;
$instagram_logo_gray-2x-total-width: 648px;
$instagram_logo_gray-2x-total-height: 644px;
$instagram_logo_gray-2x-image: '/images/spritesheet-2x.png';
$instagram_logo_gray-2x: 388px 380px -388px -380px 38px 38px 648px 644px '/images/spritesheet-2x.png';
$instagram_logo_gray_hover-2x-x: 428px;
$instagram_logo_gray_hover-2x-y: 380px;
$instagram_logo_gray_hover-2x-offset-x: -428px;
$instagram_logo_gray_hover-2x-offset-y: -380px;
$instagram_logo_gray_hover-2x-width: 40px;
$instagram_logo_gray_hover-2x-height: 38px;
$instagram_logo_gray_hover-2x-total-width: 648px;
$instagram_logo_gray_hover-2x-total-height: 644px;
$instagram_logo_gray_hover-2x-image: '/images/spritesheet-2x.png';
$instagram_logo_gray_hover-2x: 428px 380px -428px -380px 40px 38px 648px 644px '/images/spritesheet-2x.png';
$left_arrow-2x-x: 72px;
$left_arrow-2x-y: 512px;
$left_arrow-2x-offset-x: -72px;
$left_arrow-2x-offset-y: -512px;
$left_arrow-2x-width: 26px;
$left_arrow-2x-height: 48px;
$left_arrow-2x-total-width: 648px;
$left_arrow-2x-total-height: 644px;
$left_arrow-2x-image: '/images/spritesheet-2x.png';
$left_arrow-2x: 72px 512px -72px -512px 26px 48px 648px 644px '/images/spritesheet-2x.png';
$left_arrow_hover-2x-x: 0px;
$left_arrow_hover-2x-y: 512px;
$left_arrow_hover-2x-offset-x: 0px;
$left_arrow_hover-2x-offset-y: -512px;
$left_arrow_hover-2x-width: 26px;
$left_arrow_hover-2x-height: 48px;
$left_arrow_hover-2x-total-width: 648px;
$left_arrow_hover-2x-total-height: 644px;
$left_arrow_hover-2x-image: '/images/spritesheet-2x.png';
$left_arrow_hover-2x: 0px 512px 0px -512px 26px 48px 648px 644px '/images/spritesheet-2x.png';
$moments_hover-2x-x: 310px;
$moments_hover-2x-y: 512px;
$moments_hover-2x-offset-x: -310px;
$moments_hover-2x-offset-y: -512px;
$moments_hover-2x-width: 60px;
$moments_hover-2x-height: 46px;
$moments_hover-2x-total-width: 648px;
$moments_hover-2x-total-height: 644px;
$moments_hover-2x-image: '/images/spritesheet-2x.png';
$moments_hover-2x: 310px 512px -310px -512px 60px 46px 648px 644px '/images/spritesheet-2x.png';
$moments_normal-2x-x: 148px;
$moments_normal-2x-y: 512px;
$moments_normal-2x-offset-x: -148px;
$moments_normal-2x-offset-y: -512px;
$moments_normal-2x-width: 60px;
$moments_normal-2x-height: 46px;
$moments_normal-2x-total-width: 648px;
$moments_normal-2x-total-height: 644px;
$moments_normal-2x-image: '/images/spritesheet-2x.png';
$moments_normal-2x: 148px 512px -148px -512px 60px 46px 648px 644px '/images/spritesheet-2x.png';
$new_album_plus-2x-x: 382px;
$new_album_plus-2x-y: 0px;
$new_album_plus-2x-offset-x: -382px;
$new_album_plus-2x-offset-y: 0px;
$new_album_plus-2x-width: 182px;
$new_album_plus-2x-height: 182px;
$new_album_plus-2x-total-width: 648px;
$new_album_plus-2x-total-height: 644px;
$new_album_plus-2x-image: '/images/spritesheet-2x.png';
$new_album_plus-2x: 382px 0px -382px 0px 182px 182px 648px 644px '/images/spritesheet-2x.png';
$new_group_avatar-2x-x: 382px;
$new_group_avatar-2x-y: 184px;
$new_group_avatar-2x-offset-x: -382px;
$new_group_avatar-2x-offset-y: -184px;
$new_group_avatar-2x-width: 100px;
$new_group_avatar-2x-height: 100px;
$new_group_avatar-2x-total-width: 648px;
$new_group_avatar-2x-total-height: 644px;
$new_group_avatar-2x-image: '/images/spritesheet-2x.png';
$new_group_avatar-2x: 382px 184px -382px -184px 100px 100px 648px 644px '/images/spritesheet-2x.png';
$photo_download-2x-x: 262px;
$photo_download-2x-y: 512px;
$photo_download-2x-offset-x: -262px;
$photo_download-2x-offset-y: -512px;
$photo_download-2x-width: 46px;
$photo_download-2x-height: 46px;
$photo_download-2x-total-width: 648px;
$photo_download-2x-total-height: 644px;
$photo_download-2x-image: '/images/spritesheet-2x.png';
$photo_download-2x: 262px 512px -262px -512px 46px 46px 648px 644px '/images/spritesheet-2x.png';
$right_arrow-2x-x: 612px;
$right_arrow-2x-y: 440px;
$right_arrow-2x-offset-x: -612px;
$right_arrow-2x-offset-y: -440px;
$right_arrow-2x-width: 26px;
$right_arrow-2x-height: 48px;
$right_arrow-2x-total-width: 648px;
$right_arrow-2x-total-height: 644px;
$right_arrow-2x-image: '/images/spritesheet-2x.png';
$right_arrow-2x: 612px 440px -612px -440px 26px 48px 648px 644px '/images/spritesheet-2x.png';
$right_arrow_hover-2x-x: 530px;
$right_arrow_hover-2x-y: 184px;
$right_arrow_hover-2x-offset-x: -530px;
$right_arrow_hover-2x-offset-y: -184px;
$right_arrow_hover-2x-width: 26px;
$right_arrow_hover-2x-height: 48px;
$right_arrow_hover-2x-total-width: 648px;
$right_arrow_hover-2x-total-height: 644px;
$right_arrow_hover-2x-image: '/images/spritesheet-2x.png';
$right_arrow_hover-2x: 530px 184px -530px -184px 26px 48px 648px 644px '/images/spritesheet-2x.png';
$rotate_photo-2x-x: 210px;
$rotate_photo-2x-y: 512px;
$rotate_photo-2x-offset-x: -210px;
$rotate_photo-2x-offset-y: -512px;
$rotate_photo-2x-width: 50px;
$rotate_photo-2x-height: 46px;
$rotate_photo-2x-total-width: 648px;
$rotate_photo-2x-total-height: 644px;
$rotate_photo-2x-image: '/images/spritesheet-2x.png';
$rotate_photo-2x: 210px 512px -210px -512px 50px 46px 648px 644px '/images/spritesheet-2x.png';
$settings-2x-x: 422px;
$settings-2x-y: 512px;
$settings-2x-offset-x: -422px;
$settings-2x-offset-y: -512px;
$settings-2x-width: 48px;
$settings-2x-height: 46px;
$settings-2x-total-width: 648px;
$settings-2x-total-height: 644px;
$settings-2x-image: '/images/spritesheet-2x.png';
$settings-2x: 422px 512px -422px -512px 48px 46px 648px 644px '/images/spritesheet-2x.png';
$settings_hover-2x-x: 372px;
$settings_hover-2x-y: 512px;
$settings_hover-2x-offset-x: -372px;
$settings_hover-2x-offset-y: -512px;
$settings_hover-2x-width: 48px;
$settings_hover-2x-height: 46px;
$settings_hover-2x-total-width: 648px;
$settings_hover-2x-total-height: 644px;
$settings_hover-2x-image: '/images/spritesheet-2x.png';
$settings_hover-2x: 372px 512px -372px -512px 48px 46px 648px 644px '/images/spritesheet-2x.png';
$share-2x-x: 234px;
$share-2x-y: 562px;
$share-2x-offset-x: -234px;
$share-2x-offset-y: -562px;
$share-2x-width: 52px;
$share-2x-height: 42px;
$share-2x-total-width: 648px;
$share-2x-total-height: 644px;
$share-2x-image: '/images/spritesheet-2x.png';
$share-2x: 234px 562px -234px -562px 52px 42px 648px 644px '/images/spritesheet-2x.png';
$share_facebook-2x-x: 624px;
$share_facebook-2x-y: 320px;
$share_facebook-2x-offset-x: -624px;
$share_facebook-2x-offset-y: -320px;
$share_facebook-2x-width: 24px;
$share_facebook-2x-height: 50px;
$share_facebook-2x-total-width: 648px;
$share_facebook-2x-total-height: 644px;
$share_facebook-2x-image: '/images/spritesheet-2x.png';
$share_facebook-2x: 624px 320px -624px -320px 24px 50px 648px 644px '/images/spritesheet-2x.png';
$share_facebook_hover-2x-x: 624px;
$share_facebook_hover-2x-y: 380px;
$share_facebook_hover-2x-offset-x: -624px;
$share_facebook_hover-2x-offset-y: -380px;
$share_facebook_hover-2x-width: 24px;
$share_facebook_hover-2x-height: 50px;
$share_facebook_hover-2x-total-width: 648px;
$share_facebook_hover-2x-total-height: 644px;
$share_facebook_hover-2x-image: '/images/spritesheet-2x.png';
$share_facebook_hover-2x: 624px 380px -624px -380px 24px 50px 648px 644px '/images/spritesheet-2x.png';
$share_hover-2x-x: 288px;
$share_hover-2x-y: 562px;
$share_hover-2x-offset-x: -288px;
$share_hover-2x-offset-y: -562px;
$share_hover-2x-width: 52px;
$share_hover-2x-height: 42px;
$share_hover-2x-total-width: 648px;
$share_hover-2x-total-height: 644px;
$share_hover-2x-image: '/images/spritesheet-2x.png';
$share_hover-2x: 288px 562px -288px -562px 52px 42px 648px 644px '/images/spritesheet-2x.png';
$share_icon-2x-x: 184px;
$share_icon-2x-y: 380px;
$share_icon-2x-offset-x: -184px;
$share_icon-2x-offset-y: -380px;
$share_icon-2x-width: 48px;
$share_icon-2x-height: 40px;
$share_icon-2x-total-width: 648px;
$share_icon-2x-total-height: 644px;
$share_icon-2x-image: '/images/spritesheet-2x.png';
$share_icon-2x: 184px 380px -184px -380px 48px 40px 648px 644px '/images/spritesheet-2x.png';
$share_twitter-2x-x: 518px;
$share_twitter-2x-y: 562px;
$share_twitter-2x-offset-x: -518px;
$share_twitter-2x-offset-y: -562px;
$share_twitter-2x-width: 44px;
$share_twitter-2x-height: 36px;
$share_twitter-2x-total-width: 648px;
$share_twitter-2x-total-height: 644px;
$share_twitter-2x-image: '/images/spritesheet-2x.png';
$share_twitter-2x: 518px 562px -518px -562px 44px 36px 648px 644px '/images/spritesheet-2x.png';
$share_twitter_hover-2x-x: 472px;
$share_twitter_hover-2x-y: 562px;
$share_twitter_hover-2x-offset-x: -472px;
$share_twitter_hover-2x-offset-y: -562px;
$share_twitter_hover-2x-width: 44px;
$share_twitter_hover-2x-height: 36px;
$share_twitter_hover-2x-total-width: 648px;
$share_twitter_hover-2x-total-height: 644px;
$share_twitter_hover-2x-image: '/images/spritesheet-2x.png';
$share_twitter_hover-2x: 472px 562px -472px -562px 44px 36px 648px 644px '/images/spritesheet-2x.png';
$spinner-2x-x: 566px;
$spinner-2x-y: 84px;
$spinner-2x-offset-x: -566px;
$spinner-2x-offset-y: -84px;
$spinner-2x-width: 82px;
$spinner-2x-height: 82px;
$spinner-2x-total-width: 648px;
$spinner-2x-total-height: 644px;
$spinner-2x-image: '/images/spritesheet-2x.png';
$spinner-2x: 566px 84px -566px -84px 82px 82px 648px 644px '/images/spritesheet-2x.png';
$toggle_metadata-2x-x: 126px;
$toggle_metadata-2x-y: 608px;
$toggle_metadata-2x-offset-x: -126px;
$toggle_metadata-2x-offset-y: -608px;
$toggle_metadata-2x-width: 66px;
$toggle_metadata-2x-height: 34px;
$toggle_metadata-2x-total-width: 648px;
$toggle_metadata-2x-total-height: 644px;
$toggle_metadata-2x-image: '/images/spritesheet-2x.png';
$toggle_metadata-2x: 126px 608px -126px -608px 66px 34px 648px 644px '/images/spritesheet-2x.png';
$trash-2x-x: 0px;
$trash-2x-y: 562px;
$trash-2x-offset-x: 0px;
$trash-2x-offset-y: -562px;
$trash-2x-width: 44px;
$trash-2x-height: 44px;
$trash-2x-total-width: 648px;
$trash-2x-total-height: 644px;
$trash-2x-image: '/images/spritesheet-2x.png';
$trash-2x: 0px 562px 0px -562px 44px 44px 648px 644px '/images/spritesheet-2x.png';
$trash_hover-2x-x: 562px;
$trash_hover-2x-y: 512px;
$trash_hover-2x-offset-x: -562px;
$trash_hover-2x-offset-y: -512px;
$trash_hover-2x-width: 44px;
$trash_hover-2x-height: 44px;
$trash_hover-2x-total-width: 648px;
$trash_hover-2x-total-height: 644px;
$trash_hover-2x-image: '/images/spritesheet-2x.png';
$trash_hover-2x: 562px 512px -562px -512px 44px 44px 648px 644px '/images/spritesheet-2x.png';
$trashcan-2x-x: 28px;
$trashcan-2x-y: 512px;
$trashcan-2x-offset-x: -28px;
$trashcan-2x-offset-y: -512px;
$trashcan-2x-width: 42px;
$trashcan-2x-height: 48px;
$trashcan-2x-total-width: 648px;
$trashcan-2x-total-height: 644px;
$trashcan-2x-image: '/images/spritesheet-2x.png';
$trashcan-2x: 28px 512px -28px -512px 42px 48px 648px 644px '/images/spritesheet-2x.png';
$trashcan_button-2x-x: 132px;
$trashcan_button-2x-y: 290px;
$trashcan_button-2x-offset-x: -132px;
$trashcan_button-2x-offset-y: -290px;
$trashcan_button-2x-width: 86px;
$trashcan_button-2x-height: 88px;
$trashcan_button-2x-total-width: 648px;
$trashcan_button-2x-total-height: 644px;
$trashcan_button-2x-image: '/images/spritesheet-2x.png';
$trashcan_button-2x: 132px 290px -132px -290px 86px 88px 648px 644px '/images/spritesheet-2x.png';
$trashcan_hover_pressed-2x-x: 472px;
$trashcan_hover_pressed-2x-y: 512px;
$trashcan_hover_pressed-2x-offset-x: -472px;
$trashcan_hover_pressed-2x-offset-y: -512px;
$trashcan_hover_pressed-2x-width: 42px;
$trashcan_hover_pressed-2x-height: 44px;
$trashcan_hover_pressed-2x-total-width: 648px;
$trashcan_hover_pressed-2x-total-height: 644px;
$trashcan_hover_pressed-2x-image: '/images/spritesheet-2x.png';
$trashcan_hover_pressed-2x: 472px 512px -472px -512px 42px 44px 648px 644px '/images/spritesheet-2x.png';
$twitter_logo_gray-2x-x: 470px;
$twitter_logo_gray-2x-y: 380px;
$twitter_logo_gray-2x-offset-x: -470px;
$twitter_logo_gray-2x-offset-y: -380px;
$twitter_logo_gray-2x-width: 46px;
$twitter_logo_gray-2x-height: 38px;
$twitter_logo_gray-2x-total-width: 648px;
$twitter_logo_gray-2x-total-height: 644px;
$twitter_logo_gray-2x-image: '/images/spritesheet-2x.png';
$twitter_logo_gray-2x: 470px 380px -470px -380px 46px 38px 648px 644px '/images/spritesheet-2x.png';
$twitter_logo_gray_hover-2x-x: 382px;
$twitter_logo_gray_hover-2x-y: 562px;
$twitter_logo_gray_hover-2x-offset-x: -382px;
$twitter_logo_gray_hover-2x-offset-y: -562px;
$twitter_logo_gray_hover-2x-width: 48px;
$twitter_logo_gray_hover-2x-height: 38px;
$twitter_logo_gray_hover-2x-total-width: 648px;
$twitter_logo_gray_hover-2x-total-height: 644px;
$twitter_logo_gray_hover-2x-image: '/images/spritesheet-2x.png';
$twitter_logo_gray_hover-2x: 382px 562px -382px -562px 48px 38px 648px 644px '/images/spritesheet-2x.png';
$upload_hover_icon-2x-x: 504px;
$upload_hover_icon-2x-y: 344px;
$upload_hover_icon-2x-offset-x: -504px;
$upload_hover_icon-2x-offset-y: -344px;
$upload_hover_icon-2x-width: 30px;
$upload_hover_icon-2x-height: 34px;
$upload_hover_icon-2x-total-width: 648px;
$upload_hover_icon-2x-total-height: 644px;
$upload_hover_icon-2x-image: '/images/spritesheet-2x.png';
$upload_hover_icon-2x: 504px 344px -504px -344px 30px 34px 648px 644px '/images/spritesheet-2x.png';
$upload_icon-2x-x: 94px;
$upload_icon-2x-y: 608px;
$upload_icon-2x-offset-x: -94px;
$upload_icon-2x-offset-y: -608px;
$upload_icon-2x-width: 30px;
$upload_icon-2x-height: 34px;
$upload_icon-2x-total-width: 648px;
$upload_icon-2x-total-height: 644px;
$upload_icon-2x-image: '/images/spritesheet-2x.png';
$upload_icon-2x: 94px 608px -94px -608px 30px 34px 648px 644px '/images/spritesheet-2x.png';
$upload_image-2x-x: 0px;
$upload_image-2x-y: 0px;
$upload_image-2x-offset-x: 0px;
$upload_image-2x-offset-y: 0px;
$upload_image-2x-width: 380px;
$upload_image-2x-height: 288px;
$upload_image-2x-total-width: 648px;
$upload_image-2x-total-height: 644px;
$upload_image-2x-image: '/images/spritesheet-2x.png';
$upload_image-2x: 0px 0px 0px 0px 380px 288px 648px 644px '/images/spritesheet-2x.png';
$user_toggle-2x-x: 334px;
$user_toggle-2x-y: 380px;
$user_toggle-2x-offset-x: -334px;
$user_toggle-2x-offset-y: -380px;
$user_toggle-2x-width: 52px;
$user_toggle-2x-height: 40px;
$user_toggle-2x-total-width: 648px;
$user_toggle-2x-total-height: 644px;
$user_toggle-2x-image: '/images/spritesheet-2x.png';
$user_toggle-2x: 334px 380px -334px -380px 52px 40px 648px 644px '/images/spritesheet-2x.png';
$user_toggle_hover-2x-x: 258px;
$user_toggle_hover-2x-y: 380px;
$user_toggle_hover-2x-offset-x: -258px;
$user_toggle_hover-2x-offset-y: -380px;
$user_toggle_hover-2x-width: 52px;
$user_toggle_hover-2x-height: 40px;
$user_toggle_hover-2x-total-width: 648px;
$user_toggle_hover-2x-total-height: 644px;
$user_toggle_hover-2x-image: '/images/spritesheet-2x.png';
$user_toggle_hover-2x: 258px 380px -258px -380px 52px 40px 648px 644px '/images/spritesheet-2x.png';
$user_toggle_pressed-2x-x: 132px;
$user_toggle_pressed-2x-y: 380px;
$user_toggle_pressed-2x-offset-x: -132px;
$user_toggle_pressed-2x-offset-y: -380px;
$user_toggle_pressed-2x-width: 50px;
$user_toggle_pressed-2x-height: 40px;
$user_toggle_pressed-2x-total-width: 648px;
$user_toggle_pressed-2x-total-height: 644px;
$user_toggle_pressed-2x-image: '/images/spritesheet-2x.png';
$user_toggle_pressed-2x: 132px 380px -132px -380px 50px 40px 648px 644px '/images/spritesheet-2x.png';
$youtube_logo_gray-2x-x: 38px;
$youtube_logo_gray-2x-y: 608px;
$youtube_logo_gray-2x-offset-x: -38px;
$youtube_logo_gray-2x-offset-y: -608px;
$youtube_logo_gray-2x-width: 54px;
$youtube_logo_gray-2x-height: 36px;
$youtube_logo_gray-2x-total-width: 648px;
$youtube_logo_gray-2x-total-height: 644px;
$youtube_logo_gray-2x-image: '/images/spritesheet-2x.png';
$youtube_logo_gray-2x: 38px 608px -38px -608px 54px 36px 648px 644px '/images/spritesheet-2x.png';
$youtube_logo_gray_hover-2x-x: 564px;
$youtube_logo_gray_hover-2x-y: 562px;
$youtube_logo_gray_hover-2x-offset-x: -564px;
$youtube_logo_gray_hover-2x-offset-y: -562px;
$youtube_logo_gray_hover-2x-width: 54px;
$youtube_logo_gray_hover-2x-height: 36px;
$youtube_logo_gray_hover-2x-total-width: 648px;
$youtube_logo_gray_hover-2x-total-height: 644px;
$youtube_logo_gray_hover-2x-image: '/images/spritesheet-2x.png';
$youtube_logo_gray_hover-2x: 564px 562px -564px -562px 54px 36px 648px 644px '/images/spritesheet-2x.png';
$zip_hover-2x-x: 484px;
$zip_hover-2x-y: 184px;
$zip_hover-2x-offset-x: -484px;
$zip_hover-2x-offset-y: -184px;
$zip_hover-2x-width: 44px;
$zip_hover-2x-height: 54px;
$zip_hover-2x-total-width: 648px;
$zip_hover-2x-total-height: 644px;
$zip_hover-2x-image: '/images/spritesheet-2x.png';
$zip_hover-2x: 484px 184px -484px -184px 44px 54px 648px 644px '/images/spritesheet-2x.png';
$zip_normal-2x-x: 566px;
$zip_normal-2x-y: 440px;
$zip_normal-2x-offset-x: -566px;
$zip_normal-2x-offset-y: -440px;
$zip_normal-2x-width: 44px;
$zip_normal-2x-height: 54px;
$zip_normal-2x-total-width: 648px;
$zip_normal-2x-total-height: 644px;
$zip_normal-2x-image: '/images/spritesheet-2x.png';
$zip_normal-2x: 566px 440px -566px -440px 44px 54px 648px 644px '/images/spritesheet-2x.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
