/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$app_store-2x-x: 0px;
$app_store-2x-y: 184px;
$app_store-2x-offset-x: 0px;
$app_store-2x-offset-y: -184px;
$app_store-2x-width: 280px;
$app_store-2x-height: 80px;
$app_store-2x-total-width: 930px;
$app_store-2x-total-height: 330px;
$app_store-2x-image: '/images/spritesheetPreLaunch-2x.png';
$app_store-2x: 0px 184px 0px -184px 280px 80px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$down_carrot_black-2x-x: 0px;
$down_carrot_black-2x-y: 266px;
$down_carrot_black-2x-offset-x: 0px;
$down_carrot_black-2x-offset-y: -266px;
$down_carrot_black-2x-width: 128px;
$down_carrot_black-2x-height: 64px;
$down_carrot_black-2x-total-width: 930px;
$down_carrot_black-2x-total-height: 330px;
$down_carrot_black-2x-image: '/images/spritesheetPreLaunch-2x.png';
$down_carrot_black-2x: 0px 266px 0px -266px 128px 64px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$down_carrot_white-2x-x: 372px;
$down_carrot_white-2x-y: 266px;
$down_carrot_white-2x-offset-x: -372px;
$down_carrot_white-2x-offset-y: -266px;
$down_carrot_white-2x-width: 120px;
$down_carrot_white-2x-height: 64px;
$down_carrot_white-2x-total-width: 930px;
$down_carrot_white-2x-total-height: 330px;
$down_carrot_white-2x-image: '/images/spritesheetPreLaunch-2x.png';
$down_carrot_white-2x: 372px 266px -372px -266px 120px 64px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$exit_video-2x-x: 372px;
$exit_video-2x-y: 132px;
$exit_video-2x-offset-x: -372px;
$exit_video-2x-offset-y: -132px;
$exit_video-2x-width: 44px;
$exit_video-2x-height: 44px;
$exit_video-2x-total-width: 930px;
$exit_video-2x-total-height: 330px;
$exit_video-2x-image: '/images/spritesheetPreLaunch-2x.png';
$exit_video-2x: 372px 132px -372px -132px 44px 44px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$fb_logo-2x-x: 418px;
$fb_logo-2x-y: 132px;
$fb_logo-2x-offset-x: -418px;
$fb_logo-2x-offset-y: -132px;
$fb_logo-2x-width: 20px;
$fb_logo-2x-height: 40px;
$fb_logo-2x-total-width: 930px;
$fb_logo-2x-total-height: 330px;
$fb_logo-2x-image: '/images/spritesheetPreLaunch-2x.png';
$fb_logo-2x: 418px 132px -418px -132px 20px 40px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$fb_logo_dark-2x-x: 440px;
$fb_logo_dark-2x-y: 132px;
$fb_logo_dark-2x-offset-x: -440px;
$fb_logo_dark-2x-offset-y: -132px;
$fb_logo_dark-2x-width: 20px;
$fb_logo_dark-2x-height: 40px;
$fb_logo_dark-2x-total-width: 930px;
$fb_logo_dark-2x-total-height: 330px;
$fb_logo_dark-2x-image: '/images/spritesheetPreLaunch-2x.png';
$fb_logo_dark-2x: 440px 132px -440px -132px 20px 40px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$footer_logo-2x-x: 528px;
$footer_logo-2x-y: 184px;
$footer_logo-2x-offset-x: -528px;
$footer_logo-2x-offset-y: -184px;
$footer_logo-2x-width: 80px;
$footer_logo-2x-height: 80px;
$footer_logo-2x-total-width: 930px;
$footer_logo-2x-total-height: 330px;
$footer_logo-2x-image: '/images/spritesheetPreLaunch-2x.png';
$footer_logo-2x: 528px 184px -528px -184px 80px 80px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$google_play-2x-x: 282px;
$google_play-2x-y: 184px;
$google_play-2x-offset-x: -282px;
$google_play-2x-offset-y: -184px;
$google_play-2x-width: 244px;
$google_play-2x-height: 80px;
$google_play-2x-total-width: 930px;
$google_play-2x-total-height: 330px;
$google_play-2x-image: '/images/spritesheetPreLaunch-2x.png';
$google_play-2x: 282px 184px -282px -184px 244px 80px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$heirloom_logo_shadow-2x-x: 372px;
$heirloom_logo_shadow-2x-y: 0px;
$heirloom_logo_shadow-2x-offset-x: -372px;
$heirloom_logo_shadow-2x-offset-y: 0px;
$heirloom_logo_shadow-2x-width: 558px;
$heirloom_logo_shadow-2x-height: 130px;
$heirloom_logo_shadow-2x-total-width: 930px;
$heirloom_logo_shadow-2x-total-height: 330px;
$heirloom_logo_shadow-2x-image: '/images/spritesheetPreLaunch-2x.png';
$heirloom_logo_shadow-2x: 372px 0px -372px 0px 558px 130px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$instagram_logo-2x-x: 462px;
$instagram_logo-2x-y: 132px;
$instagram_logo-2x-offset-x: -462px;
$instagram_logo-2x-offset-y: -132px;
$instagram_logo-2x-width: 38px;
$instagram_logo-2x-height: 40px;
$instagram_logo-2x-total-width: 930px;
$instagram_logo-2x-total-height: 330px;
$instagram_logo-2x-image: '/images/spritesheetPreLaunch-2x.png';
$instagram_logo-2x: 462px 132px -462px -132px 38px 40px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$instagram_logo_dark-2x-x: 502px;
$instagram_logo_dark-2x-y: 132px;
$instagram_logo_dark-2x-offset-x: -502px;
$instagram_logo_dark-2x-offset-y: -132px;
$instagram_logo_dark-2x-width: 38px;
$instagram_logo_dark-2x-height: 40px;
$instagram_logo_dark-2x-total-width: 930px;
$instagram_logo_dark-2x-total-height: 330px;
$instagram_logo_dark-2x-image: '/images/spritesheetPreLaunch-2x.png';
$instagram_logo_dark-2x: 502px 132px -502px -132px 38px 40px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$notify_me-2x-x: 610px;
$notify_me-2x-y: 184px;
$notify_me-2x-offset-x: -610px;
$notify_me-2x-offset-y: -184px;
$notify_me-2x-width: 240px;
$notify_me-2x-height: 64px;
$notify_me-2x-total-width: 930px;
$notify_me-2x-total-height: 330px;
$notify_me-2x-image: '/images/spritesheetPreLaunch-2x.png';
$notify_me-2x: 610px 184px -610px -184px 240px 64px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$notify_me_hover-2x-x: 130px;
$notify_me_hover-2x-y: 266px;
$notify_me_hover-2x-offset-x: -130px;
$notify_me_hover-2x-offset-y: -266px;
$notify_me_hover-2x-width: 240px;
$notify_me_hover-2x-height: 64px;
$notify_me_hover-2x-total-width: 930px;
$notify_me_hover-2x-total-height: 330px;
$notify_me_hover-2x-image: '/images/spritesheetPreLaunch-2x.png';
$notify_me_hover-2x: 130px 266px -130px -266px 240px 64px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$play_button-2x-x: 186px;
$play_button-2x-y: 0px;
$play_button-2x-offset-x: -186px;
$play_button-2x-offset-y: 0px;
$play_button-2x-width: 184px;
$play_button-2x-height: 182px;
$play_button-2x-total-width: 930px;
$play_button-2x-total-height: 330px;
$play_button-2x-image: '/images/spritesheetPreLaunch-2x.png';
$play_button-2x: 186px 0px -186px 0px 184px 182px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$play_button_hover-2x-x: 0px;
$play_button_hover-2x-y: 0px;
$play_button_hover-2x-offset-x: 0px;
$play_button_hover-2x-offset-y: 0px;
$play_button_hover-2x-width: 184px;
$play_button_hover-2x-height: 182px;
$play_button_hover-2x-total-width: 930px;
$play_button_hover-2x-total-height: 330px;
$play_button_hover-2x-image: '/images/spritesheetPreLaunch-2x.png';
$play_button_hover-2x: 0px 0px 0px 0px 184px 182px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$twitter_logo-2x-x: 542px;
$twitter_logo-2x-y: 132px;
$twitter_logo-2x-offset-x: -542px;
$twitter_logo-2x-offset-y: -132px;
$twitter_logo-2x-width: 46px;
$twitter_logo-2x-height: 38px;
$twitter_logo-2x-total-width: 930px;
$twitter_logo-2x-total-height: 330px;
$twitter_logo-2x-image: '/images/spritesheetPreLaunch-2x.png';
$twitter_logo-2x: 542px 132px -542px -132px 46px 38px 930px 330px '/images/spritesheetPreLaunch-2x.png';
$twitter_logo_dark-2x-x: 590px;
$twitter_logo_dark-2x-y: 132px;
$twitter_logo_dark-2x-offset-x: -590px;
$twitter_logo_dark-2x-offset-y: -132px;
$twitter_logo_dark-2x-width: 46px;
$twitter_logo_dark-2x-height: 38px;
$twitter_logo_dark-2x-total-width: 930px;
$twitter_logo_dark-2x-total-height: 330px;
$twitter_logo_dark-2x-image: '/images/spritesheetPreLaunch-2x.png';
$twitter_logo_dark-2x: 590px 132px -590px -132px 46px 38px 930px 330px '/images/spritesheetPreLaunch-2x.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
