/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$add_to_album-x: 152px;
$add_to_album-y: 135px;
$add_to_album-offset-x: -152px;
$add_to_album-offset-y: -135px;
$add_to_album-width: 19px;
$add_to_album-height: 19px;
$add_to_album-total-width: 193px;
$add_to_album-total-height: 158px;
$add_to_album-image: '/images/spritesheet.png';
$add_to_album: 152px 135px -152px -135px 19px 19px 193px 158px '/images/spritesheet.png';
$album_icon-x: 175px;
$album_icon-y: 55px;
$album_icon-offset-x: -175px;
$album_icon-offset-y: -55px;
$album_icon-width: 17px;
$album_icon-height: 16px;
$album_icon-total-width: 193px;
$album_icon-total-height: 158px;
$album_icon-image: '/images/spritesheet.png';
$album_icon: 175px 55px -175px -55px 17px 16px 193px 158px '/images/spritesheet.png';
$caret_grey-x: 175px;
$caret_grey-y: 96px;
$caret_grey-offset-x: -175px;
$caret_grey-offset-y: -96px;
$caret_grey-width: 10px;
$caret_grey-height: 6px;
$caret_grey-total-width: 193px;
$caret_grey-total-height: 158px;
$caret_grey-image: '/images/spritesheet.png';
$caret_grey: 175px 96px -175px -96px 10px 6px 193px 158px '/images/spritesheet.png';
$caret_left-x: 158px;
$caret_left-y: 76px;
$caret_left-offset-x: -158px;
$caret_left-offset-y: -76px;
$caret_left-width: 14px;
$caret_left-height: 21px;
$caret_left-total-width: 193px;
$caret_left-total-height: 158px;
$caret_left-image: '/images/spritesheet.png';
$caret_left: 158px 76px -158px -76px 14px 21px 193px 158px '/images/spritesheet.png';
$caret_red-x: 175px;
$caret_red-y: 89px;
$caret_red-offset-x: -175px;
$caret_red-offset-y: -89px;
$caret_red-width: 10px;
$caret_red-height: 6px;
$caret_red-total-width: 193px;
$caret_red-total-height: 158px;
$caret_red-image: '/images/spritesheet.png';
$caret_red: 175px 89px -175px -89px 10px 6px 193px 158px '/images/spritesheet.png';
$caret_right-x: 161px;
$caret_right-y: 101px;
$caret_right-offset-x: -161px;
$caret_right-offset-y: -101px;
$caret_right-width: 13px;
$caret_right-height: 21px;
$caret_right-total-width: 193px;
$caret_right-total-height: 158px;
$caret_right-image: '/images/spritesheet.png';
$caret_right: 161px 101px -161px -101px 13px 21px 193px 158px '/images/spritesheet.png';
$checkmark_active-x: 136px;
$checkmark_active-y: 39px;
$checkmark_active-offset-x: -136px;
$checkmark_active-offset-y: -39px;
$checkmark_active-width: 36px;
$checkmark_active-height: 36px;
$checkmark_active-total-width: 193px;
$checkmark_active-total-height: 158px;
$checkmark_active-image: '/images/spritesheet.png';
$checkmark_active: 136px 39px -136px -39px 36px 36px 193px 158px '/images/spritesheet.png';
$checkmark_hover-x: 136px;
$checkmark_hover-y: 0px;
$checkmark_hover-offset-x: -136px;
$checkmark_hover-offset-y: 0px;
$checkmark_hover-width: 38px;
$checkmark_hover-height: 38px;
$checkmark_hover-total-width: 193px;
$checkmark_hover-total-height: 158px;
$checkmark_hover-image: '/images/spritesheet.png';
$checkmark_hover: 136px 0px -136px 0px 38px 38px 193px 158px '/images/spritesheet.png';
$clock-x: 175px;
$clock-y: 0px;
$clock-offset-x: -175px;
$clock-offset-y: 0px;
$clock-width: 18px;
$clock-height: 18px;
$clock-total-width: 193px;
$clock-total-height: 158px;
$clock-image: '/images/spritesheet.png';
$clock: 175px 0px -175px 0px 18px 18px 193px 158px '/images/spritesheet.png';
$create_album-x: 43px;
$create_album-y: 92px;
$create_album-offset-x: -43px;
$create_album-offset-y: -92px;
$create_album-width: 42px;
$create_album-height: 42px;
$create_album-total-width: 193px;
$create_album-total-height: 158px;
$create_album-image: '/images/spritesheet.png';
$create_album: 43px 92px -43px -92px 42px 42px 193px 158px '/images/spritesheet.png';
$create_album_hover-x: 92px;
$create_album_hover-y: 45px;
$create_album_hover-offset-x: -92px;
$create_album_hover-offset-y: -45px;
$create_album_hover-width: 42px;
$create_album_hover-height: 42px;
$create_album_hover-total-width: 193px;
$create_album_hover-total-height: 158px;
$create_album_hover-image: '/images/spritesheet.png';
$create_album_hover: 92px 45px -92px -45px 42px 42px 193px 158px '/images/spritesheet.png';
$create_album_pressed-x: 0px;
$create_album_pressed-y: 92px;
$create_album_pressed-offset-x: 0px;
$create_album_pressed-offset-y: -92px;
$create_album_pressed-width: 42px;
$create_album_pressed-height: 42px;
$create_album_pressed-total-width: 193px;
$create_album_pressed-total-height: 158px;
$create_album_pressed-image: '/images/spritesheet.png';
$create_album_pressed: 0px 92px 0px -92px 42px 42px 193px 158px '/images/spritesheet.png';
$escape_photoview-x: 175px;
$escape_photoview-y: 72px;
$escape_photoview-offset-x: -175px;
$escape_photoview-offset-y: -72px;
$escape_photoview-width: 16px;
$escape_photoview-height: 16px;
$escape_photoview-total-width: 193px;
$escape_photoview-total-height: 158px;
$escape_photoview-image: '/images/spritesheet.png';
$escape_photoview: 175px 72px -175px -72px 16px 16px 193px 158px '/images/spritesheet.png';
$new_album_plus-x: 0px;
$new_album_plus-y: 0px;
$new_album_plus-offset-x: 0px;
$new_album_plus-offset-y: 0px;
$new_album_plus-width: 91px;
$new_album_plus-height: 91px;
$new_album_plus-total-width: 193px;
$new_album_plus-total-height: 158px;
$new_album_plus-image: '/images/spritesheet.png';
$new_album_plus: 0px 0px 0px 0px 91px 91px 193px 158px '/images/spritesheet.png';
$settings-x: 136px;
$settings-y: 101px;
$settings-offset-x: -136px;
$settings-offset-y: -101px;
$settings-width: 24px;
$settings-height: 23px;
$settings-total-width: 193px;
$settings-total-height: 158px;
$settings-image: '/images/spritesheet.png';
$settings: 136px 101px -136px -101px 24px 23px 193px 158px '/images/spritesheet.png';
$settings_hover-x: 0px;
$settings_hover-y: 135px;
$settings_hover-offset-x: 0px;
$settings_hover-offset-y: -135px;
$settings_hover-width: 24px;
$settings_hover-height: 23px;
$settings_hover-total-width: 193px;
$settings_hover-total-height: 158px;
$settings_hover-image: '/images/spritesheet.png';
$settings_hover: 0px 135px 0px -135px 24px 23px 193px 158px '/images/spritesheet.png';
$share_icon-x: 100px;
$share_icon-y: 135px;
$share_icon-offset-x: -100px;
$share_icon-offset-y: -135px;
$share_icon-width: 24px;
$share_icon-height: 20px;
$share_icon-total-width: 193px;
$share_icon-total-height: 158px;
$share_icon-image: '/images/spritesheet.png';
$share_icon: 100px 135px -100px -135px 24px 20px 193px 158px '/images/spritesheet.png';
$spinner-x: 86px;
$spinner-y: 92px;
$spinner-offset-x: -86px;
$spinner-offset-y: -92px;
$spinner-width: 41px;
$spinner-height: 41px;
$spinner-total-width: 193px;
$spinner-total-height: 158px;
$spinner-image: '/images/spritesheet.png';
$spinner: 86px 92px -86px -92px 41px 41px 193px 158px '/images/spritesheet.png';
$trashcan-x: 136px;
$trashcan-y: 76px;
$trashcan-offset-x: -136px;
$trashcan-offset-y: -76px;
$trashcan-width: 21px;
$trashcan-height: 24px;
$trashcan-total-width: 193px;
$trashcan-total-height: 158px;
$trashcan-image: '/images/spritesheet.png';
$trashcan: 136px 76px -136px -76px 21px 24px 193px 158px '/images/spritesheet.png';
$trashcan_button-x: 92px;
$trashcan_button-y: 0px;
$trashcan_button-offset-x: -92px;
$trashcan_button-offset-y: 0px;
$trashcan_button-width: 43px;
$trashcan_button-height: 44px;
$trashcan_button-total-width: 193px;
$trashcan_button-total-height: 158px;
$trashcan_button-image: '/images/spritesheet.png';
$trashcan_button: 92px 0px -92px 0px 43px 44px 193px 158px '/images/spritesheet.png';
$trashcan_hover_pressed-x: 25px;
$trashcan_hover_pressed-y: 135px;
$trashcan_hover_pressed-offset-x: -25px;
$trashcan_hover_pressed-offset-y: -135px;
$trashcan_hover_pressed-width: 21px;
$trashcan_hover_pressed-height: 22px;
$trashcan_hover_pressed-total-width: 193px;
$trashcan_hover_pressed-total-height: 158px;
$trashcan_hover_pressed-image: '/images/spritesheet.png';
$trashcan_hover_pressed: 25px 135px -25px -135px 21px 22px 193px 158px '/images/spritesheet.png';
$upload_hover_icon-x: 175px;
$upload_hover_icon-y: 19px;
$upload_hover_icon-offset-x: -175px;
$upload_hover_icon-offset-y: -19px;
$upload_hover_icon-width: 15px;
$upload_hover_icon-height: 17px;
$upload_hover_icon-total-width: 193px;
$upload_hover_icon-total-height: 158px;
$upload_hover_icon-image: '/images/spritesheet.png';
$upload_hover_icon: 175px 19px -175px -19px 15px 17px 193px 158px '/images/spritesheet.png';
$upload_icon-x: 175px;
$upload_icon-y: 37px;
$upload_icon-offset-x: -175px;
$upload_icon-offset-y: -37px;
$upload_icon-width: 15px;
$upload_icon-height: 17px;
$upload_icon-total-width: 193px;
$upload_icon-total-height: 158px;
$upload_icon-image: '/images/spritesheet.png';
$upload_icon: 175px 37px -175px -37px 15px 17px 193px 158px '/images/spritesheet.png';
$user_toggle-x: 125px;
$user_toggle-y: 135px;
$user_toggle-offset-x: -125px;
$user_toggle-offset-y: -135px;
$user_toggle-width: 26px;
$user_toggle-height: 20px;
$user_toggle-total-width: 193px;
$user_toggle-total-height: 158px;
$user_toggle-image: '/images/spritesheet.png';
$user_toggle: 125px 135px -125px -135px 26px 20px 193px 158px '/images/spritesheet.png';
$user_toggle_hover-x: 47px;
$user_toggle_hover-y: 135px;
$user_toggle_hover-offset-x: -47px;
$user_toggle_hover-offset-y: -135px;
$user_toggle_hover-width: 26px;
$user_toggle_hover-height: 20px;
$user_toggle_hover-total-width: 193px;
$user_toggle_hover-total-height: 158px;
$user_toggle_hover-image: '/images/spritesheet.png';
$user_toggle_hover: 47px 135px -47px -135px 26px 20px 193px 158px '/images/spritesheet.png';
$user_toggle_pressed-x: 74px;
$user_toggle_pressed-y: 135px;
$user_toggle_pressed-offset-x: -74px;
$user_toggle_pressed-offset-y: -135px;
$user_toggle_pressed-width: 25px;
$user_toggle_pressed-height: 20px;
$user_toggle_pressed-total-width: 193px;
$user_toggle_pressed-total-height: 158px;
$user_toggle_pressed-image: '/images/spritesheet.png';
$user_toggle_pressed: 74px 135px -74px -135px 25px 20px 193px 158px '/images/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
