/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$app_store-x: 209px;
$app_store-y: 92px;
$app_store-offset-x: -209px;
$app_store-offset-y: -92px;
$app_store-width: 140px;
$app_store-height: 40px;
$app_store-total-width: 465px;
$app_store-total-height: 169px;
$app_store-image: '/images/spritesheetHomePage.png';
$app_store: 209px 92px -209px -92px 140px 40px 465px 169px '/images/spritesheetHomePage.png';
$down_carrot_black-x: 0px;
$down_carrot_black-y: 137px;
$down_carrot_black-offset-x: 0px;
$down_carrot_black-offset-y: -137px;
$down_carrot_black-width: 64px;
$down_carrot_black-height: 32px;
$down_carrot_black-total-width: 465px;
$down_carrot_black-total-height: 169px;
$down_carrot_black-image: '/images/spritesheetHomePage.png';
$down_carrot_black: 0px 137px 0px -137px 64px 32px 465px 169px '/images/spritesheetHomePage.png';
$down_carrot_white-x: 350px;
$down_carrot_white-y: 92px;
$down_carrot_white-offset-x: -350px;
$down_carrot_white-offset-y: -92px;
$down_carrot_white-width: 60px;
$down_carrot_white-height: 32px;
$down_carrot_white-total-width: 465px;
$down_carrot_white-total-height: 169px;
$down_carrot_white-image: '/images/spritesheetHomePage.png';
$down_carrot_white: 350px 92px -350px -92px 60px 32px 465px 169px '/images/spritesheetHomePage.png';
$exit_video-x: 0px;
$exit_video-y: 92px;
$exit_video-offset-x: 0px;
$exit_video-offset-y: -92px;
$exit_video-width: 44px;
$exit_video-height: 44px;
$exit_video-total-width: 465px;
$exit_video-total-height: 169px;
$exit_video-image: '/images/spritesheetHomePage.png';
$exit_video: 0px 92px 0px -92px 44px 44px 465px 169px '/images/spritesheetHomePage.png';
$fb_logo-x: 186px;
$fb_logo-y: 66px;
$fb_logo-offset-x: -186px;
$fb_logo-offset-y: -66px;
$fb_logo-width: 10px;
$fb_logo-height: 20px;
$fb_logo-total-width: 465px;
$fb_logo-total-height: 169px;
$fb_logo-image: '/images/spritesheetHomePage.png';
$fb_logo: 186px 66px -186px -66px 10px 20px 465px 169px '/images/spritesheetHomePage.png';
$fb_logo_dark-x: 197px;
$fb_logo_dark-y: 66px;
$fb_logo_dark-offset-x: -197px;
$fb_logo_dark-offset-y: -66px;
$fb_logo_dark-width: 10px;
$fb_logo_dark-height: 20px;
$fb_logo_dark-total-width: 465px;
$fb_logo_dark-total-height: 169px;
$fb_logo_dark-image: '/images/spritesheetHomePage.png';
$fb_logo_dark: 197px 66px -197px -66px 10px 20px 465px 169px '/images/spritesheetHomePage.png';
$footer_logo-x: 45px;
$footer_logo-y: 92px;
$footer_logo-offset-x: -45px;
$footer_logo-offset-y: -92px;
$footer_logo-width: 40px;
$footer_logo-height: 40px;
$footer_logo-total-width: 465px;
$footer_logo-total-height: 169px;
$footer_logo-image: '/images/spritesheetHomePage.png';
$footer_logo: 45px 92px -45px -92px 40px 40px 465px 169px '/images/spritesheetHomePage.png';
$google_play-x: 86px;
$google_play-y: 92px;
$google_play-offset-x: -86px;
$google_play-offset-y: -92px;
$google_play-width: 122px;
$google_play-height: 40px;
$google_play-total-width: 465px;
$google_play-total-height: 169px;
$google_play-image: '/images/spritesheetHomePage.png';
$google_play: 86px 92px -86px -92px 122px 40px 465px 169px '/images/spritesheetHomePage.png';
$heirloom_logo_shadow-x: 186px;
$heirloom_logo_shadow-y: 0px;
$heirloom_logo_shadow-offset-x: -186px;
$heirloom_logo_shadow-offset-y: 0px;
$heirloom_logo_shadow-width: 279px;
$heirloom_logo_shadow-height: 65px;
$heirloom_logo_shadow-total-width: 465px;
$heirloom_logo_shadow-total-height: 169px;
$heirloom_logo_shadow-image: '/images/spritesheetHomePage.png';
$heirloom_logo_shadow: 186px 0px -186px 0px 279px 65px 465px 169px '/images/spritesheetHomePage.png';
$instagram_logo-x: 208px;
$instagram_logo-y: 66px;
$instagram_logo-offset-x: -208px;
$instagram_logo-offset-y: -66px;
$instagram_logo-width: 19px;
$instagram_logo-height: 20px;
$instagram_logo-total-width: 465px;
$instagram_logo-total-height: 169px;
$instagram_logo-image: '/images/spritesheetHomePage.png';
$instagram_logo: 208px 66px -208px -66px 19px 20px 465px 169px '/images/spritesheetHomePage.png';
$instagram_logo_dark-x: 228px;
$instagram_logo_dark-y: 66px;
$instagram_logo_dark-offset-x: -228px;
$instagram_logo_dark-offset-y: -66px;
$instagram_logo_dark-width: 19px;
$instagram_logo_dark-height: 20px;
$instagram_logo_dark-total-width: 465px;
$instagram_logo_dark-total-height: 169px;
$instagram_logo_dark-image: '/images/spritesheetHomePage.png';
$instagram_logo_dark: 228px 66px -228px -66px 19px 20px 465px 169px '/images/spritesheetHomePage.png';
$notify_me-x: 65px;
$notify_me-y: 137px;
$notify_me-offset-x: -65px;
$notify_me-offset-y: -137px;
$notify_me-width: 120px;
$notify_me-height: 32px;
$notify_me-total-width: 465px;
$notify_me-total-height: 169px;
$notify_me-image: '/images/spritesheetHomePage.png';
$notify_me: 65px 137px -65px -137px 120px 32px 465px 169px '/images/spritesheetHomePage.png';
$notify_me_hover-x: 186px;
$notify_me_hover-y: 137px;
$notify_me_hover-offset-x: -186px;
$notify_me_hover-offset-y: -137px;
$notify_me_hover-width: 120px;
$notify_me_hover-height: 32px;
$notify_me_hover-total-width: 465px;
$notify_me_hover-total-height: 169px;
$notify_me_hover-image: '/images/spritesheetHomePage.png';
$notify_me_hover: 186px 137px -186px -137px 120px 32px 465px 169px '/images/spritesheetHomePage.png';
$play_button-x: 93px;
$play_button-y: 0px;
$play_button-offset-x: -93px;
$play_button-offset-y: 0px;
$play_button-width: 92px;
$play_button-height: 91px;
$play_button-total-width: 465px;
$play_button-total-height: 169px;
$play_button-image: '/images/spritesheetHomePage.png';
$play_button: 93px 0px -93px 0px 92px 91px 465px 169px '/images/spritesheetHomePage.png';
$play_button_hover-x: 0px;
$play_button_hover-y: 0px;
$play_button_hover-offset-x: 0px;
$play_button_hover-offset-y: 0px;
$play_button_hover-width: 92px;
$play_button_hover-height: 91px;
$play_button_hover-total-width: 465px;
$play_button_hover-total-height: 169px;
$play_button_hover-image: '/images/spritesheetHomePage.png';
$play_button_hover: 0px 0px 0px 0px 92px 91px 465px 169px '/images/spritesheetHomePage.png';
$twitter_logo-x: 248px;
$twitter_logo-y: 66px;
$twitter_logo-offset-x: -248px;
$twitter_logo-offset-y: -66px;
$twitter_logo-width: 23px;
$twitter_logo-height: 19px;
$twitter_logo-total-width: 465px;
$twitter_logo-total-height: 169px;
$twitter_logo-image: '/images/spritesheetHomePage.png';
$twitter_logo: 248px 66px -248px -66px 23px 19px 465px 169px '/images/spritesheetHomePage.png';
$twitter_logo_dark-x: 272px;
$twitter_logo_dark-y: 66px;
$twitter_logo_dark-offset-x: -272px;
$twitter_logo_dark-offset-y: -66px;
$twitter_logo_dark-width: 23px;
$twitter_logo_dark-height: 19px;
$twitter_logo_dark-total-width: 465px;
$twitter_logo_dark-total-height: 169px;
$twitter_logo_dark-image: '/images/spritesheetHomePage.png';
$twitter_logo_dark: 272px 66px -272px -66px 23px 19px 465px 169px '/images/spritesheetHomePage.png';
$youtube_logo_dark-x: 296px;
$youtube_logo_dark-y: 66px;
$youtube_logo_dark-offset-x: -296px;
$youtube_logo_dark-offset-y: -66px;
$youtube_logo_dark-width: 19px;
$youtube_logo_dark-height: 19px;
$youtube_logo_dark-total-width: 465px;
$youtube_logo_dark-total-height: 169px;
$youtube_logo_dark-image: '/images/spritesheetHomePage.png';
$youtube_logo_dark: 296px 66px -296px -66px 19px 19px 465px 169px '/images/spritesheetHomePage.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
