/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$add_to_album-x: 90px;
$add_to_album-y: 92px;
$add_to_album-offset-x: -90px;
$add_to_album-offset-y: -92px;
$add_to_album-width: 24px;
$add_to_album-height: 19px;
$add_to_album-total-width: 158px;
$add_to_album-total-height: 130px;
$add_to_album-image: '../images/spritesheet.png';
$add_to_album: 90px 92px -90px -92px 24px 19px 158px 130px '../images/spritesheet.png';
$album_icon-x: 136px;
$album_icon-y: 38px;
$album_icon-offset-x: -136px;
$album_icon-offset-y: -38px;
$album_icon-width: 17px;
$album_icon-height: 16px;
$album_icon-total-width: 158px;
$album_icon-total-height: 130px;
$album_icon-image: '../images/spritesheet.png';
$album_icon: 136px 38px -136px -38px 17px 16px 158px 130px '../images/spritesheet.png';
$caret_button_grey-x: 136px;
$caret_button_grey-y: 19px;
$caret_button_grey-offset-x: -136px;
$caret_button_grey-offset-y: -19px;
$caret_button_grey-width: 22px;
$caret_button_grey-height: 18px;
$caret_button_grey-total-width: 158px;
$caret_button_grey-total-height: 130px;
$caret_button_grey-image: '../images/spritesheet.png';
$caret_button_grey: 136px 19px -136px -19px 22px 18px 158px 130px '../images/spritesheet.png';
$caret_button_red-x: 136px;
$caret_button_red-y: 0px;
$caret_button_red-offset-x: -136px;
$caret_button_red-offset-y: 0px;
$caret_button_red-width: 22px;
$caret_button_red-height: 18px;
$caret_button_red-total-width: 158px;
$caret_button_red-total-height: 130px;
$caret_button_red-image: '../images/spritesheet.png';
$caret_button_red: 136px 0px -136px 0px 22px 18px 158px 130px '../images/spritesheet.png';
$caret_grey-x: 147px;
$caret_grey-y: 72px;
$caret_grey-offset-x: -147px;
$caret_grey-offset-y: -72px;
$caret_grey-width: 10px;
$caret_grey-height: 6px;
$caret_grey-total-width: 158px;
$caret_grey-total-height: 130px;
$caret_grey-image: '../images/spritesheet.png';
$caret_grey: 147px 72px -147px -72px 10px 6px 158px 130px '../images/spritesheet.png';
$caret_left-x: 61px;
$caret_left-y: 92px;
$caret_left-offset-x: -61px;
$caret_left-offset-y: -92px;
$caret_left-width: 14px;
$caret_left-height: 21px;
$caret_left-total-width: 158px;
$caret_left-total-height: 130px;
$caret_left-image: '../images/spritesheet.png';
$caret_left: 61px 92px -61px -92px 14px 21px 158px 130px '../images/spritesheet.png';
$caret_red-x: 136px;
$caret_red-y: 72px;
$caret_red-offset-x: -136px;
$caret_red-offset-y: -72px;
$caret_red-width: 10px;
$caret_red-height: 6px;
$caret_red-total-width: 158px;
$caret_red-total-height: 130px;
$caret_red-image: '../images/spritesheet.png';
$caret_red: 136px 72px -136px -72px 10px 6px 158px 130px '../images/spritesheet.png';
$caret_right-x: 76px;
$caret_right-y: 92px;
$caret_right-offset-x: -76px;
$caret_right-offset-y: -92px;
$caret_right-width: 13px;
$caret_right-height: 21px;
$caret_right-total-width: 158px;
$caret_right-total-height: 130px;
$caret_right-image: '../images/spritesheet.png';
$caret_right: 76px 92px -76px -92px 13px 21px 158px 130px '../images/spritesheet.png';
$checkmark_active-x: 0px;
$checkmark_active-y: 92px;
$checkmark_active-offset-x: 0px;
$checkmark_active-offset-y: -92px;
$checkmark_active-width: 38px;
$checkmark_active-height: 38px;
$checkmark_active-total-width: 158px;
$checkmark_active-total-height: 130px;
$checkmark_active-image: '../images/spritesheet.png';
$checkmark_active: 0px 92px 0px -92px 38px 38px 158px 130px '../images/spritesheet.png';
$checkmark_hover-x: 92px;
$checkmark_hover-y: 45px;
$checkmark_hover-offset-x: -92px;
$checkmark_hover-offset-y: -45px;
$checkmark_hover-width: 38px;
$checkmark_hover-height: 38px;
$checkmark_hover-total-width: 158px;
$checkmark_hover-total-height: 130px;
$checkmark_hover-image: '../images/spritesheet.png';
$checkmark_hover: 92px 45px -92px -45px 38px 38px 158px 130px '../images/spritesheet.png';
$clock-x: 115px;
$clock-y: 92px;
$clock-offset-x: -115px;
$clock-offset-y: -92px;
$clock-width: 18px;
$clock-height: 18px;
$clock-total-width: 158px;
$clock-total-height: 130px;
$clock-image: '../images/spritesheet.png';
$clock: 115px 92px -115px -92px 18px 18px 158px 130px '../images/spritesheet.png';
$escape_photoview-x: 136px;
$escape_photoview-y: 55px;
$escape_photoview-offset-x: -136px;
$escape_photoview-offset-y: -55px;
$escape_photoview-width: 16px;
$escape_photoview-height: 16px;
$escape_photoview-total-width: 158px;
$escape_photoview-total-height: 130px;
$escape_photoview-image: '../images/spritesheet.png';
$escape_photoview: 136px 55px -136px -55px 16px 16px 158px 130px '../images/spritesheet.png';
$new_album_plus-x: 0px;
$new_album_plus-y: 0px;
$new_album_plus-offset-x: 0px;
$new_album_plus-offset-y: 0px;
$new_album_plus-width: 91px;
$new_album_plus-height: 91px;
$new_album_plus-total-width: 158px;
$new_album_plus-total-height: 130px;
$new_album_plus-image: '../images/spritesheet.png';
$new_album_plus: 0px 0px 0px 0px 91px 91px 158px 130px '../images/spritesheet.png';
$trashcan-x: 39px;
$trashcan-y: 92px;
$trashcan-offset-x: -39px;
$trashcan-offset-y: -92px;
$trashcan-width: 21px;
$trashcan-height: 24px;
$trashcan-total-width: 158px;
$trashcan-total-height: 130px;
$trashcan-image: '../images/spritesheet.png';
$trashcan: 39px 92px -39px -92px 21px 24px 158px 130px '../images/spritesheet.png';
$trashcan_button-x: 92px;
$trashcan_button-y: 0px;
$trashcan_button-offset-x: -92px;
$trashcan_button-offset-y: 0px;
$trashcan_button-width: 43px;
$trashcan_button-height: 44px;
$trashcan_button-total-width: 158px;
$trashcan_button-total-height: 130px;
$trashcan_button-image: '../images/spritesheet.png';
$trashcan_button: 92px 0px -92px 0px 43px 44px 158px 130px '../images/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
