/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$add_photos-x: 66px;
$add_photos-y: 188px;
$add_photos-offset-x: -66px;
$add_photos-offset-y: -188px;
$add_photos-width: 19px;
$add_photos-height: 19px;
$add_photos-total-width: 319px;
$add_photos-total-height: 251px;
$add_photos-image: '/images/spritesheet.png';
$add_photos: 66px 188px -66px -188px 19px 19px 319px 251px '/images/spritesheet.png';
$add_photos_hover_pressed-x: 86px;
$add_photos_hover_pressed-y: 188px;
$add_photos_hover_pressed-offset-x: -86px;
$add_photos_hover_pressed-offset-y: -188px;
$add_photos_hover_pressed-width: 19px;
$add_photos_hover_pressed-height: 19px;
$add_photos_hover_pressed-total-width: 319px;
$add_photos_hover_pressed-total-height: 251px;
$add_photos_hover_pressed-image: '/images/spritesheet.png';
$add_photos_hover_pressed: 86px 188px -86px -188px 19px 19px 319px 251px '/images/spritesheet.png';
$add_to_album-x: 106px;
$add_to_album-y: 188px;
$add_to_album-offset-x: -106px;
$add_to_album-offset-y: -188px;
$add_to_album-width: 19px;
$add_to_album-height: 19px;
$add_to_album-total-width: 319px;
$add_to_album-total-height: 251px;
$add_to_album-image: '/images/spritesheet.png';
$add_to_album: 106px 188px -106px -188px 19px 19px 319px 251px '/images/spritesheet.png';
$album_icon-x: 223px;
$album_icon-y: 188px;
$album_icon-offset-x: -223px;
$album_icon-offset-y: -188px;
$album_icon-width: 17px;
$album_icon-height: 16px;
$album_icon-total-width: 319px;
$album_icon-total-height: 251px;
$album_icon-image: '/images/spritesheet.png';
$album_icon: 223px 188px -223px -188px 17px 16px 319px 251px '/images/spritesheet.png';
$app_store-x: 0px;
$app_store-y: 211px;
$app_store-offset-x: 0px;
$app_store-offset-y: -211px;
$app_store-width: 140px;
$app_store-height: 40px;
$app_store-total-width: 319px;
$app_store-total-height: 251px;
$app_store-image: '/images/spritesheet.png';
$app_store: 0px 211px 0px -211px 140px 40px 319px 251px '/images/spritesheet.png';
$caret_grey-x: 309px;
$caret_grey-y: 44px;
$caret_grey-offset-x: -309px;
$caret_grey-offset-y: -44px;
$caret_grey-width: 10px;
$caret_grey-height: 6px;
$caret_grey-total-width: 319px;
$caret_grey-total-height: 251px;
$caret_grey-image: '/images/spritesheet.png';
$caret_grey: 309px 44px -309px -44px 10px 6px 319px 251px '/images/spritesheet.png';
$caret_left-x: 305px;
$caret_left-y: 136px;
$caret_left-offset-x: -305px;
$caret_left-offset-y: -136px;
$caret_left-width: 14px;
$caret_left-height: 21px;
$caret_left-total-width: 319px;
$caret_left-total-height: 251px;
$caret_left-image: '/images/spritesheet.png';
$caret_left: 305px 136px -305px -136px 14px 21px 319px 251px '/images/spritesheet.png';
$caret_red-x: 309px;
$caret_red-y: 37px;
$caret_red-offset-x: -309px;
$caret_red-offset-y: -37px;
$caret_red-width: 10px;
$caret_red-height: 6px;
$caret_red-total-width: 319px;
$caret_red-total-height: 251px;
$caret_red-image: '/images/spritesheet.png';
$caret_red: 309px 37px -309px -37px 10px 6px 319px 251px '/images/spritesheet.png';
$caret_right-x: 305px;
$caret_right-y: 63px;
$caret_right-offset-x: -305px;
$caret_right-offset-y: -63px;
$caret_right-width: 13px;
$caret_right-height: 21px;
$caret_right-total-width: 319px;
$caret_right-total-height: 251px;
$caret_right-image: '/images/spritesheet.png';
$caret_right: 305px 63px -305px -63px 13px 21px 319px 251px '/images/spritesheet.png';
$checkmark_active-x: 283px;
$checkmark_active-y: 0px;
$checkmark_active-offset-x: -283px;
$checkmark_active-offset-y: 0px;
$checkmark_active-width: 36px;
$checkmark_active-height: 36px;
$checkmark_active-total-width: 319px;
$checkmark_active-total-height: 251px;
$checkmark_active-image: '/images/spritesheet.png';
$checkmark_active: 283px 0px -283px 0px 36px 36px 319px 251px '/images/spritesheet.png';
$checkmark_hover-x: 236px;
$checkmark_hover-y: 145px;
$checkmark_hover-offset-x: -236px;
$checkmark_hover-offset-y: -145px;
$checkmark_hover-width: 38px;
$checkmark_hover-height: 38px;
$checkmark_hover-total-width: 319px;
$checkmark_hover-total-height: 251px;
$checkmark_hover-image: '/images/spritesheet.png';
$checkmark_hover: 236px 145px -236px -145px 38px 38px 319px 251px '/images/spritesheet.png';
$clock-x: 149px;
$clock-y: 188px;
$clock-offset-x: -149px;
$clock-offset-y: -188px;
$clock-width: 18px;
$clock-height: 18px;
$clock-total-width: 319px;
$clock-total-height: 251px;
$clock-image: '/images/spritesheet.png';
$clock: 149px 188px -149px -188px 18px 18px 319px 251px '/images/spritesheet.png';
$create_album-x: 66px;
$create_album-y: 145px;
$create_album-offset-x: -66px;
$create_album-offset-y: -145px;
$create_album-width: 42px;
$create_album-height: 42px;
$create_album-total-width: 319px;
$create_album-total-height: 251px;
$create_album-image: '/images/spritesheet.png';
$create_album: 66px 145px -66px -145px 42px 42px 319px 251px '/images/spritesheet.png';
$create_album_hover-x: 109px;
$create_album_hover-y: 145px;
$create_album_hover-offset-x: -109px;
$create_album_hover-offset-y: -145px;
$create_album_hover-width: 42px;
$create_album_hover-height: 42px;
$create_album_hover-total-width: 319px;
$create_album_hover-total-height: 251px;
$create_album_hover-image: '/images/spritesheet.png';
$create_album_hover: 109px 145px -109px -145px 42px 42px 319px 251px '/images/spritesheet.png';
$create_album_pressed-x: 235px;
$create_album_pressed-y: 92px;
$create_album_pressed-offset-x: -235px;
$create_album_pressed-offset-y: -92px;
$create_album_pressed-width: 42px;
$create_album_pressed-height: 42px;
$create_album_pressed-total-width: 319px;
$create_album_pressed-total-height: 251px;
$create_album_pressed-image: '/images/spritesheet.png';
$create_album_pressed: 235px 92px -235px -92px 42px 42px 319px 251px '/images/spritesheet.png';
$escape_photoview-x: 241px;
$escape_photoview-y: 188px;
$escape_photoview-offset-x: -241px;
$escape_photoview-offset-y: -188px;
$escape_photoview-width: 16px;
$escape_photoview-height: 16px;
$escape_photoview-total-width: 319px;
$escape_photoview-total-height: 251px;
$escape_photoview-image: '/images/spritesheet.png';
$escape_photoview: 241px 188px -241px -188px 16px 16px 319px 251px '/images/spritesheet.png';
$google_play-x: 141px;
$google_play-y: 211px;
$google_play-offset-x: -141px;
$google_play-offset-y: -211px;
$google_play-width: 122px;
$google_play-height: 40px;
$google_play-total-width: 319px;
$google_play-total-height: 251px;
$google_play-image: '/images/spritesheet.png';
$google_play: 141px 211px -141px -211px 122px 40px 319px 251px '/images/spritesheet.png';
$heirloom_icon-x: 152px;
$heirloom_icon-y: 145px;
$heirloom_icon-offset-x: -152px;
$heirloom_icon-offset-y: -145px;
$heirloom_icon-width: 41px;
$heirloom_icon-height: 41px;
$heirloom_icon-total-width: 319px;
$heirloom_icon-total-height: 251px;
$heirloom_icon-image: '/images/spritesheet.png';
$heirloom_icon: 152px 145px -152px -145px 41px 41px 319px 251px '/images/spritesheet.png';
$heirloom_icon_invite-x: 0px;
$heirloom_icon_invite-y: 145px;
$heirloom_icon_invite-offset-x: 0px;
$heirloom_icon_invite-offset-y: -145px;
$heirloom_icon_invite-width: 65px;
$heirloom_icon_invite-height: 65px;
$heirloom_icon_invite-total-width: 319px;
$heirloom_icon_invite-total-height: 251px;
$heirloom_icon_invite-image: '/images/spritesheet.png';
$heirloom_icon_invite: 0px 145px 0px -145px 65px 65px 319px 251px '/images/spritesheet.png';
$new_album_plus-x: 191px;
$new_album_plus-y: 0px;
$new_album_plus-offset-x: -191px;
$new_album_plus-offset-y: 0px;
$new_album_plus-width: 91px;
$new_album_plus-height: 91px;
$new_album_plus-total-width: 319px;
$new_album_plus-total-height: 251px;
$new_album_plus-image: '/images/spritesheet.png';
$new_album_plus: 191px 0px -191px 0px 91px 91px 319px 251px '/images/spritesheet.png';
$settings-x: 283px;
$settings-y: 88px;
$settings-offset-x: -283px;
$settings-offset-y: -88px;
$settings-width: 24px;
$settings-height: 23px;
$settings-total-width: 319px;
$settings-total-height: 251px;
$settings-image: '/images/spritesheet.png';
$settings: 283px 88px -283px -88px 24px 23px 319px 251px '/images/spritesheet.png';
$settings_hover-x: 283px;
$settings_hover-y: 112px;
$settings_hover-offset-x: -283px;
$settings_hover-offset-y: -112px;
$settings_hover-width: 24px;
$settings_hover-height: 23px;
$settings_hover-total-width: 319px;
$settings_hover-total-height: 251px;
$settings_hover-image: '/images/spritesheet.png';
$settings_hover: 283px 112px -283px -112px 24px 23px 319px 251px '/images/spritesheet.png';
$share_facebook-x: 283px;
$share_facebook-y: 37px;
$share_facebook-offset-x: -283px;
$share_facebook-offset-y: -37px;
$share_facebook-width: 12px;
$share_facebook-height: 25px;
$share_facebook-total-width: 319px;
$share_facebook-total-height: 251px;
$share_facebook-image: '/images/spritesheet.png';
$share_facebook: 283px 37px -283px -37px 12px 25px 319px 251px '/images/spritesheet.png';
$share_facebook_hover-x: 296px;
$share_facebook_hover-y: 37px;
$share_facebook_hover-offset-x: -296px;
$share_facebook_hover-offset-y: -37px;
$share_facebook_hover-width: 12px;
$share_facebook_hover-height: 25px;
$share_facebook_hover-total-width: 319px;
$share_facebook_hover-total-height: 251px;
$share_facebook_hover-image: '/images/spritesheet.png';
$share_facebook_hover: 296px 37px -296px -37px 12px 25px 319px 251px '/images/spritesheet.png';
$share_icon-x: 283px;
$share_icon-y: 222px;
$share_icon-offset-x: -283px;
$share_icon-offset-y: -222px;
$share_icon-width: 24px;
$share_icon-height: 20px;
$share_icon-total-width: 319px;
$share_icon-total-height: 251px;
$share_icon-image: '/images/spritesheet.png';
$share_icon: 283px 222px -283px -222px 24px 20px 319px 251px '/images/spritesheet.png';
$share_twitter-x: 126px;
$share_twitter-y: 188px;
$share_twitter-offset-x: -126px;
$share_twitter-offset-y: -188px;
$share_twitter-width: 22px;
$share_twitter-height: 18px;
$share_twitter-total-width: 319px;
$share_twitter-total-height: 251px;
$share_twitter-image: '/images/spritesheet.png';
$share_twitter: 126px 188px -126px -188px 22px 18px 319px 251px '/images/spritesheet.png';
$share_twitter_hover-x: 168px;
$share_twitter_hover-y: 188px;
$share_twitter_hover-offset-x: -168px;
$share_twitter_hover-offset-y: -188px;
$share_twitter_hover-width: 22px;
$share_twitter_hover-height: 18px;
$share_twitter_hover-total-width: 319px;
$share_twitter_hover-total-height: 251px;
$share_twitter_hover-image: '/images/spritesheet.png';
$share_twitter_hover: 168px 188px -168px -188px 22px 18px 319px 251px '/images/spritesheet.png';
$spinner-x: 194px;
$spinner-y: 145px;
$spinner-offset-x: -194px;
$spinner-offset-y: -145px;
$spinner-width: 41px;
$spinner-height: 41px;
$spinner-total-width: 319px;
$spinner-total-height: 251px;
$spinner-image: '/images/spritesheet.png';
$spinner: 194px 145px -194px -145px 41px 41px 319px 251px '/images/spritesheet.png';
$trashcan-x: 283px;
$trashcan-y: 63px;
$trashcan-offset-x: -283px;
$trashcan-offset-y: -63px;
$trashcan-width: 21px;
$trashcan-height: 24px;
$trashcan-total-width: 319px;
$trashcan-total-height: 251px;
$trashcan-image: '/images/spritesheet.png';
$trashcan: 283px 63px -283px -63px 21px 24px 319px 251px '/images/spritesheet.png';
$trashcan_button-x: 191px;
$trashcan_button-y: 92px;
$trashcan_button-offset-x: -191px;
$trashcan_button-offset-y: -92px;
$trashcan_button-width: 43px;
$trashcan_button-height: 44px;
$trashcan_button-total-width: 319px;
$trashcan_button-total-height: 251px;
$trashcan_button-image: '/images/spritesheet.png';
$trashcan_button: 191px 92px -191px -92px 43px 44px 319px 251px '/images/spritesheet.png';
$trashcan_hover_pressed-x: 283px;
$trashcan_hover_pressed-y: 136px;
$trashcan_hover_pressed-offset-x: -283px;
$trashcan_hover_pressed-offset-y: -136px;
$trashcan_hover_pressed-width: 21px;
$trashcan_hover_pressed-height: 22px;
$trashcan_hover_pressed-total-width: 319px;
$trashcan_hover_pressed-total-height: 251px;
$trashcan_hover_pressed-image: '/images/spritesheet.png';
$trashcan_hover_pressed: 283px 136px -283px -136px 21px 22px 319px 251px '/images/spritesheet.png';
$upload_hover_icon-x: 207px;
$upload_hover_icon-y: 188px;
$upload_hover_icon-offset-x: -207px;
$upload_hover_icon-offset-y: -188px;
$upload_hover_icon-width: 15px;
$upload_hover_icon-height: 17px;
$upload_hover_icon-total-width: 319px;
$upload_hover_icon-total-height: 251px;
$upload_hover_icon-image: '/images/spritesheet.png';
$upload_hover_icon: 207px 188px -207px -188px 15px 17px 319px 251px '/images/spritesheet.png';
$upload_icon-x: 191px;
$upload_icon-y: 188px;
$upload_icon-offset-x: -191px;
$upload_icon-offset-y: -188px;
$upload_icon-width: 15px;
$upload_icon-height: 17px;
$upload_icon-total-width: 319px;
$upload_icon-total-height: 251px;
$upload_icon-image: '/images/spritesheet.png';
$upload_icon: 191px 188px -191px -188px 15px 17px 319px 251px '/images/spritesheet.png';
$upload_image-x: 0px;
$upload_image-y: 0px;
$upload_image-offset-x: 0px;
$upload_image-offset-y: 0px;
$upload_image-width: 190px;
$upload_image-height: 144px;
$upload_image-total-width: 319px;
$upload_image-total-height: 251px;
$upload_image-image: '/images/spritesheet.png';
$upload_image: 0px 0px 0px 0px 190px 144px 319px 251px '/images/spritesheet.png';
$user_toggle-x: 283px;
$user_toggle-y: 159px;
$user_toggle-offset-x: -283px;
$user_toggle-offset-y: -159px;
$user_toggle-width: 26px;
$user_toggle-height: 20px;
$user_toggle-total-width: 319px;
$user_toggle-total-height: 251px;
$user_toggle-image: '/images/spritesheet.png';
$user_toggle: 283px 159px -283px -159px 26px 20px 319px 251px '/images/spritesheet.png';
$user_toggle_hover-x: 283px;
$user_toggle_hover-y: 201px;
$user_toggle_hover-offset-x: -283px;
$user_toggle_hover-offset-y: -201px;
$user_toggle_hover-width: 26px;
$user_toggle_hover-height: 20px;
$user_toggle_hover-total-width: 319px;
$user_toggle_hover-total-height: 251px;
$user_toggle_hover-image: '/images/spritesheet.png';
$user_toggle_hover: 283px 201px -283px -201px 26px 20px 319px 251px '/images/spritesheet.png';
$user_toggle_pressed-x: 283px;
$user_toggle_pressed-y: 180px;
$user_toggle_pressed-offset-x: -283px;
$user_toggle_pressed-offset-y: -180px;
$user_toggle_pressed-width: 25px;
$user_toggle_pressed-height: 20px;
$user_toggle_pressed-total-width: 319px;
$user_toggle_pressed-total-height: 251px;
$user_toggle_pressed-image: '/images/spritesheet.png';
$user_toggle_pressed: 283px 180px -283px -180px 25px 20px 319px 251px '/images/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
