/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$add_to_album-2x-x: 180px;
$add_to_album-2x-y: 184px;
$add_to_album-2x-offset-x: -180px;
$add_to_album-2x-offset-y: -184px;
$add_to_album-2x-width: 48px;
$add_to_album-2x-height: 38px;
$add_to_album-2x-total-width: 316px;
$add_to_album-2x-total-height: 260px;
$add_to_album-2x-image: '/images/spritesheet-2x.png';
$add_to_album-2x: 180px 184px -180px -184px 48px 38px 316px 260px '/images/spritesheet-2x.png';
$album_icon-2x-x: 272px;
$album_icon-2x-y: 76px;
$album_icon-2x-offset-x: -272px;
$album_icon-2x-offset-y: -76px;
$album_icon-2x-width: 34px;
$album_icon-2x-height: 32px;
$album_icon-2x-total-width: 316px;
$album_icon-2x-total-height: 260px;
$album_icon-2x-image: '/images/spritesheet-2x.png';
$album_icon-2x: 272px 76px -272px -76px 34px 32px 316px 260px '/images/spritesheet-2x.png';
$caret_button_grey-2x-x: 272px;
$caret_button_grey-2x-y: 38px;
$caret_button_grey-2x-offset-x: -272px;
$caret_button_grey-2x-offset-y: -38px;
$caret_button_grey-2x-width: 44px;
$caret_button_grey-2x-height: 36px;
$caret_button_grey-2x-total-width: 316px;
$caret_button_grey-2x-total-height: 260px;
$caret_button_grey-2x-image: '/images/spritesheet-2x.png';
$caret_button_grey-2x: 272px 38px -272px -38px 44px 36px 316px 260px '/images/spritesheet-2x.png';
$caret_button_red-2x-x: 272px;
$caret_button_red-2x-y: 0px;
$caret_button_red-2x-offset-x: -272px;
$caret_button_red-2x-offset-y: 0px;
$caret_button_red-2x-width: 44px;
$caret_button_red-2x-height: 36px;
$caret_button_red-2x-total-width: 316px;
$caret_button_red-2x-total-height: 260px;
$caret_button_red-2x-image: '/images/spritesheet-2x.png';
$caret_button_red-2x: 272px 0px -272px 0px 44px 36px 316px 260px '/images/spritesheet-2x.png';
$caret_grey-2x-x: 294px;
$caret_grey-2x-y: 144px;
$caret_grey-2x-offset-x: -294px;
$caret_grey-2x-offset-y: -144px;
$caret_grey-2x-width: 20px;
$caret_grey-2x-height: 12px;
$caret_grey-2x-total-width: 316px;
$caret_grey-2x-total-height: 260px;
$caret_grey-2x-image: '/images/spritesheet-2x.png';
$caret_grey-2x: 294px 144px -294px -144px 20px 12px 316px 260px '/images/spritesheet-2x.png';
$caret_left-2x-x: 122px;
$caret_left-2x-y: 184px;
$caret_left-2x-offset-x: -122px;
$caret_left-2x-offset-y: -184px;
$caret_left-2x-width: 28px;
$caret_left-2x-height: 42px;
$caret_left-2x-total-width: 316px;
$caret_left-2x-total-height: 260px;
$caret_left-2x-image: '/images/spritesheet-2x.png';
$caret_left-2x: 122px 184px -122px -184px 28px 42px 316px 260px '/images/spritesheet-2x.png';
$caret_red-2x-x: 272px;
$caret_red-2x-y: 144px;
$caret_red-2x-offset-x: -272px;
$caret_red-2x-offset-y: -144px;
$caret_red-2x-width: 20px;
$caret_red-2x-height: 12px;
$caret_red-2x-total-width: 316px;
$caret_red-2x-total-height: 260px;
$caret_red-2x-image: '/images/spritesheet-2x.png';
$caret_red-2x: 272px 144px -272px -144px 20px 12px 316px 260px '/images/spritesheet-2x.png';
$caret_right-2x-x: 152px;
$caret_right-2x-y: 184px;
$caret_right-2x-offset-x: -152px;
$caret_right-2x-offset-y: -184px;
$caret_right-2x-width: 26px;
$caret_right-2x-height: 42px;
$caret_right-2x-total-width: 316px;
$caret_right-2x-total-height: 260px;
$caret_right-2x-image: '/images/spritesheet-2x.png';
$caret_right-2x: 152px 184px -152px -184px 26px 42px 316px 260px '/images/spritesheet-2x.png';
$checkmark_active-2x-x: 0px;
$checkmark_active-2x-y: 184px;
$checkmark_active-2x-offset-x: 0px;
$checkmark_active-2x-offset-y: -184px;
$checkmark_active-2x-width: 76px;
$checkmark_active-2x-height: 76px;
$checkmark_active-2x-total-width: 316px;
$checkmark_active-2x-total-height: 260px;
$checkmark_active-2x-image: '/images/spritesheet-2x.png';
$checkmark_active-2x: 0px 184px 0px -184px 76px 76px 316px 260px '/images/spritesheet-2x.png';
$checkmark_hover-2x-x: 184px;
$checkmark_hover-2x-y: 90px;
$checkmark_hover-2x-offset-x: -184px;
$checkmark_hover-2x-offset-y: -90px;
$checkmark_hover-2x-width: 76px;
$checkmark_hover-2x-height: 76px;
$checkmark_hover-2x-total-width: 316px;
$checkmark_hover-2x-total-height: 260px;
$checkmark_hover-2x-image: '/images/spritesheet-2x.png';
$checkmark_hover-2x: 184px 90px -184px -90px 76px 76px 316px 260px '/images/spritesheet-2x.png';
$clock-2x-x: 230px;
$clock-2x-y: 184px;
$clock-2x-offset-x: -230px;
$clock-2x-offset-y: -184px;
$clock-2x-width: 36px;
$clock-2x-height: 36px;
$clock-2x-total-width: 316px;
$clock-2x-total-height: 260px;
$clock-2x-image: '/images/spritesheet-2x.png';
$clock-2x: 230px 184px -230px -184px 36px 36px 316px 260px '/images/spritesheet-2x.png';
$escape_photoview-2x-x: 272px;
$escape_photoview-2x-y: 110px;
$escape_photoview-2x-offset-x: -272px;
$escape_photoview-2x-offset-y: -110px;
$escape_photoview-2x-width: 32px;
$escape_photoview-2x-height: 32px;
$escape_photoview-2x-total-width: 316px;
$escape_photoview-2x-total-height: 260px;
$escape_photoview-2x-image: '/images/spritesheet-2x.png';
$escape_photoview-2x: 272px 110px -272px -110px 32px 32px 316px 260px '/images/spritesheet-2x.png';
$new_album_plus-2x-x: 0px;
$new_album_plus-2x-y: 0px;
$new_album_plus-2x-offset-x: 0px;
$new_album_plus-2x-offset-y: 0px;
$new_album_plus-2x-width: 182px;
$new_album_plus-2x-height: 182px;
$new_album_plus-2x-total-width: 316px;
$new_album_plus-2x-total-height: 260px;
$new_album_plus-2x-image: '/images/spritesheet-2x.png';
$new_album_plus-2x: 0px 0px 0px 0px 182px 182px 316px 260px '/images/spritesheet-2x.png';
$trashcan-2x-x: 78px;
$trashcan-2x-y: 184px;
$trashcan-2x-offset-x: -78px;
$trashcan-2x-offset-y: -184px;
$trashcan-2x-width: 42px;
$trashcan-2x-height: 48px;
$trashcan-2x-total-width: 316px;
$trashcan-2x-total-height: 260px;
$trashcan-2x-image: '/images/spritesheet-2x.png';
$trashcan-2x: 78px 184px -78px -184px 42px 48px 316px 260px '/images/spritesheet-2x.png';
$trashcan_button-2x-x: 184px;
$trashcan_button-2x-y: 0px;
$trashcan_button-2x-offset-x: -184px;
$trashcan_button-2x-offset-y: 0px;
$trashcan_button-2x-width: 86px;
$trashcan_button-2x-height: 88px;
$trashcan_button-2x-total-width: 316px;
$trashcan_button-2x-total-height: 260px;
$trashcan_button-2x-image: '/images/spritesheet-2x.png';
$trashcan_button-2x: 184px 0px -184px 0px 86px 88px 316px 260px '/images/spritesheet-2x.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
