/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$add_to_album-2x-x: 272px;
$add_to_album-2x-y: 42px;
$add_to_album-2x-offset-x: -272px;
$add_to_album-2x-offset-y: -42px;
$add_to_album-2x-width: 38px;
$add_to_album-2x-height: 38px;
$add_to_album-2x-total-width: 320px;
$add_to_album-2x-total-height: 256px;
$add_to_album-2x-image: '/images/spritesheet-2x.png';
$add_to_album-2x: 272px 42px -272px -42px 38px 38px 320px 256px '/images/spritesheet-2x.png';
$album_icon-2x-x: 230px;
$album_icon-2x-y: 184px;
$album_icon-2x-offset-x: -230px;
$album_icon-2x-offset-y: -184px;
$album_icon-2x-width: 34px;
$album_icon-2x-height: 32px;
$album_icon-2x-total-width: 320px;
$album_icon-2x-total-height: 256px;
$album_icon-2x-image: '/images/spritesheet-2x.png';
$album_icon-2x: 230px 184px -230px -184px 34px 32px 320px 256px '/images/spritesheet-2x.png';
$caret_grey-2x-x: 294px;
$caret_grey-2x-y: 226px;
$caret_grey-2x-offset-x: -294px;
$caret_grey-2x-offset-y: -226px;
$caret_grey-2x-width: 20px;
$caret_grey-2x-height: 12px;
$caret_grey-2x-total-width: 320px;
$caret_grey-2x-total-height: 256px;
$caret_grey-2x-image: '/images/spritesheet-2x.png';
$caret_grey-2x: 294px 226px -294px -226px 20px 12px 320px 256px '/images/spritesheet-2x.png';
$caret_left-2x-x: 118px;
$caret_left-2x-y: 184px;
$caret_left-2x-offset-x: -118px;
$caret_left-2x-offset-y: -184px;
$caret_left-2x-width: 28px;
$caret_left-2x-height: 42px;
$caret_left-2x-total-width: 320px;
$caret_left-2x-total-height: 256px;
$caret_left-2x-image: '/images/spritesheet-2x.png';
$caret_left-2x: 118px 184px -118px -184px 28px 42px 320px 256px '/images/spritesheet-2x.png';
$caret_red-2x-x: 272px;
$caret_red-2x-y: 226px;
$caret_red-2x-offset-x: -272px;
$caret_red-2x-offset-y: -226px;
$caret_red-2x-width: 20px;
$caret_red-2x-height: 12px;
$caret_red-2x-total-width: 320px;
$caret_red-2x-total-height: 256px;
$caret_red-2x-image: '/images/spritesheet-2x.png';
$caret_red-2x: 272px 226px -272px -226px 20px 12px 320px 256px '/images/spritesheet-2x.png';
$caret_right-2x-x: 148px;
$caret_right-2x-y: 184px;
$caret_right-2x-offset-x: -148px;
$caret_right-2x-offset-y: -184px;
$caret_right-2x-width: 26px;
$caret_right-2x-height: 42px;
$caret_right-2x-total-width: 320px;
$caret_right-2x-total-height: 256px;
$caret_right-2x-image: '/images/spritesheet-2x.png';
$caret_right-2x: 148px 184px -148px -184px 26px 42px 320px 256px '/images/spritesheet-2x.png';
$checkmark_active-2x-x: 0px;
$checkmark_active-2x-y: 184px;
$checkmark_active-2x-offset-x: 0px;
$checkmark_active-2x-offset-y: -184px;
$checkmark_active-2x-width: 72px;
$checkmark_active-2x-height: 72px;
$checkmark_active-2x-total-width: 320px;
$checkmark_active-2x-total-height: 256px;
$checkmark_active-2x-image: '/images/spritesheet-2x.png';
$checkmark_active-2x: 0px 184px 0px -184px 72px 72px 320px 256px '/images/spritesheet-2x.png';
$checkmark_hover-2x-x: 184px;
$checkmark_hover-2x-y: 90px;
$checkmark_hover-2x-offset-x: -184px;
$checkmark_hover-2x-offset-y: -90px;
$checkmark_hover-2x-width: 76px;
$checkmark_hover-2x-height: 76px;
$checkmark_hover-2x-total-width: 320px;
$checkmark_hover-2x-total-height: 256px;
$checkmark_hover-2x-image: '/images/spritesheet-2x.png';
$checkmark_hover-2x: 184px 90px -184px -90px 76px 76px 320px 256px '/images/spritesheet-2x.png';
$clock-2x-x: 272px;
$clock-2x-y: 82px;
$clock-2x-offset-x: -272px;
$clock-2x-offset-y: -82px;
$clock-2x-width: 36px;
$clock-2x-height: 36px;
$clock-2x-total-width: 320px;
$clock-2x-total-height: 256px;
$clock-2x-image: '/images/spritesheet-2x.png';
$clock-2x: 272px 82px -272px -82px 36px 36px 320px 256px '/images/spritesheet-2x.png';
$escape_photoview-2x-x: 272px;
$escape_photoview-2x-y: 192px;
$escape_photoview-2x-offset-x: -272px;
$escape_photoview-2x-offset-y: -192px;
$escape_photoview-2x-width: 32px;
$escape_photoview-2x-height: 32px;
$escape_photoview-2x-total-width: 320px;
$escape_photoview-2x-total-height: 256px;
$escape_photoview-2x-image: '/images/spritesheet-2x.png';
$escape_photoview-2x: 272px 192px -272px -192px 32px 32px 320px 256px '/images/spritesheet-2x.png';
$new_album_plus-2x-x: 0px;
$new_album_plus-2x-y: 0px;
$new_album_plus-2x-offset-x: 0px;
$new_album_plus-2x-offset-y: 0px;
$new_album_plus-2x-width: 182px;
$new_album_plus-2x-height: 182px;
$new_album_plus-2x-total-width: 320px;
$new_album_plus-2x-total-height: 256px;
$new_album_plus-2x-image: '/images/spritesheet-2x.png';
$new_album_plus-2x: 0px 0px 0px 0px 182px 182px 320px 256px '/images/spritesheet-2x.png';
$share_icon-2x-x: 272px;
$share_icon-2x-y: 0px;
$share_icon-2x-offset-x: -272px;
$share_icon-2x-offset-y: 0px;
$share_icon-2x-width: 48px;
$share_icon-2x-height: 40px;
$share_icon-2x-total-width: 320px;
$share_icon-2x-total-height: 256px;
$share_icon-2x-image: '/images/spritesheet-2x.png';
$share_icon-2x: 272px 0px -272px 0px 48px 40px 320px 256px '/images/spritesheet-2x.png';
$trashcan-2x-x: 74px;
$trashcan-2x-y: 184px;
$trashcan-2x-offset-x: -74px;
$trashcan-2x-offset-y: -184px;
$trashcan-2x-width: 42px;
$trashcan-2x-height: 48px;
$trashcan-2x-total-width: 320px;
$trashcan-2x-total-height: 256px;
$trashcan-2x-image: '/images/spritesheet-2x.png';
$trashcan-2x: 74px 184px -74px -184px 42px 48px 320px 256px '/images/spritesheet-2x.png';
$trashcan_button-2x-x: 184px;
$trashcan_button-2x-y: 0px;
$trashcan_button-2x-offset-x: -184px;
$trashcan_button-2x-offset-y: 0px;
$trashcan_button-2x-width: 86px;
$trashcan_button-2x-height: 88px;
$trashcan_button-2x-total-width: 320px;
$trashcan_button-2x-total-height: 256px;
$trashcan_button-2x-image: '/images/spritesheet-2x.png';
$trashcan_button-2x: 184px 0px -184px 0px 86px 88px 320px 256px '/images/spritesheet-2x.png';
$upload_hover_icon-2x-x: 272px;
$upload_hover_icon-2x-y: 120px;
$upload_hover_icon-2x-offset-x: -272px;
$upload_hover_icon-2x-offset-y: -120px;
$upload_hover_icon-2x-width: 30px;
$upload_hover_icon-2x-height: 34px;
$upload_hover_icon-2x-total-width: 320px;
$upload_hover_icon-2x-total-height: 256px;
$upload_hover_icon-2x-image: '/images/spritesheet-2x.png';
$upload_hover_icon-2x: 272px 120px -272px -120px 30px 34px 320px 256px '/images/spritesheet-2x.png';
$upload_icon-2x-x: 272px;
$upload_icon-2x-y: 156px;
$upload_icon-2x-offset-x: -272px;
$upload_icon-2x-offset-y: -156px;
$upload_icon-2x-width: 30px;
$upload_icon-2x-height: 34px;
$upload_icon-2x-total-width: 320px;
$upload_icon-2x-total-height: 256px;
$upload_icon-2x-image: '/images/spritesheet-2x.png';
$upload_icon-2x: 272px 156px -272px -156px 30px 34px 320px 256px '/images/spritesheet-2x.png';
$user_toggle_icon-2x-x: 176px;
$user_toggle_icon-2x-y: 184px;
$user_toggle_icon-2x-offset-x: -176px;
$user_toggle_icon-2x-offset-y: -184px;
$user_toggle_icon-2x-width: 52px;
$user_toggle_icon-2x-height: 40px;
$user_toggle_icon-2x-total-width: 320px;
$user_toggle_icon-2x-total-height: 256px;
$user_toggle_icon-2x-image: '/images/spritesheet-2x.png';
$user_toggle_icon-2x: 176px 184px -176px -184px 52px 40px 320px 256px '/images/spritesheet-2x.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
