/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$down_carrot_black-x: 228px;
$down_carrot_black-y: 64px;
$down_carrot_black-offset-x: -228px;
$down_carrot_black-offset-y: -64px;
$down_carrot_black-width: 82px;
$down_carrot_black-height: 41px;
$down_carrot_black-total-width: 504px;
$down_carrot_black-total-height: 155px;
$down_carrot_black-image: '/images/spritesheetPreLaunch.png';
$down_carrot_black: 228px 64px -228px -64px 82px 41px 504px 155px '/images/spritesheetPreLaunch.png';
$down_carrot_white-x: 311px;
$down_carrot_white-y: 64px;
$down_carrot_white-offset-x: -311px;
$down_carrot_white-offset-y: -64px;
$down_carrot_white-width: 82px;
$down_carrot_white-height: 41px;
$down_carrot_white-total-width: 504px;
$down_carrot_white-total-height: 155px;
$down_carrot_white-image: '/images/spritesheetPreLaunch.png';
$down_carrot_white: 311px 64px -311px -64px 82px 41px 504px 155px '/images/spritesheetPreLaunch.png';
$fb_logo-x: 394px;
$fb_logo-y: 64px;
$fb_logo-offset-x: -394px;
$fb_logo-offset-y: -64px;
$fb_logo-width: 12px;
$fb_logo-height: 24px;
$fb_logo-total-width: 504px;
$fb_logo-total-height: 155px;
$fb_logo-image: '/images/spritesheetPreLaunch.png';
$fb_logo: 394px 64px -394px -64px 12px 24px 504px 155px '/images/spritesheetPreLaunch.png';
$fb_logo_hover-x: 407px;
$fb_logo_hover-y: 64px;
$fb_logo_hover-offset-x: -407px;
$fb_logo_hover-offset-y: -64px;
$fb_logo_hover-width: 12px;
$fb_logo_hover-height: 24px;
$fb_logo_hover-total-width: 504px;
$fb_logo_hover-total-height: 155px;
$fb_logo_hover-image: '/images/spritesheetPreLaunch.png';
$fb_logo_hover: 407px 64px -407px -64px 12px 24px 504px 155px '/images/spritesheetPreLaunch.png';
$google_play-x: 0px;
$google_play-y: 115px;
$google_play-offset-x: 0px;
$google_play-offset-y: -115px;
$google_play-width: 115px;
$google_play-height: 40px;
$google_play-total-width: 504px;
$google_play-total-height: 155px;
$google_play-image: '/images/spritesheetPreLaunch.png';
$google_play: 0px 115px 0px -115px 115px 40px 504px 155px '/images/spritesheetPreLaunch.png';
$heirloom_logo_shadow-x: 228px;
$heirloom_logo_shadow-y: 0px;
$heirloom_logo_shadow-offset-x: -228px;
$heirloom_logo_shadow-offset-y: 0px;
$heirloom_logo_shadow-width: 276px;
$heirloom_logo_shadow-height: 63px;
$heirloom_logo_shadow-total-width: 504px;
$heirloom_logo_shadow-total-height: 155px;
$heirloom_logo_shadow-image: '/images/spritesheetPreLaunch.png';
$heirloom_logo_shadow: 228px 0px -228px 0px 276px 63px 504px 155px '/images/spritesheetPreLaunch.png';
$instagram_logo-x: 420px;
$instagram_logo-y: 64px;
$instagram_logo-offset-x: -420px;
$instagram_logo-offset-y: -64px;
$instagram_logo-width: 22px;
$instagram_logo-height: 23px;
$instagram_logo-total-width: 504px;
$instagram_logo-total-height: 155px;
$instagram_logo-image: '/images/spritesheetPreLaunch.png';
$instagram_logo: 420px 64px -420px -64px 22px 23px 504px 155px '/images/spritesheetPreLaunch.png';
$instagram_logo_hover-x: 443px;
$instagram_logo_hover-y: 64px;
$instagram_logo_hover-offset-x: -443px;
$instagram_logo_hover-offset-y: -64px;
$instagram_logo_hover-width: 22px;
$instagram_logo_hover-height: 23px;
$instagram_logo_hover-total-width: 504px;
$instagram_logo_hover-total-height: 155px;
$instagram_logo_hover-image: '/images/spritesheetPreLaunch.png';
$instagram_logo_hover: 443px 64px -443px -64px 22px 23px 504px 155px '/images/spritesheetPreLaunch.png';
$notify_me-x: 116px;
$notify_me-y: 115px;
$notify_me-offset-x: -116px;
$notify_me-offset-y: -115px;
$notify_me-width: 120px;
$notify_me-height: 32px;
$notify_me-total-width: 504px;
$notify_me-total-height: 155px;
$notify_me-image: '/images/spritesheetPreLaunch.png';
$notify_me: 116px 115px -116px -115px 120px 32px 504px 155px '/images/spritesheetPreLaunch.png';
$notify_me_hover-x: 237px;
$notify_me_hover-y: 115px;
$notify_me_hover-offset-x: -237px;
$notify_me_hover-offset-y: -115px;
$notify_me_hover-width: 120px;
$notify_me_hover-height: 32px;
$notify_me_hover-total-width: 504px;
$notify_me_hover-total-height: 155px;
$notify_me_hover-image: '/images/spritesheetPreLaunch.png';
$notify_me_hover: 237px 115px -237px -115px 120px 32px 504px 155px '/images/spritesheetPreLaunch.png';
$play_button-x: 114px;
$play_button-y: 0px;
$play_button-offset-x: -114px;
$play_button-offset-y: 0px;
$play_button-width: 113px;
$play_button-height: 113px;
$play_button-total-width: 504px;
$play_button-total-height: 155px;
$play_button-image: '/images/spritesheetPreLaunch.png';
$play_button: 114px 0px -114px 0px 113px 113px 504px 155px '/images/spritesheetPreLaunch.png';
$play_button_hover-x: 0px;
$play_button_hover-y: 0px;
$play_button_hover-offset-x: 0px;
$play_button_hover-offset-y: 0px;
$play_button_hover-width: 113px;
$play_button_hover-height: 114px;
$play_button_hover-total-width: 504px;
$play_button_hover-total-height: 155px;
$play_button_hover-image: '/images/spritesheetPreLaunch.png';
$play_button_hover: 0px 0px 0px 0px 113px 114px 504px 155px '/images/spritesheetPreLaunch.png';
$twitter_logo-x: 466px;
$twitter_logo-y: 64px;
$twitter_logo-offset-x: -466px;
$twitter_logo-offset-y: -64px;
$twitter_logo-width: 27px;
$twitter_logo-height: 22px;
$twitter_logo-total-width: 504px;
$twitter_logo-total-height: 155px;
$twitter_logo-image: '/images/spritesheetPreLaunch.png';
$twitter_logo: 466px 64px -466px -64px 27px 22px 504px 155px '/images/spritesheetPreLaunch.png';
$twitter_logo_hover-x: 358px;
$twitter_logo_hover-y: 115px;
$twitter_logo_hover-offset-x: -358px;
$twitter_logo_hover-offset-y: -115px;
$twitter_logo_hover-width: 27px;
$twitter_logo_hover-height: 22px;
$twitter_logo_hover-total-width: 504px;
$twitter_logo_hover-total-height: 155px;
$twitter_logo_hover-image: '/images/spritesheetPreLaunch.png';
$twitter_logo_hover: 358px 115px -358px -115px 27px 22px 504px 155px '/images/spritesheetPreLaunch.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
