/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$app_store-2x-x: 90px;
$app_store-2x-y: 184px;
$app_store-2x-offset-x: -90px;
$app_store-2x-offset-y: -184px;
$app_store-2x-width: 280px;
$app_store-2x-height: 80px;
$app_store-2x-total-width: 930px;
$app_store-2x-total-height: 338px;
$app_store-2x-image: '/images/spritesheetPreLaunch-2x.png';
$app_store-2x: 90px 184px -90px -184px 280px 80px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$down_carrot_black-2x-x: 700px;
$down_carrot_black-2x-y: 184px;
$down_carrot_black-2x-offset-x: -700px;
$down_carrot_black-2x-offset-y: -184px;
$down_carrot_black-2x-width: 128px;
$down_carrot_black-2x-height: 64px;
$down_carrot_black-2x-total-width: 930px;
$down_carrot_black-2x-total-height: 338px;
$down_carrot_black-2x-image: '/images/spritesheetPreLaunch-2x.png';
$down_carrot_black-2x: 700px 184px -700px -184px 128px 64px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$down_carrot_white-2x-x: 484px;
$down_carrot_white-2x-y: 274px;
$down_carrot_white-2x-offset-x: -484px;
$down_carrot_white-2x-offset-y: -274px;
$down_carrot_white-2x-width: 120px;
$down_carrot_white-2x-height: 64px;
$down_carrot_white-2x-total-width: 930px;
$down_carrot_white-2x-total-height: 338px;
$down_carrot_white-2x-image: '/images/spritesheetPreLaunch-2x.png';
$down_carrot_white-2x: 484px 274px -484px -274px 120px 64px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$exit_video-2x-x: 0px;
$exit_video-2x-y: 184px;
$exit_video-2x-offset-x: 0px;
$exit_video-2x-offset-y: -184px;
$exit_video-2x-width: 88px;
$exit_video-2x-height: 88px;
$exit_video-2x-total-width: 930px;
$exit_video-2x-total-height: 338px;
$exit_video-2x-image: '/images/spritesheetPreLaunch-2x.png';
$exit_video-2x: 0px 184px 0px -184px 88px 88px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$fb_logo-2x-x: 474px;
$fb_logo-2x-y: 132px;
$fb_logo-2x-offset-x: -474px;
$fb_logo-2x-offset-y: -132px;
$fb_logo-2x-width: 20px;
$fb_logo-2x-height: 40px;
$fb_logo-2x-total-width: 930px;
$fb_logo-2x-total-height: 338px;
$fb_logo-2x-image: '/images/spritesheetPreLaunch-2x.png';
$fb_logo-2x: 474px 132px -474px -132px 20px 40px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$fb_logo_dark-2x-x: 372px;
$fb_logo_dark-2x-y: 132px;
$fb_logo_dark-2x-offset-x: -372px;
$fb_logo_dark-2x-offset-y: -132px;
$fb_logo_dark-2x-width: 20px;
$fb_logo_dark-2x-height: 40px;
$fb_logo_dark-2x-total-width: 930px;
$fb_logo_dark-2x-total-height: 338px;
$fb_logo_dark-2x-image: '/images/spritesheetPreLaunch-2x.png';
$fb_logo_dark-2x: 372px 132px -372px -132px 20px 40px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$footer_logo-2x-x: 618px;
$footer_logo-2x-y: 184px;
$footer_logo-2x-offset-x: -618px;
$footer_logo-2x-offset-y: -184px;
$footer_logo-2x-width: 80px;
$footer_logo-2x-height: 80px;
$footer_logo-2x-total-width: 930px;
$footer_logo-2x-total-height: 338px;
$footer_logo-2x-image: '/images/spritesheetPreLaunch-2x.png';
$footer_logo-2x: 618px 184px -618px -184px 80px 80px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$google_play-2x-x: 372px;
$google_play-2x-y: 184px;
$google_play-2x-offset-x: -372px;
$google_play-2x-offset-y: -184px;
$google_play-2x-width: 244px;
$google_play-2x-height: 80px;
$google_play-2x-total-width: 930px;
$google_play-2x-total-height: 338px;
$google_play-2x-image: '/images/spritesheetPreLaunch-2x.png';
$google_play-2x: 372px 184px -372px -184px 244px 80px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$heirloom_logo_shadow-2x-x: 372px;
$heirloom_logo_shadow-2x-y: 0px;
$heirloom_logo_shadow-2x-offset-x: -372px;
$heirloom_logo_shadow-2x-offset-y: 0px;
$heirloom_logo_shadow-2x-width: 558px;
$heirloom_logo_shadow-2x-height: 130px;
$heirloom_logo_shadow-2x-total-width: 930px;
$heirloom_logo_shadow-2x-total-height: 338px;
$heirloom_logo_shadow-2x-image: '/images/spritesheetPreLaunch-2x.png';
$heirloom_logo_shadow-2x: 372px 0px -372px 0px 558px 130px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$instagram_logo-2x-x: 394px;
$instagram_logo-2x-y: 132px;
$instagram_logo-2x-offset-x: -394px;
$instagram_logo-2x-offset-y: -132px;
$instagram_logo-2x-width: 38px;
$instagram_logo-2x-height: 40px;
$instagram_logo-2x-total-width: 930px;
$instagram_logo-2x-total-height: 338px;
$instagram_logo-2x-image: '/images/spritesheetPreLaunch-2x.png';
$instagram_logo-2x: 394px 132px -394px -132px 38px 40px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$instagram_logo_dark-2x-x: 434px;
$instagram_logo_dark-2x-y: 132px;
$instagram_logo_dark-2x-offset-x: -434px;
$instagram_logo_dark-2x-offset-y: -132px;
$instagram_logo_dark-2x-width: 38px;
$instagram_logo_dark-2x-height: 40px;
$instagram_logo_dark-2x-total-width: 930px;
$instagram_logo_dark-2x-total-height: 338px;
$instagram_logo_dark-2x-image: '/images/spritesheetPreLaunch-2x.png';
$instagram_logo_dark-2x: 434px 132px -434px -132px 38px 40px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$notify_me-2x-x: 0px;
$notify_me-2x-y: 274px;
$notify_me-2x-offset-x: 0px;
$notify_me-2x-offset-y: -274px;
$notify_me-2x-width: 240px;
$notify_me-2x-height: 64px;
$notify_me-2x-total-width: 930px;
$notify_me-2x-total-height: 338px;
$notify_me-2x-image: '/images/spritesheetPreLaunch-2x.png';
$notify_me-2x: 0px 274px 0px -274px 240px 64px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$notify_me_hover-2x-x: 242px;
$notify_me_hover-2x-y: 274px;
$notify_me_hover-2x-offset-x: -242px;
$notify_me_hover-2x-offset-y: -274px;
$notify_me_hover-2x-width: 240px;
$notify_me_hover-2x-height: 64px;
$notify_me_hover-2x-total-width: 930px;
$notify_me_hover-2x-total-height: 338px;
$notify_me_hover-2x-image: '/images/spritesheetPreLaunch-2x.png';
$notify_me_hover-2x: 242px 274px -242px -274px 240px 64px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$play_button-2x-x: 186px;
$play_button-2x-y: 0px;
$play_button-2x-offset-x: -186px;
$play_button-2x-offset-y: 0px;
$play_button-2x-width: 184px;
$play_button-2x-height: 182px;
$play_button-2x-total-width: 930px;
$play_button-2x-total-height: 338px;
$play_button-2x-image: '/images/spritesheetPreLaunch-2x.png';
$play_button-2x: 186px 0px -186px 0px 184px 182px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$play_button_hover-2x-x: 0px;
$play_button_hover-2x-y: 0px;
$play_button_hover-2x-offset-x: 0px;
$play_button_hover-2x-offset-y: 0px;
$play_button_hover-2x-width: 184px;
$play_button_hover-2x-height: 182px;
$play_button_hover-2x-total-width: 930px;
$play_button_hover-2x-total-height: 338px;
$play_button_hover-2x-image: '/images/spritesheetPreLaunch-2x.png';
$play_button_hover-2x: 0px 0px 0px 0px 184px 182px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$twitter_logo-2x-x: 496px;
$twitter_logo-2x-y: 132px;
$twitter_logo-2x-offset-x: -496px;
$twitter_logo-2x-offset-y: -132px;
$twitter_logo-2x-width: 46px;
$twitter_logo-2x-height: 38px;
$twitter_logo-2x-total-width: 930px;
$twitter_logo-2x-total-height: 338px;
$twitter_logo-2x-image: '/images/spritesheetPreLaunch-2x.png';
$twitter_logo-2x: 496px 132px -496px -132px 46px 38px 930px 338px '/images/spritesheetPreLaunch-2x.png';
$twitter_logo_dark-2x-x: 544px;
$twitter_logo_dark-2x-y: 132px;
$twitter_logo_dark-2x-offset-x: -544px;
$twitter_logo_dark-2x-offset-y: -132px;
$twitter_logo_dark-2x-width: 46px;
$twitter_logo_dark-2x-height: 38px;
$twitter_logo_dark-2x-total-width: 930px;
$twitter_logo_dark-2x-total-height: 338px;
$twitter_logo_dark-2x-image: '/images/spritesheetPreLaunch-2x.png';
$twitter_logo_dark-2x: 544px 132px -544px -132px 46px 38px 930px 338px '/images/spritesheetPreLaunch-2x.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
