/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$add_to_album-2x-x: 300px;
$add_to_album-2x-y: 124px;
$add_to_album-2x-offset-x: -300px;
$add_to_album-2x-offset-y: -124px;
$add_to_album-2x-width: 38px;
$add_to_album-2x-height: 38px;
$add_to_album-2x-total-width: 344px;
$add_to_album-2x-total-height: 310px;
$add_to_album-2x-image: '/images/spritesheet-2x.png';
$add_to_album-2x: 300px 124px -300px -124px 38px 38px 344px 310px '/images/spritesheet-2x.png';
$album_icon-2x-x: 238px;
$album_icon-2x-y: 270px;
$album_icon-2x-offset-x: -238px;
$album_icon-2x-offset-y: -270px;
$album_icon-2x-width: 34px;
$album_icon-2x-height: 32px;
$album_icon-2x-total-width: 344px;
$album_icon-2x-total-height: 310px;
$album_icon-2x-image: '/images/spritesheet-2x.png';
$album_icon-2x: 238px 270px -238px -270px 34px 32px 344px 310px '/images/spritesheet-2x.png';
$caret_grey-2x-x: 294px;
$caret_grey-2x-y: 252px;
$caret_grey-2x-offset-x: -294px;
$caret_grey-2x-offset-y: -252px;
$caret_grey-2x-width: 20px;
$caret_grey-2x-height: 12px;
$caret_grey-2x-total-width: 344px;
$caret_grey-2x-total-height: 310px;
$caret_grey-2x-image: '/images/spritesheet-2x.png';
$caret_grey-2x: 294px 252px -294px -252px 20px 12px 344px 310px '/images/spritesheet-2x.png';
$caret_left-2x-x: 316px;
$caret_left-2x-y: 74px;
$caret_left-2x-offset-x: -316px;
$caret_left-2x-offset-y: -74px;
$caret_left-2x-width: 28px;
$caret_left-2x-height: 42px;
$caret_left-2x-total-width: 344px;
$caret_left-2x-total-height: 310px;
$caret_left-2x-image: '/images/spritesheet-2x.png';
$caret_left-2x: 316px 74px -316px -74px 28px 42px 344px 310px '/images/spritesheet-2x.png';
$caret_red-2x-x: 272px;
$caret_red-2x-y: 252px;
$caret_red-2x-offset-x: -272px;
$caret_red-2x-offset-y: -252px;
$caret_red-2x-width: 20px;
$caret_red-2x-height: 12px;
$caret_red-2x-total-width: 344px;
$caret_red-2x-total-height: 310px;
$caret_red-2x-image: '/images/spritesheet-2x.png';
$caret_red-2x: 272px 252px -272px -252px 20px 12px 344px 310px '/images/spritesheet-2x.png';
$caret_right-2x-x: 272px;
$caret_right-2x-y: 124px;
$caret_right-2x-offset-x: -272px;
$caret_right-2x-offset-y: -124px;
$caret_right-2x-width: 26px;
$caret_right-2x-height: 42px;
$caret_right-2x-total-width: 344px;
$caret_right-2x-total-height: 310px;
$caret_right-2x-image: '/images/spritesheet-2x.png';
$caret_right-2x: 272px 124px -272px -124px 26px 42px 344px 310px '/images/spritesheet-2x.png';
$checkmark_active-2x-x: 272px;
$checkmark_active-2x-y: 0px;
$checkmark_active-2x-offset-x: -272px;
$checkmark_active-2x-offset-y: 0px;
$checkmark_active-2x-width: 72px;
$checkmark_active-2x-height: 72px;
$checkmark_active-2x-total-width: 344px;
$checkmark_active-2x-total-height: 310px;
$checkmark_active-2x-image: '/images/spritesheet-2x.png';
$checkmark_active-2x: 272px 0px -272px 0px 72px 72px 344px 310px '/images/spritesheet-2x.png';
$checkmark_hover-2x-x: 172px;
$checkmark_hover-2x-y: 184px;
$checkmark_hover-2x-offset-x: -172px;
$checkmark_hover-2x-offset-y: -184px;
$checkmark_hover-2x-width: 76px;
$checkmark_hover-2x-height: 76px;
$checkmark_hover-2x-total-width: 344px;
$checkmark_hover-2x-total-height: 310px;
$checkmark_hover-2x-image: '/images/spritesheet-2x.png';
$checkmark_hover-2x: 172px 184px -172px -184px 76px 76px 344px 310px '/images/spritesheet-2x.png';
$clock-2x-x: 102px;
$clock-2x-y: 270px;
$clock-2x-offset-x: -102px;
$clock-2x-offset-y: -270px;
$clock-2x-width: 36px;
$clock-2x-height: 36px;
$clock-2x-total-width: 344px;
$clock-2x-total-height: 310px;
$clock-2x-image: '/images/spritesheet-2x.png';
$clock-2x: 102px 270px -102px -270px 36px 36px 344px 310px '/images/spritesheet-2x.png';
$create_album-2x-x: 0px;
$create_album-2x-y: 184px;
$create_album-2x-offset-x: 0px;
$create_album-2x-offset-y: -184px;
$create_album-2x-width: 84px;
$create_album-2x-height: 84px;
$create_album-2x-total-width: 344px;
$create_album-2x-total-height: 310px;
$create_album-2x-image: '/images/spritesheet-2x.png';
$create_album-2x: 0px 184px 0px -184px 84px 84px 344px 310px '/images/spritesheet-2x.png';
$create_album_hover-2x-x: 86px;
$create_album_hover-2x-y: 184px;
$create_album_hover-2x-offset-x: -86px;
$create_album_hover-2x-offset-y: -184px;
$create_album_hover-2x-width: 84px;
$create_album_hover-2x-height: 84px;
$create_album_hover-2x-total-width: 344px;
$create_album_hover-2x-total-height: 310px;
$create_album_hover-2x-image: '/images/spritesheet-2x.png';
$create_album_hover-2x: 86px 184px -86px -184px 84px 84px 344px 310px '/images/spritesheet-2x.png';
$create_album_pressed-2x-x: 184px;
$create_album_pressed-2x-y: 90px;
$create_album_pressed-2x-offset-x: -184px;
$create_album_pressed-2x-offset-y: -90px;
$create_album_pressed-2x-width: 84px;
$create_album_pressed-2x-height: 84px;
$create_album_pressed-2x-total-width: 344px;
$create_album_pressed-2x-total-height: 310px;
$create_album_pressed-2x-image: '/images/spritesheet-2x.png';
$create_album_pressed-2x: 184px 90px -184px -90px 84px 84px 344px 310px '/images/spritesheet-2x.png';
$escape_photoview-2x-x: 204px;
$escape_photoview-2x-y: 270px;
$escape_photoview-2x-offset-x: -204px;
$escape_photoview-2x-offset-y: -270px;
$escape_photoview-2x-width: 32px;
$escape_photoview-2x-height: 32px;
$escape_photoview-2x-total-width: 344px;
$escape_photoview-2x-total-height: 310px;
$escape_photoview-2x-image: '/images/spritesheet-2x.png';
$escape_photoview-2x: 204px 270px -204px -270px 32px 32px 344px 310px '/images/spritesheet-2x.png';
$new_album_plus-2x-x: 0px;
$new_album_plus-2x-y: 0px;
$new_album_plus-2x-offset-x: 0px;
$new_album_plus-2x-offset-y: 0px;
$new_album_plus-2x-width: 182px;
$new_album_plus-2x-height: 182px;
$new_album_plus-2x-total-width: 344px;
$new_album_plus-2x-total-height: 310px;
$new_album_plus-2x-image: '/images/spritesheet-2x.png';
$new_album_plus-2x: 0px 0px 0px 0px 182px 182px 344px 310px '/images/spritesheet-2x.png';
$share_icon-2x-x: 0px;
$share_icon-2x-y: 270px;
$share_icon-2x-offset-x: 0px;
$share_icon-2x-offset-y: -270px;
$share_icon-2x-width: 48px;
$share_icon-2x-height: 40px;
$share_icon-2x-total-width: 344px;
$share_icon-2x-total-height: 310px;
$share_icon-2x-image: '/images/spritesheet-2x.png';
$share_icon-2x: 0px 270px 0px -270px 48px 40px 344px 310px '/images/spritesheet-2x.png';
$trashcan-2x-x: 272px;
$trashcan-2x-y: 74px;
$trashcan-2x-offset-x: -272px;
$trashcan-2x-offset-y: -74px;
$trashcan-2x-width: 42px;
$trashcan-2x-height: 48px;
$trashcan-2x-total-width: 344px;
$trashcan-2x-total-height: 310px;
$trashcan-2x-image: '/images/spritesheet-2x.png';
$trashcan-2x: 272px 74px -272px -74px 42px 48px 344px 310px '/images/spritesheet-2x.png';
$trashcan_button-2x-x: 184px;
$trashcan_button-2x-y: 0px;
$trashcan_button-2x-offset-x: -184px;
$trashcan_button-2x-offset-y: 0px;
$trashcan_button-2x-width: 86px;
$trashcan_button-2x-height: 88px;
$trashcan_button-2x-total-width: 344px;
$trashcan_button-2x-total-height: 310px;
$trashcan_button-2x-image: '/images/spritesheet-2x.png';
$trashcan_button-2x: 184px 0px -184px 0px 86px 88px 344px 310px '/images/spritesheet-2x.png';
$upload_hover_icon-2x-x: 140px;
$upload_hover_icon-2x-y: 270px;
$upload_hover_icon-2x-offset-x: -140px;
$upload_hover_icon-2x-offset-y: -270px;
$upload_hover_icon-2x-width: 30px;
$upload_hover_icon-2x-height: 34px;
$upload_hover_icon-2x-total-width: 344px;
$upload_hover_icon-2x-total-height: 310px;
$upload_hover_icon-2x-image: '/images/spritesheet-2x.png';
$upload_hover_icon-2x: 140px 270px -140px -270px 30px 34px 344px 310px '/images/spritesheet-2x.png';
$upload_icon-2x-x: 172px;
$upload_icon-2x-y: 270px;
$upload_icon-2x-offset-x: -172px;
$upload_icon-2x-offset-y: -270px;
$upload_icon-2x-width: 30px;
$upload_icon-2x-height: 34px;
$upload_icon-2x-total-width: 344px;
$upload_icon-2x-total-height: 310px;
$upload_icon-2x-image: '/images/spritesheet-2x.png';
$upload_icon-2x: 172px 270px -172px -270px 30px 34px 344px 310px '/images/spritesheet-2x.png';
$user_toggle-2x-x: 272px;
$user_toggle-2x-y: 168px;
$user_toggle-2x-offset-x: -272px;
$user_toggle-2x-offset-y: -168px;
$user_toggle-2x-width: 52px;
$user_toggle-2x-height: 40px;
$user_toggle-2x-total-width: 344px;
$user_toggle-2x-total-height: 310px;
$user_toggle-2x-image: '/images/spritesheet-2x.png';
$user_toggle-2x: 272px 168px -272px -168px 52px 40px 344px 310px '/images/spritesheet-2x.png';
$user_toggle_hover-2x-x: 272px;
$user_toggle_hover-2x-y: 210px;
$user_toggle_hover-2x-offset-x: -272px;
$user_toggle_hover-2x-offset-y: -210px;
$user_toggle_hover-2x-width: 52px;
$user_toggle_hover-2x-height: 40px;
$user_toggle_hover-2x-total-width: 344px;
$user_toggle_hover-2x-total-height: 310px;
$user_toggle_hover-2x-image: '/images/spritesheet-2x.png';
$user_toggle_hover-2x: 272px 210px -272px -210px 52px 40px 344px 310px '/images/spritesheet-2x.png';
$user_toggle_pressed-2x-x: 50px;
$user_toggle_pressed-2x-y: 270px;
$user_toggle_pressed-2x-offset-x: -50px;
$user_toggle_pressed-2x-offset-y: -270px;
$user_toggle_pressed-2x-width: 50px;
$user_toggle_pressed-2x-height: 40px;
$user_toggle_pressed-2x-total-width: 344px;
$user_toggle_pressed-2x-total-height: 310px;
$user_toggle_pressed-2x-image: '/images/spritesheet-2x.png';
$user_toggle_pressed-2x: 50px 270px -50px -270px 50px 40px 344px 310px '/images/spritesheet-2x.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
