.toolbar-item {
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  margin: 0 20px;

  &:hover {
    .toolbar-item-text {
      color: $highlight-color-2;
    }
  }
}



.toolbar-icon {
  vertical-align: middle;
  display: inline-block;
  margin-right: 6px;
  cursor: pointer;
}

.toolbar-divider {
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 40px;
  border-right: 1px $subtle-highlight-color solid;
}

.toolbar-item-text {
  color: $highlight-color;
  vertical-align: -2px;
  cursor: pointer;
}

.toolbar-share-icon {
  @include sprite-retina($zip_hover, $zip_hover-2x);
}

.toolbar-album-icon {
  @include sprite-retina($zip_hover, $zip_hover-2x);
}

.toolbar-trash-icon {
  @include sprite-retina($trashcan, $trashcan-2x);
}

.toolbar-download-icon {
  @include sprite-retina($zip_hover, $zip_hover-2x);
}

.toolbar-zip-icon {
  @include sprite-retina($zip_normal, $zip_normal-2x);
  margin-right: 15px;
  margin-bottom: 4px;

  li:hover & {
    @include sprite-retina($zip_hover, $zip_hover-2x);
  }
}