$lightbox-color: rgba(0,0,0,0.15);
$selection-color: rgb(102,200,237);
$bg-color-accent: rgb(248,249,244);
$highlight-color: rgb(252,91,45);
$subtle-highlight-color: rgb(237,237,237);
$button-text-color: rgb(161,162,157);
$default-text-color: rgb(70,70,70);

$convo-height: 88px;
$convo-icon-size: 50px;
$convo-highlight-border-width: 5px;
$convo-padding: ($convo-height - $convo-icon-size) / 2;
$left-col-width: 375px;
$left-col-margin: 16px;
$left-col-outer-width: $left-col-width + $left-col-margin;
$nav-height: 74px;
$convo-extra-left-padding: 0;
$convo-left-padding: $convo-padding + $convo-extra-left-padding - $convo-highlight-border-width;
$convo-text-width: $left-col-width - $convo-padding - $convo-left-padding - $convo-highlight-border-width - $convo-icon-size - 20px;
$post-left-margin: 75px;
$post-icon-size: $convo-icon-size;
