$lightbox-color: rgba(0,0,0,0.15);
$selection-color: rgb(102,200,237);
$bg-color-accent: rgb(248,249,244);
$highlight-color: rgb(252,91,45);
$subtle-highlight-color: rgb(216,216,216);
$button-text-color: rgb(161,162,157);
$default-text-color: rgb(82,82,82);

$convo-height: 88px;
$convo-icon-size: 50px;
$convo-highlight-border-width: 5px;
$convo-padding: ($convo-height - $convo-icon-size) / 2;

$left-main-max-width: 1035px;
$right-col-user-dropdown-ideal-width: 300px;
$user-dropdown-breakpoint: $left-main-max-width + $right-col-user-dropdown-ideal-width;
$main-col-max-width: 660px;
$main-col-horiz-padding: 16px;
$main-col-max-inner-width: $main-col-max-width - ($main-col-horiz-padding * 2);
$main-col-right-inner-edge: $left-main-max-width - $main-col-horiz-padding;
$left-col-max-width: $left-main-max-width - $main-col-max-width;
$left-col-max-outer-width: $left-col-max-width + $main-col-horiz-padding;

$main-col-width: ($main-col-max-width / $left-main-max-width) * 100%;
$main-col-inner-width: ($main-col-max-inner-width / $left-main-max-width) * 100%;
$left-col-width: ($left-col-max-width / $left-main-max-width) * 100%;
$left-col-margin: ($main-col-horiz-padding / $left-main-max-width) * 100%;
$left-col-outer-width: $left-col-width + $left-col-margin;

$nav-height: 74px;
$convo-extra-left-padding: 0;
$convo-left-padding: $convo-padding + $convo-extra-left-padding - $convo-highlight-border-width;
$post-left-margin: 75px;
$post-icon-size: $convo-icon-size;
