$lightbox-color: rgba(0,0,0,0.25);
$selection-color: rgb(102,200,237);
$bg-color-accent: rgb(241,241,241);
$bg-color-accent-light: rgb(249,249,249);
$highlight-color: rgb(249,91,46);
$highlight-color-2: rgb(222,81,50);
$highlight-color-3: rgb(250,108,73);
$highlight-color-4: rgb(249,92,56);
$highlight-color-accent: rgb(236,119,91);
$subtle-highlight-color: rgb(211,211,211);
$subtler-highlight-color: rgb(233,233,233);
$button-text-color: rgb(161,162,157);
$default-text-color: rgb(68,68,68);
$alternate-button-border-color: rgb(208,208,208);
$alternate-button-color: rgb(253,253,253);
$alternate-button-text-color: rgb(153,148,162);
$opaque-lightbox-color: rgb(55,53,54);
$disabled-button-color: rgb(211,211,211);
$disabled-button-color-2: rgb(219,219,219);
$form-label-color: rgb(153,153,153);
$disabled-input-text-color: rgb(185,185,185);
$form-selection-color: rgb(120,192,224);
$form-underline-color: rgb(233,233,233);

$alert-error-bg: rgb(255,239,235);
$alert-error-color: $highlight-color-4;

$alert-success-bg: rgb(226,250,234);
$alert-success-color: rgb(73,210,124);

$convo-height: 88px;
$default-avatar-size: 50px;
$convo-highlight-border-width: 5px;
$convo-padding: ($convo-height - $default-avatar-size) / 2;
$convo-dot-size: 14px;
$convo-right-padding: ($convo-padding * 2) + $convo-dot-size;

$main-col-horiz-padding: 16px;

$left-col-width: 33%;
$main-col-width: 100% - $left-col-width;

$left-col-max-width: 400px;
$left-col-fixed-breakpoint-width: $left-col-max-width * (100% / $left-col-width);

$post-left-margin: 75px;
$post-icon-size: $default-avatar-size;

$album-width: 236px;
$album-padding: 20px;
$album-margin: 28px;
$album-width-small: 216px;

// NOTE: 186px and 16px are used as a constants in JS. If you change these, change those.
$photo-width: 186px;
$photo-margin: 16px;
$photo-width-small: 170px;

$post-photo-width: 236px;

$logo-height: 77px;
$logo-width: 95px;
$logo-width-mobile-1: 77px;

$button-height: 40px;

$settings-avatar-width: 100px;

$breakpoint-desktop-1: "only screen and (min-width : 1024px)";
$breakpoint-desktop-2: "only screen and (min-width : 1124px)";
$breakpoint-desktop-3: "only screen and (min-width : 1440px)";
$breakpoint-mobile-2: "only screen and (min-width : 512px)";
$left-col-fixed-breakpoint: "only screen and (min-width: #{$left-col-fixed-breakpoint-width})";

$nbsp: '\00a0';

@mixin subtle-gradient {
  /* autoprefixer: off */
  background: white;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(251,251,251,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 100%);
}

@mixin subtle-gradient-2 {
  /* autoprefixer: off */
  background: white;
  background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(249,249,249,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,251,251,1)), color-stop(100%, rgba(249,249,249,1)));
  background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(249,249,249,1) 100%);
  background: -o-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(249,249,249,1) 100%);
  background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(249,249,249,1) 100%);
}

@mixin full-screen {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
}