$lightbox-color: rgba(0,0,0,0.25);
$selection-color: rgb(102,200,237);
$bg-color-accent: rgb(241,241,241);
$highlight-color: rgb(249,91,46);
$highlight-color-2: rgb(222,81,50);
$highlight-color-3: rgb(250,108,73);
$highlight-color-4: rgb(249,92,56);
$highlight-color-accent: rgb(236,119,91);
$subtle-highlight-color: rgb(211,211,211);
$button-text-color: rgb(161,162,157);
$default-text-color: rgb(68,68,68);
$alternate-button-border-color: rgb(208,208,208);
$alternate-button-color: rgb(253,253,253);
$alternate-button-text-color: rgb(153,148,162);
$opaque-lightbox-color: rgb(55,53,54);
$disabled-button-color: rgb(211,211,211);
$disabled-button-color-2: rgb(219,219,219);

$alert-error-bg: rgb(255,239,235);
$alert-error-color: $highlight-color-4;

$convo-height: 88px;
$convo-icon-size: 50px;
$convo-highlight-border-width: 5px;
$convo-padding: ($convo-height - $convo-icon-size) / 2;

$left-main-max-width: 1035px;
$right-col-user-dropdown-ideal-width: 300px;
$user-dropdown-breakpoint: $left-main-max-width + $right-col-user-dropdown-ideal-width;
$main-col-max-width: 660px;
$main-col-horiz-padding: 16px;
$main-col-max-inner-width: $main-col-max-width - ($main-col-horiz-padding * 2);
$main-col-right-inner-edge: $left-main-max-width - $main-col-horiz-padding;
$left-col-max-width: $left-main-max-width - $main-col-max-width;
$left-col-max-outer-width: $left-col-max-width + $main-col-horiz-padding;

$main-col-width: ($main-col-max-width / $left-main-max-width) * 100%;
$main-col-inner-width: ($main-col-max-inner-width / $left-main-max-width) * 100%;
$left-col-width: ($left-col-max-width / $left-main-max-width) * 100%;
$left-col-margin: ($main-col-horiz-padding / $left-main-max-width) * 100%;
$left-col-outer-width: $left-col-width + $left-col-margin;

$convo-extra-left-padding: 0;
$convo-left-padding: $convo-padding + $convo-extra-left-padding - $convo-highlight-border-width;
$post-left-margin: 75px;
$post-icon-size: $convo-icon-size;

$album-width: 236px;
$album-padding: 20px;
$album-margin: 28px;

$photo-width: 186px;
$photo-margin: 16px;

$logo-height: 77px;
$logo-width: 95px;

$breakpoint-desktop-1: "only screen and (min-width : 1024px)";
$breakpoint-desktop-2: "only screen and (min-width : 1124px)";
$breakpoint-mobile-2: "only screen and (min-width : 512px)";
