/* =============================================================================
   Global styles
   ========================================================================== */

/*
 * NOTE: In iOS versions 4 and below position fixed was not supported. In versions 5 & 6 it was supported, however
 * jQuery's scrollTo animation notoriously fucked it up often. Mobile Safari finally got it's shit together with
 * iOS 7. Fixed position works correctly. If you're interested in supporting older browsers and a fixed header let
 * me know and I'll show the Frankenstein code required to make it work. I have absolutely no idea about the history
 * or status of fixed positioning support on Android or Windows phones. -- Jesse
*/

@import 'main';

body {
  line-height: 1.5;
}

header {
  border: 1px solid rgb(216, 216, 216);
  height: 72px;
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
}

[role="main"],
header > div {
  margin: 0 auto;
  max-width: 960px;
  padding: 1em;
}

header > div {
  padding: 0 1em;
}

[role="main"] {
  margin-top: 72px;
}

li > ol > li > ol > li {
  list-style-type: lower-alpha;
}

li > ol > li > ol > li > ol > li{
  list-style-type: lower-roman;
}

/* =============================================================================
   Media query specific styles
   ========================================================================== */

/*
 * NOTE: I'm using `em` here instead of pixel with because it's 2014 and everything is changing sizes all of the time.
 * Best to have relative breakpoints. Assuming 1em == 16px.
 */

/*
 * Approximately 300px breakpoint
 */
@media all and (min-width: 18.75em) {}

/*
 * Approximately 400px breakpoint
 */
@media all and (min-width: 25em) {}

/*
 * Approximately 600px breakpoint
 */
@media all and (min-width: 37.5em) {}

/*
 * Approximately 800px breakpoint
 */
@media all and (min-width: 50em) {}

/*
 * Approximately 920px breakpoint
 */
@media all and (min-width: 57.5em) {}

/*
 * Approximately 1044px breakpoint
 */
@media all and (min-width: 65.25em) {}
