@import 'bourbon/app/assets/stylesheets/_bourbon';
@import 'neat/app/assets/stylesheets/_neat';
@import 'normalize-scss/_normalize';

// $include-html-classes: false;
$topbar-bg-color: #eee;

@import 'foundation/scss/foundation/components/alert-boxes';
@import 'foundation/scss/foundation/components/grid';
@import 'foundation/scss/foundation/components/forms';
@import 'foundation/scss/foundation/components/top-bar';

@import '_spinner';

$lightbox-color: rgba(0,0,0,0.15);
$selection-color: rgb(102,200,237);
$bg-color-accent: rgb(248,249,244);
$highlight-color: rgb(252,91,45);

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.noscroll { overflow: hidden; }

.top-bar {
  li {
    a.active {
      color: #666;
    }
  }
}

.wrapper {
  @include outer-container;

  margin-bottom: 1.5em;

  .primary {
    @include span-columns(8);

    background: orange;
    padding: 1em;
    height: 20em;
  }

  .secondary {
    @include span-columns(4);

    background: skyblue;
    padding: 1em;
    height: 20em;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

img.detail {
  position: absolute;

  max-height: 90%;
  max-width: 90%;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  margin: auto;

  opacity: 0;
  width: 0;
  transition: opacity .25s ease-in-out;
}

.lightbox {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 99;
  background: $lightbox-color;

  // FIXME: these arrows don't position correctly for large horizontal:vertical ratios or mobile browsers
  .left-arrow, .right-arrow {
    height: 100px;
    width: 5%;
    top: 0;
    bottom: 0;
    position: absolute;
    font-size: 10em;
    margin: auto 1em;
    line-height: 50%;
  }

  .left-arrow {
    &::after {
      content: '<';
    }

    left: 0;
  }

  .right-arrow {
    &::after {
      content: '>';
    }

    right: 0;
  }

  .scrollable {
    max-height: 90%;
    width: 50%;
    overflow-y: scroll;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    position: absolute;
  }
}

.album {
  position: relative;
  background-color: #666;
  height: 100px;
  background-size: 100% auto;
  background-position: 50%;
  opacity: 0.9;
  transition: opacity .1s ease-in-out;

  &:hover {
    opacity: 1;
  }

  span {
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 1);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
  }
}

.gallery-photo, .thumb-photo {
  height: 200px;
  width: 200px;
  margin: 2em 0 0 2em;

  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  cursor: pointer;
  overflow: hidden;

  .select {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    // TODO: replace with sprite
    background-image: url(/images/ios7-checkmark.svg);
    background-size: 50px 50px;
    cursor: pointer;

    &:hover, &.selected {
      // TODO: replace with sprite
      background-image: url(/images/ios7-checkmark-hover.svg);
    }
  }
}

.thumb-photo {
  height: 150px;
  width: 150px;
}

// TODO: delete me
input.temp {
  // margin: 10px;
}

a .convo {
  color: black;
}

.convo, .post-message {
  padding: 10px;
  // margin: 10px;
}

.convo {
  background: white;
}

.post-message {
  background: yellow;
}

.mini-nav {
  background: $bg-color-accent;
  position: fixed;
  z-index: 5;
  width: 100%;
  max-width: 1000px;

  ul {
    margin: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    padding: 28px 0 23px;
    width: 150px;
    margin: 0 40px;
    border-bottom: 5px $bg-color-accent solid;
    transition: border-bottom-color .25s ease-in-out;

    &.active {
      border-bottom: 5px $highlight-color solid;

      a {
        color: $highlight-color;
      }
    }

    a {
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: rgb(161,162,157);
      transition: color .25s ease-in-out;
      letter-spacing: 2px;

      // Enlarges hover/click target
      padding: 25px;

      &:hover {
        color: $highlight-color;
      }
    }
  }
}

.footer-nav {
  border-top: 1px solid rgb(237,237,237);
  background: white;
  position: fixed;
  z-index: 5;
  width: 100%;
  max-width: 1000px;
  margin-top: 578px;
  height: 72px;
  padding-left: 60px;
  padding-right: 20px;

  .sub-info {
    line-height: 72px;
    height: 72px;
  }

  button {
    float: right;
  }
}

.sub-info {
  color: $highlight-color;
}

.nav-filler {
  height: 72px;
  width: 100%;
}

.photo-picker {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  height: 50%;
  width: 100%;
  max-width: 1000px;
  min-height: 650px;
  background: white;
  overflow: scroll;
}


