@import 'bourbon/app/assets/stylesheets/_bourbon';
@import 'neat/app/assets/stylesheets/_neat';
@import 'normalize-scss/_normalize';

// $include-html-classes: false;
$topbar-bg-color: #eee;

@import 'foundation/scss/foundation/components/alert-boxes';
@import 'foundation/scss/foundation/components/grid';
@import 'foundation/scss/foundation/components/forms';
@import 'foundation/scss/foundation/components/top-bar';

@import '_spinner';

$lightbox-color: rgba(255, 255, 255, 0.9);
$selection-color: rgb(102, 200, 237);

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.top-bar {
  li {
    a.active {
      color: #666;
    }
  }
}

.wrapper {
  @include outer-container;

  margin-bottom: 1.5em;

  .primary {
    @include span-columns(8);

    background: orange;
    padding: 1em;
    height: 20em;
  }

  .secondary {
    @include span-columns(4);

    background: skyblue;
    padding: 1em;
    height: 20em;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.lightbox {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 99;
  text-align: center;
  background: $lightbox-color;

  img {
    position: absolute;

    max-height: 90%;
    max-width: 90%;

    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    margin: auto;

    opacity: 0;
    transition: opacity .25s ease-in-out;
  }

  // FIXME: these arrows don't position correctly for large horizontal:vertical ratios or mobile browsers
  .left-arrow, .right-arrow {
    height: 100px;
    width: 5%;
    top: 0;
    bottom: 0;
    position: absolute;
    font-size: 10em;
    margin: auto 1em;
    line-height: 50%;
  }

  .left-arrow {
    &::after {
      content: '<';
    }

    left: 0;
  }

  .right-arrow {
    &::after {
      content: '>';
    }

    right: 0;
  }

  .scrollable {
    max-height: 90%;
    width: 50%;
    overflow-y: scroll;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    position: absolute;
  }
}

.album {
  position: relative;
  background-color: #666;
  height: 100px;
  background-size: 100% auto;
  background-position: 50%;
  opacity: 0.9;
  transition: opacity .1s ease-in-out;

  &:hover {
    opacity: 1;
  }

  span {
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 1);
    color: white;
    position: absolute;
    bottom: 0;
    padding: 1em;
  }
}

.gallery-photo {
  height: 200px;
  width: 200px;
  margin: 2em 0 0 2em;

  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  cursor: pointer;
  overflow: hidden;

  // &:hover, &:focus, &:active {
  //   -webkit-transform: scale(1.1);
  //   transform: scale(1.1);
  // }

  .select {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    // TODO: replace with sprite
    background-image: url(/images/ios7-checkmark.svg);
    background-size: 50px 50px;
    cursor: pointer;

    &:hover, &.selected {
      // TODO: replace with sprite
      background-image: url(/images/ios7-checkmark-hover.svg);
    }
  }
}
