@import 'bourbon/app/assets/stylesheets/_bourbon';
@import 'neat/app/assets/stylesheets/_neat';
@import 'normalize-scss/_normalize';

// $include-html-classes: false;
$include-html-button-classes: false;
$topbar-bg-color: #eee;

@import 'foundation/scss/foundation/components/alert-boxes';
@import 'foundation/scss/foundation/components/grid';
@import 'foundation/scss/foundation/components/forms';
// @import 'foundation/scss/foundation/components/top-bar';

@import 'spritesheet';
@import 'spritesheet-2x';

// lifted from https://github.com/Ensighten/spritesmith/issues/19
@mixin sprite-background-size($sprite) {
  background-size: nth($sprite, 7) nth($sprite, 8);
}

@mixin sprite-retina($sprite, $sprite2x) {
  @include sprite($sprite);

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5), screen and (min--moz-device-pixel-ratio: 1.5) {
    @include sprite-image($sprite2x);
    @include sprite-background-size($sprite);
  }
}

@import 'vars';
@import 'fonts';
@import 'buttons';
@import 'spinner';
@import 'nav';
@import 'conversations';
@import 'photos';
@import 'select2';
@import 'share';
@import 'alerts';
@import 'upload';
@import 'wizard';
@import 'homepage';
@import 'footer';

body {
  background: white;
  font-family: Brandon Text, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $default-text-color;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  box-shadow: none;
  border-color: $subtle-highlight-color;

  &:focus {
    box-shadow: none;
    background: white;
    border-color: $subtle-highlight-color;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: 0;
  color: $highlight-color;
}

h2.highlighted {
  color: $highlight-color;
}

// Hack to fix Ember's lack of support for action helpers in iOS
[data-ember-action] {
  cursor: pointer;
}

.noscroll { overflow: hidden; }

.top-bar {
  li {
    a.active {
      color: #666;
    }
  }
}

.wrapper {
  @include outer-container;

  margin-bottom: 1.5em;

  .primary {
    @include span-columns(8);

    background: orange;
    padding: 1em;
    height: 20em;
  }

  .secondary {
    @include span-columns(4);

    background: skyblue;
    padding: 1em;
    height: 20em;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

img.detail {
  position: absolute;

  max-height: 90%;
  max-width: 80%;

  bottom: 0;
  right: 0;
  // left: -25%; // v1.1
  left: 0;
  top: 0;

  margin: auto;

  opacity: 0;
  width: 0;
  transition: opacity .25s ease-in-out;
}

.photo-sidebar {
  position: absolute;
  width: 25%;
  height: 100%;

  background: $bg-color-accent;
  right: 0;
  top: 0;

  padding-left: 2.5%;

  .description {
    padding: 6% 10% 6% 0%;
    border-bottom: 1px solid $subtle-highlight-color;
    line-height: 18px;
  }

  .owner {
    padding: 6% 10% 6% 0%;
    border-bottom: 1px solid $subtle-highlight-color;
  }

  .name {
    margin-left: 60px;
    margin-top: 9px;
    font-weight: 600;
    font-size: 18px;
    color: $highlight-color;
  }

  .date {
    margin-left: 60px;
    margin-top: 4px;
    font-weight: 600;
    font-size: 14px;
  }

  .icon {
    height: $convo-icon-size;
    width: $convo-icon-size;
    border-radius: $convo-icon-size / 2;
    background: $subtle-highlight-color;
    float: left;
  }
}

.lightbox {
  z-index: 50;
}

.opaque-lightbox {
  z-index: 99;
}

.lightbox, .opaque-lightbox {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;

  .left-arrow, .right-arrow {
    line-height: 100vh;
    font-size: 5vw;
  }

  .left-arrow, .right-arrow {
    height: 100%;
    width: 5%;
    bottom: 0;
    position: absolute;
  }

  .left-arrow, .right-arrow, .close {
    opacity: 0.85;
    transition: opacity 0.15s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .left-arrow {
    &::after {
      content: '';
      position: absolute;
      display: block;
      @include sprite-retina($caret_left, $caret_left-2x);
      top: 50%;
      left: 50%;
      margin-top: -$caret_left-height / 2;
      margin-left: -$caret_left-width / 2;
    }

    left: 2.5%;

    @media #{$breakpoint-mobile-2} {
      left: 0;
    }
  }

  .right-arrow {
    &::after {
      content: '';
      position: absolute;
      display: block;
      @include sprite-retina($caret_right, $caret_right-2x);
      top: 50%;
      left: 50%;
      margin-top: -$caret_right-height / 2;
      margin-left: -$caret_right-width / 2;
    }

    right: 2.5%;

    @media #{$breakpoint-mobile-2} {
      right: 0;
    }
  }

  .close {
    position: absolute;
    width: 5%;
    height: 5vw;
    vertical-align: middle;
    right: 2.5%;
    top: 2.5%;

    @media #{$breakpoint-mobile-2} {
      right: 0;
      top: 0;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      @include sprite-retina($escape_photoview, $escape_photoview-2x);
      margin-left: -$escape_photoview-width / 2;
      margin-top: -$escape_photoview-height / 2;
      left: 50%;
      top: 50%;
    }
  }
}

.lightbox {
  background: $lightbox-color;

  &.transparent {
    background: none;
  }
}

.opaque-lightbox {
  background: $opaque-lightbox-color;
}

.album {
  position: relative;
  background-color: $subtle-highlight-color;
  height: 100px;
  background-size: 100% auto;
  background-position: 50%;
  transition: opacity .1s ease-in-out;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }
}


.large-photo {
  img {
    max-height: 400px;
  }
}

.gallery-photo, .thumb-photo {
  height: 200px;
  width: 200px;
  margin: 2em 0 0 2em;

  display: inline-block;
  vertical-align: top;

  overflow: hidden;
}

.gallery-photo, .thumb-photo, .photo {
  .select {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    cursor: pointer;

    &:hover, &.selected {
      @include sprite-retina($checkmark_active, $checkmark_active-2x);
    }
  }

  .remove-photo-icon {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    cursor: pointer;
    display: none;
    @include sprite-retina($delete_photo, $delete_photo-2x);
  }
}

.gallery-photo, .thumb-photo, .selection-mode .photo, .photo:hover, .photo.selection-mode, .picker-content .photo {
  .select {
    @include sprite-retina($checkmark_hover, $checkmark_hover-2x);

    &:hover, &.selected {
      @include sprite-retina($checkmark_active, $checkmark_active-2x);
    }
  }

  .remove-photo-icon {
    display: block;
  }
}

.photo {
  .select {
    background-image: none;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    width: $photo-width;
    height: $photo-width;
    top: 0;
    left: 0;
    border: 6px solid $highlight-color;
    transition: opacity 0.15s linear;
    opacity: 0;
    z-index: 1;
  }

  &.selected::before {
    opacity: 1;
  }
}

.album {
  width: $album-width;
  height: $album-width;
  margin: 0 $album-margin $album-margin 0;

  &::after {
    content: '';
    box-shadow: inset 0px -86px 44px -30px rgba(0, 0, 0, 0.75);
    height: $album-width;
    width: $album-width;
    display: block;
    position: absolute;
    top: 0;
  }

  &::before {
    width: $album-width;
    height: $album-width;
  }


  .count, .title {
    position: absolute;
    color: white;
    z-index: 4;
    left: $album-padding;
    max-width: #{$album-width - ($album-padding * 2)};
    word-wrap: break-word;
    font-weight: 600;
  }

  .title {
    bottom: 40px;
    font-size: 20px;
  }

  .count {
    bottom: 20px;
    font-size: 14px;

    &:before {
      content: '';
      display: inline-block;
      @include sprite-retina($album_icon, $album_icon-2x);
      margin-bottom: -3px;
      margin-right: 5px;
    }
  }
}

.gallery-photo {
  cursor: pointer;
}

.thumb-photo {
  height: 150px;
  width: 150px;
}

@keyframes fadeinout {
  0%      { opacity: 0.6; }
  50%     { opacity: 0.3; }
  100%    { opacity: 0.6; }
}

// TODO: choose more meaningful name
.sub-info {
  color: $highlight-color;
}

.nav-filler {
  height: $logo-height;
  width: 100%;
  transition: height 300ms ease-in-out;

  &.collapsed {
    height: 0px;
  }
}

.photo-picker, .album-picker, .photo-picker-modal, .upload-modal {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  height: 50%;
  width: 100%;

  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
}

.photo-picker {
  max-width: 1000px;
}

.album-picker {
  max-width: ($album-width * 3) + ($album-margin * 4);
}

.album-picker {
  .sub-top-bar {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-76px);

    input {
      border: 2px solid $highlight-color;
    }
  }

  &.create-mode {
    .sub-top-bar {
      transform: translateY(0);
    }

    .nav-filler {
      height: $logo-height + 76px;
    }
  }
}

.upload-modal {
  max-width: 848px;
}

.photo-picker {
  min-height: 650px;
  background: white;
  overflow: scroll;
}

$picker-content-height: ($album-width * 1.5) + (2 * $album-margin);
$upload-modal-content-height: ($photo-width * 2) + ($photo-margin) + ($album-margin * 2);

.album-picker, .photo-picker-modal {
  border-radius: 3px;
  min-height: #{$picker-content-height + ($logo-height * 2)};
  background: $bg-color-accent;
}

.upload-modal {
  border-radius: 3px;
  background: $bg-color-accent;
  min-height: #{$upload-modal-content-height + ($logo-height * 2)};

  .picker-content {
    height: $upload-modal-content-height;
  }
}

.photo-picker-modal {
  max-width: 848px;

  &.has-input {
    .nav-filler {
      height: ($logo-height * 2) - 1px;
    }

    .picker-content {
      height: $picker-content-height - $logo-height + 1px;
    }
  }
}


.top-bar {
  border-radius: 3px 3px 0 0;
  background: white;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid $subtle-highlight-color;
  height: $logo-height;
  line-height: $logo-height;
  padding: 0 $album-margin;
  vertical-align: middle;
  z-index: 5;

  h3 {
    // FIXME: this is hack. Brandon font rides high.
    margin: 4px 0 0 0 ;
  }
}

.sub-top-bar {
  position: absolute;
  background: white;
  height: 76px;
  top: $logo-height;
  z-index: 4;
  width: 100%;
  padding: 0 $album-margin;
  border-bottom: 1px solid $subtle-highlight-color;

  input {
    margin-top: 19px;
  }
}

// TODO: Fix dupe with .top-bar
.bottom-bar {
  border-radius: 0 0 3px 3px;
  border-top: 1px solid $subtle-highlight-color;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  height: $logo-height;
  line-height: $logo-height;
  z-index: 5;
  padding: 0 $album-margin;
}

.picker-content {
  height: #{$picker-content-height};
  overflow-y: scroll;
  padding: $album-margin 0 0 $album-margin;
}

textarea {
  resize: none;
  min-height: 36px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/regwall_image_small.jpg);
}

.signin-container {
  padding: 40px 78px;
  position: absolute;
  top: 144px;
  background: white;
  width: 512px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;

  button {
    margin-top: 20px;
  }

  h2 {
    margin-bottom: 30px;
  }
}

.logo-with-text {
  height: 72px;
  width: 206px;
  background: url(/images/heirloom_logo.png) no-repeat;

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5), screen and (min--moz-device-pixel-ratio: 1.5) {
    background: url(/images/heirloom_logo@2x.png) no-repeat;
    background-size: 206px 72px;
  }
}
