@import 'bourbon/app/assets/stylesheets/_bourbon';
@import 'neat/app/assets/stylesheets/_neat';
@import 'normalize-scss/_normalize';

// $include-html-classes: false;
$include-html-button-classes: false;
$topbar-bg-color: #eee;

@import 'foundation/scss/foundation/components/alert-boxes';
@import 'foundation/scss/foundation/components/grid';
@import 'foundation/scss/foundation/components/forms';
// @import 'foundation/scss/foundation/components/top-bar';


@import 'vars';
@import 'fonts';
@import 'spinner';
@import 'nav';
@import 'conversations';
@import 'photos';
@import 'select2';
@import 'share';
@import 'upload';


body {
  background: white;
  font-family: Brandon Text, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $default-text-color;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: 0;
}

.noscroll { overflow: hidden; }

.top-bar {
  li {
    a.active {
      color: #666;
    }
  }
}

.wrapper {
  @include outer-container;

  margin-bottom: 1.5em;

  .primary {
    @include span-columns(8);

    background: orange;
    padding: 1em;
    height: 20em;
  }

  .secondary {
    @include span-columns(4);

    background: skyblue;
    padding: 1em;
    height: 20em;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

img.detail {
  position: absolute;

  max-height: 90%;
  max-width: 65%;

  bottom: 0;
  right: 0;
  left: -25%;
  top: 0;

  margin: auto;

  opacity: 0;
  width: 0;
  transition: opacity .25s ease-in-out;
}

.photo-sidebar {
  position: absolute;
  width: 25%;
  height: 100%;

  background: $bg-color-accent;
  right: 0;
  top: 0;

  padding-left: 2.5%;

  .description {
    padding: 6% 10% 6% 0%;
    border-bottom: 1px solid $subtle-highlight-color;
    line-height: 18px;
  }

  .owner {
    padding: 6% 10% 6% 0%;
    border-bottom: 1px solid $subtle-highlight-color;
  }

  .name {
    margin-left: 60px;
    margin-top: 9px;
    font-weight: 600;
    font-size: 18px;
    color: $highlight-color;
  }

  .date {
    margin-left: 60px;
    margin-top: 4px;
    font-weight: 600;
    font-size: 14px;
  }

  .icon {
    height: $convo-icon-size;
    width: $convo-icon-size;
    border-radius: $convo-icon-size / 2;
    background: $subtle-highlight-color;
    float: left;
  }
}

.lightbox, .opaque-lightbox {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 99;

  .left-arrow, .right-arrow {
    line-height: 100vh;
    font-size: 5vw;
  }

  .left-arrow, .right-arrow, .close {
    vertical-align: middle;
    height: 100%;
    width: 5%;
    top: 0;
    bottom: 0;
    position: absolute;

    text-align: center;
    color: $subtle-highlight-color;
    transition: color 0.15s;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  .left-arrow {
    &::after {
      content: '<';
    }

    left: 0;
  }

  .right-arrow {
    &::after {
      content: '>';
    }

    right: 25%;
  }

  .close {
    position: absolute;
    text-align: center;
    width: 5%;
    right: 25%;
    font-size: 3vw;
    height: 5%;
    vertical-align: middle;
    line-height: 5vw;

    &::after {
      content: 'x';
    }
  }
}

.lightbox {
  background: $lightbox-color;
}

.opaque-lightbox {
  background: $opaque-lightbox-color;
}

.album {
  position: relative;
  background-color: $subtle-highlight-color;
  height: 100px;
  background-size: 100% auto;
  background-position: 50%;
  transition: opacity .1s ease-in-out;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }
}


.large-photo {
  img {
    max-height: 400px;
  }
}

.gallery-photo, .thumb-photo {
  height: 200px;
  width: 200px;
  margin: 2em 0 0 2em;

  display: inline-block;
  vertical-align: top;

  overflow: hidden;
}

.gallery-photo, .thumb-photo, .photo {
  .select {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    // TODO: replace with sprite
    background-size: 36px 36px;
    cursor: pointer;

    &:hover, &.selected {
      // TODO: replace with sprite
      background-image: url(/images/ios7-checkmark-hover.svg);
    }
  }
}

.gallery-photo, .thumb-photo, .selection-mode .photo, .photo:hover {
  .select {
    background-image: url(/images/ios7-checkmark.svg);

    &:hover, &.selected {
      background-image: url(/images/ios7-checkmark-hover.svg);
    }
  }
}

.photo {
  .select {
    background-image: none;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    width: 186px;
    height: 186px;
    top: 0;
    left: 0;
    border: 6px solid $highlight-color;
    transition: opacity 0.15s linear;
    opacity: 0;
    z-index: 1;
  }

  &.selected::before {
    opacity: 1;
  }
}

.album {
  width: $album-width;
  height: $album-width;
  margin: 0 $album-margin $album-margin 0;

  &::after {
    content: '';
    box-shadow: inset 0px -86px 44px -30px rgba(0, 0, 0, 0.75);
    height: $album-width;
    width: $album-width;
    display: block;
    position: absolute;
    top: 0;
  }

  &::before {
    width: $album-width;
    height: $album-width;
  }


  .count, .title {
    position: absolute;
    color: white;
    z-index: 5;
    left: $album-padding;
    max-width: #{$album-width - ($album-padding * 2)};
    word-wrap: break-word;
    font-weight: 600;
  }

  .title {
    bottom: 40px;
    font-size: 20px;
  }

  .count {
    bottom: 20px;
    font-size: 14px;
  }
}

.gallery-photo {
  cursor: pointer;
}

.thumb-photo {
  height: 150px;
  width: 150px;
}

button {
  min-width: 130px;
  height: 36px;
  line-height: 36px;

  border-radius: 3px;
  background: $subtle-highlight-color;
  color: $button-text-color;
  border: 0;
  box-shadow: 0px 1px 0px 0px darken($subtle-highlight-color, 20%);

  opacity: 0.9;
  outline: 0;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;

  padding: 2px 14px 3px;

  &.take-action {
    background: $highlight-color;
    color: white;
    box-shadow: 0px 1px 0px 0px darken($highlight-color, 20%);
  }

  &.secondary {
    background: white;
    color: $alternate-button-text-color;
    // border: 1px solid $alternate-button-border-color;
    box-shadow: 0px 1px 0px 0px darken(white, 20%);
  }

  &:disabled {
    opacity: 0.3;
  }

  &:hover:enabled {
    opacity: 1
  }

  &:active:enabled {
    transform: translateY(1px);
    box-shadow: none;
  }
}

// Styles for headroom.js (retractable sticky post creation widget)
.headroom {
    transition: transform 500ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-110%);
}

// TODO: choose more meaningful name
.sub-info {
  color: $highlight-color;
}

.nav-filler {
  height: 73px;
  width: 100%;
}

.photo-picker, .album-picker, .photo-picker-modal, .upload-modal {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  height: 50%;
  width: 100%;

  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
}

.photo-picker, .album-picker, .photo-picker-modal {
  max-width: 1000px;
}

.upload-modal {
  max-width: 848px;
}

.photo-picker {
  min-height: 650px;
  background: white;
  overflow: scroll;
}

.album-picker, .photo-picker-modal, .upload-modal {
  border-radius: 3px;
  min-height: #{($album-width * 1.5) + (2 * $album-margin) + (73px * 2)};
  background: $bg-color-accent;
}

.photo-picker-modal {
  .nav-filler {
    height: 149px;
  }

  .picker-content {
    height: #{($album-width * 1.5) + (2 * $album-margin) - 76px};
  }
}

.top-bar {
  border-radius: 3px 3px 0 0;
  background: white;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid $subtle-highlight-color;
  height: 73px;
  line-height: 73px;
  padding: 0 $album-margin;
  vertical-align: middle;
  z-index: 5;

  h3 {
    // FIXME: this is hack. Brandon font rides high.
    margin: 4px 0 0 0 ;
  }
}

.sub-top-bar {
  position: absolute;
  background: white;
  height: 76px;
  top: 73px;
  z-index: 5;
  width: 100%;
  padding: 0 $album-margin;
  border-bottom: 1px solid $subtle-highlight-color;

  input {
    margin-top: 19px;
  }
}

// TODO: Fix dupe with .top-bar
.bottom-bar {
  border-radius: 0 0 3px 3px;
  border-top: 1px solid $subtle-highlight-color;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  height: 73px;
  line-height: 73px;
  z-index: 5;
  padding: 0 $album-margin;
}

.picker-content {
  height: #{($album-width * 1.5) + (2 * $album-margin)};
  overflow-y: scroll;
  padding: $album-margin 0 0 $album-margin;
}

textarea {
  resize: none;
  min-height: 36px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/regwall_image_small.jpg);
}

.signin-container {
  padding: 40px 78px;
  position: absolute;
  top: 144px;
  background: white;
  width: 512px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;

  button {
    margin-top: 20px;
  }

  h2 {
    margin-bottom: 30px;
  }
}
