@import 'bourbon/app/assets/stylesheets/_bourbon';
@import 'neat/app/assets/stylesheets/_neat';
@import 'normalize-scss/_normalize';

$topbar-bg-color: #eee;

@import 'spritesheet';
@import 'spritesheet-2x';

// lifted from https://github.com/Ensighten/spritesmith/issues/19
@mixin sprite-background-size($sprite) {
  background-size: nth($sprite, 7) nth($sprite, 8);
}

@mixin sprite-retina($sprite, $sprite2x) {
  @include sprite($sprite);

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5), screen and (min--moz-device-pixel-ratio: 1.5) {
    @include sprite-image($sprite2x);
    @include sprite-background-size($sprite);
  }
}

@import 'vars';

body {
  background: white;
  font-family: Brandon Text, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $default-text-color;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  box-shadow: none;
  margin: 0 0 1rem 0;
  font-size: 0.875rem;
  transition: border-color 0.15s ease-in-out;
  width: 100%;
  border: 1px solid $subtle-highlight-color;

  &:focus {
    box-shadow: none;
    background: white;
    border-color: $subtler-highlight-color;
    outline: 0;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: 0;
  color: $highlight-color;
}

h2.highlighted {
  color: $highlight-color;
}

// Hack to fix Ember's lack of support for action helpers in iOS
[data-ember-action] {
  cursor: pointer;
}

@import 'alerts';
@import 'buttons';
@import 'conversations';
@import 'forms';
@import 'fonts';
@import 'footer';
@import 'homepage';
@import 'modal';
@import 'nav';
@import 'photos';
@import 'select2';
@import 'share';
@import 'singlePhoto';
@import 'spinner';
@import 'upload';
@import 'wizard';

.noscroll { overflow: hidden; }

.clearfix {
  overflow: auto;
}

.top-bar {
  li {
    a.active {
      color: #666;
    }
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.lightbox {
  z-index: 50;
  background: $lightbox-color;

  &.transparent {
    background: none;
  }
}

.opaque-lightbox {
  z-index: 99;
  background: $opaque-lightbox-color;
}

.lightbox, .opaque-lightbox {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
}

@keyframes fadeinout {
  0%      { opacity: 0.6; }
  50%     { opacity: 0.3; }
  100%    { opacity: 0.6; }
}

.nav-filler {
  height: $logo-height;
  width: 100%;
  transition: height 300ms ease-in-out;

  &.collapsed {
    height: 0px;
  }
}


textarea {
  resize: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.icon, .avatar {
  border-radius: 50%;
  overflow: hidden;
  height: $default-avatar-size;
  width: $default-avatar-size;
}

.icon {
  background: white;
  border: 1px solid $subtle-highlight-color;

  span {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: $highlight-color;
    font-weight: 700;
    padding-top: ($default-avatar-size - 16px) / 2;
  }
}