html, body {
  padding: 0;
  margin: 0;
}

.first {
  background: blue;
  border-bottom: 1vh solid orange;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: hidden;
  height: 56.2678063vw; // 790 / 1404px
}

video {
  margin: 0;
  padding: 0;
  border: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
}

.second {
  background: cyan;
  border-bottom: 1vh solid orange;
  height: 56.2678063vw; /* 790 / 1404px*/
}

.third {
  height: 56.2678063vw; /* 790 / 1404px*/
  background: turquoise;
}

section {
  box-sizing: border-box;
  width: 100%;
}
