@import 'normalize-scss/_normalize';

@import 'spritesheetPreLaunch';
@import 'spritesheetPreLaunch-2x';


// lifted from https://github.com/Ensighten/spritesmith/issues/19
@mixin sprite-background-size($sprite) {
  background-size: nth($sprite, 7) nth($sprite, 8);
}

@mixin sprite-retina($sprite, $sprite2x) {
  @include sprite($sprite);

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
    @include sprite-image($sprite2x);
    @include sprite-background-size($sprite);
  }
}

@import 'vars';
@import 'fonts';

$video-height: 1404px;
$video-width: 790px;
$video-height-vw: #{$video-width / $video-height}px;
$tablet-size: "only screen and (max-width : 980px)";

$alt-text-color: rgb(55,53,54);

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(http://fonts.gstatic.com/s/merriweather/v7/So5lHxHT37p2SS4-t60SlGfrnYWAzH6tTbHZfcsRIsM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(http://fonts.gstatic.com/s/merriweather/v7/RFda8w1V0eDZheqfcyQ4EBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  background: white;
  font-family: Brandon Text, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $default-text-color;
}

.first {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: hidden;
  height: 550px;
  height: 56.2678063vw; // 790 / 1404px
}

.img-cont {
  width: 100%;

  img {
    width: 100%;
  }
}

.second {
  background-image: url(/images/homepage-product-bg.jpg);
  background-size: cover;
  border-top: 2px solid $highlight-color;
  height: 600px;
  min-height: 600px;
  height: 56.2678063vw; /* 790 / 1404px*/
  position: relative;

  .right-section {
    position: absolute;
    height: 85%;
    left: 50%;
    width: 50%;
    top: 0;
    display: table;
  }
}

.hp-phone-copy {
  display: table-cell;
  vertical-align: middle;
  width: 100%;

  p.description {
    font-family: 'Merriweather', serif;
    width: 70%;
    line-height: 1.5em;
    color: $alt-text-color;
    margin-bottom: 3em;
  }
}

.third {
  border-top: 2px solid $highlight-color;
  height: 600px;
  height: 56.2678063vw; /* 790 / 1404px*/
  background: white;
}

video {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  background: rgba(0,0,0,0.45);
  width: 100%;
  height: 100%;
}

.flex-height-cont {
  min-height: 400px;
  height: 600px; // fallback
  height: 56.2678063vw;
  max-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section {
  box-sizing: border-box;
  width: 100%;
}

.top-nav {
  margin: 8px 33px 0 22px;
}

.left {
  float: left;
}

.right {
  float: right;
  margin-top: 24px;
}

.hp-tag {
  display: inline-block;
  vertical-align: middle;
  padding-top: 4px;
  margin-right: 20px;

  span {
    color: white;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  @media #{$tablet-size} {
    display: none;
  }
}

.hp-break.after-tag {
  @media #{$tablet-size} {
    display: none;
  }
}

.hp-break {
  width: 0;
  height: 34px;
  border-right: 1px solid rgba(255,255,255,0.70);
  display: inline-block;
  vertical-align: middle;
}

.hp-logo {
  margin-top: 11px;
  @include sprite-retina($heirloom_logo_shadow, $heirloom_logo_shadow-2x);
}

$social-icon-width: 27px;
$social-icon-spacing: 25px;

.hp-social {
  display: inline-block;
  margin-left: $social-icon-spacing;

  span {
    vertical-align: middle;
    display: inline-block;

    opacity: 0.85;
    transition: opacity 0.1s ease-in;

    &:hover {
      opacity: 1;
    }
  }
}

.hp-instagram {
  @include sprite-retina($instagram_logo, $instagram_logo-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $instagram_logo-width) / 2);
  margin-left: (($social-icon-width - $instagram_logo-width) / 2);
}

.hp-twitter {
  @include sprite-retina($twitter_logo, $twitter_logo-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $twitter_logo-width) / 2);
  margin-left: (($social-icon-width - $twitter_logo-width) / 2);
}

.hp-fb {
  @include sprite-retina($fb_logo, $fb_logo-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $fb_logo-width) / 2);
  margin-left: (($social-icon-width - $fb_logo-width) / 2);
}

.hp-action {
  display: inline-block;
}

.hp-notify {
  display: inline-block;
  vertical-align: middle;
  margin-left: 18px;
  @include sprite-retina($notify_me, $notify_me-2x);

  &:hover {
    @include sprite-retina($notify_me_hover, $notify_me_hover-2x);
  }
}



.hp-center {
  position: absolute;
  top: 56%;
  left: 50%;
  margin-left: -$play_button-width / 2;
  margin-top: -$play_button-height / 2;
}

.hp-play {
  display: inline-block;
  @include sprite-retina($play_button, $play_button-2x);

  &:hover {
    @include sprite-retina($play_button_hover, $play_button_hover-2x);
  }
}

.hp-bottom {
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -$down_carrot_white-width / 2;

}

.hp-next {
  display: inline-block;
  @include sprite-retina($down_carrot_white, $down_carrot_white-2x);

  opacity: 0.85;
  transition: opacity 0.15s ease-in;

  &:hover {
    opacity: 1;
  }
}

.hp-next-blk {
  display: inline-block;
  @include sprite-retina($down_carrot_black, $down_carrot_black-2x);

}

.hp-copy {
  position: absolute;
  width: 60%;
  margin: 0 20%;
  top: 27%;
  text-align: center;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 2.5em;

  em {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 0.92em;
  }
}

h2 {
  color: $alt-text-color;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h4 {
  color: $alt-text-color;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.hp-store-ios {
  display: inline-block;
  background-image: url(/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg);
  width: 135px;
  height: 40px;
}

.hp-store-android {
  display: inline-block;
  @include sprite-retina($google_play, $google_play-2x);
}

