@import 'normalize-scss/_normalize';

@import 'spritesheetPreLaunch';
@import 'spritesheetPreLaunch-2x';


// lifted from https://github.com/Ensighten/spritesmith/issues/19
@mixin sprite-background-size($sprite) {
  background-size: nth($sprite, 7) nth($sprite, 8);
}

@mixin sprite-retina($sprite, $sprite2x) {
  @include sprite($sprite);

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
    @include sprite-image($sprite2x);
    @include sprite-background-size($sprite);
  }
}

@import 'vars';
@import 'fonts';

$video-height: 1404px;
$video-width: 790px;
$horiz-break-color: rgb(243,243,243);
$video-height-vw: #{$video-width / $video-height}px;
$tablet-size: "only screen and (max-width : 980px)";
$med-desktop-size: "only screen and (max-width : 1200px)";
$input-border-color: rgb(225,228,228);

$button-hover-color: rgb(206,67,39);
$button-color-shadow: rgb(206,78,56);
$alt-text-color: rgb(55,53,54);

body {
  background: white;
  font-family: Brandon Text, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $default-text-color;
}

.first {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: hidden;
  height: 550px;
  height: 56.2678063vw; // 790 / 1404px

  .flex-height-cont {
    height: 56.2678063vw;
  }
}

.img-cont {
  width: 100%;

  img {
    width: 100%;
  }
}

.second {
  background-image: url(/images/homepage-product-bg.jpg);
  background-size: cover;
  border-top: 2px solid $highlight-color;
  height: 600px;
  min-height: 600px;
  height: 100vh; /* 790 / 1404px*/
  position: relative;

  .left-section {
    position: absolute;
    left: 0;
    width: 50%;
    top: 45%;

  }

  .right-section {
    position: absolute;
    height: 90%;
    left: 50%;
    width: 50%;
    top: 0;
    display: table;

  }

  .flex-height-cont {
    height: 100vh;
  }
}

.hp-phone-cont {
  height: 522px;
  width: 473px;
  margin-top: -253px;
  float: right;
  padding-right: 18px;
}

.hp-phone {
  background-image: url(/images/phones_placeholder.png);
  height: 522px;
  width: 473px;
}

.hp-phone-copy {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 42px;

  p.description {
    width: 70%;
    max-width: 400px;
    line-height: 1.7em;
    color: $alt-text-color;
    font-size: 1.15em;
    margin-bottom: 1.9em;
  }
}

.third {
  border-top: 2px solid $highlight-color;
  // height: 600px;
  // height: 100vh;
  background: white;
}

video {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  background: rgba(0,0,0,0.45);
  width: 100%;
  height: 100%;
}

.flex-height-cont {
  min-height: 400px;
  height: 600px; // fallback
  max-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.top-nav {
  margin: 8px 33px 0 22px;
}

.left {
  float: left;
}

.right {
  float: right;
  margin-top: 24px;
}

.hp-tag {
  display: inline-block;
  vertical-align: middle;
  padding-top: 4px;
  margin-right: 20px;

  span {
    color: white;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  @media #{$tablet-size} {
    display: none;
  }
}

.hp-break.after-tag {
  @media #{$tablet-size} {
    display: none;
  }
}

.hp-break {
  width: 0;
  height: 34px;
  border-right: 1px solid rgba(255,255,255,0.70);
  display: inline-block;
  vertical-align: middle;
}

.hp-logo {
  margin-top: 11px;
  @include sprite-retina($heirloom_logo_shadow, $heirloom_logo_shadow-2x);
}

$social-icon-width: 27px;
$social-icon-spacing: 25px;

.hp-social {
  display: inline-block;
  margin-left: $social-icon-spacing;

  span {
    vertical-align: middle;
    display: inline-block;

    opacity: 0.85;
    transition: opacity 0.1s ease-in;

    &:hover {
      opacity: 1;
    }
  }
}

.hp-footer-social {
  text-align: center;
  margin: 43px 0;

  span {
    display: inline-block;
  }
}

.hp-instagram {
  @include sprite-retina($instagram_logo, $instagram_logo-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $instagram_logo-width) / 2);
  margin-left: (($social-icon-width - $instagram_logo-width) / 2);
}

.hp-twitter {
  @include sprite-retina($twitter_logo, $twitter_logo-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $twitter_logo-width) / 2);
  margin-left: (($social-icon-width - $twitter_logo-width) / 2);
}

.hp-fb {
  @include sprite-retina($fb_logo, $fb_logo-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $fb_logo-width) / 2);
  margin-left: (($social-icon-width - $fb_logo-width) / 2);
}

.hp-instagram-dark {
  @include sprite-retina($instagram_logo_dark, $instagram_logo_dark-2x);

  // margin-right: $social-icon-spacing + (($social-icon-width - $instagram_logo_dark-width) / 2);
  margin-left: (($social-icon-width - $instagram_logo_dark-width) / 2);
}

.hp-twitter-dark {
  @include sprite-retina($twitter_logo_dark, $twitter_logo_dark-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $twitter_logo_dark-width) / 2);
  margin-left: (($social-icon-width - $twitter_logo_dark-width) / 2);
}

.hp-fb-dark {
  @include sprite-retina($fb_logo_dark, $fb_logo_dark-2x);

  margin-right: $social-icon-spacing + (($social-icon-width - $fb_logo_dark-width) / 2);
  margin-left: (($social-icon-width - $fb_logo_dark-width) / 2);
}

.hp-action {
  display: inline-block;
}

.hp-notify {
  display: inline-block;
  vertical-align: middle;
  margin-left: 18px;
  width: 126px;
  height: 25px;
  border-radius: 1px;
  border: 0;
  background: $highlight-color;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 9px;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.6em;

  &:hover {
    background: $button-hover-color
  }
}



.hp-center {
  position: absolute;
  top: 56%;
  left: 50%;
  margin-left: -$play_button-width / 2;
  margin-top: -$play_button-height / 2;
}

.hp-play {
  display: inline-block;
  @include sprite-retina($play_button, $play_button-2x);

  &:hover {
    @include sprite-retina($play_button_hover, $play_button_hover-2x);
  }
}

.hp-bottom {
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -$down_carrot_white-width / 2;

}

.hp-next {
  display: inline-block;
  @include sprite-retina($down_carrot_white, $down_carrot_white-2x);

  opacity: 0.85;
  transition: opacity 0.15s ease-in;

  &:hover {
    opacity: 1;
  }
}

.hp-next-blk {
  display: inline-block;
  @include sprite-retina($down_carrot_black, $down_carrot_black-2x);

}

.hp-copy {
  position: absolute;
  width: 100%;
  top: 27%;
  text-align: center;
}

.hp-store-ios {
  display: inline-block;
  background-image: url(/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg);
  width: 135px;
  height: 40px;
}

.hp-store-android {
  display: inline-block;
  @include sprite-retina($google_play, $google_play-2x);
}

.hp-footer-logo {
  @include sprite-retina($footer_logo, $footer_logo-2x);
  margin: 60px auto;
}

.hp-h-break {
  width: 512px;
  margin: 0 auto;

  border-bottom: 2px solid $horiz-break-color;
}

.hp-notify-cont {
  margin: 60px 0;
  text-align: center;
}

input.hp-text {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 494px - 147px;
  height: 38px;
  padding-top: 4px;
  padding-left: 18px;
  border-left: 1px solid $input-border-color;
  border-top: 1px solid $input-border-color;
  border-bottom: 1px solid $input-border-color;
  border-right: none;
  color: $alt-text-color;
  vertical-align: top;
}

input.hp-submit {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 147px;
  height: 45px;
  vertical-align: top;
  border: 0;
  background: $highlight-color;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 8px;
  box-shadow: inset 0px -2px 0 0 $button-color-shadow;

  &:hover {
    background: $button-hover-color
  }

  &.sent {
    background: green;
  }
}

.hp-footer-links {
  text-align: center;

  h4 {
    display: inline;
    margin: 0 30px;
    letter-spacing: 2px;
    font-size: 0.875em;
  }

  a {
    text-decoration: none;
  }
}

.hp-copyright {
  text-align: center;

  a {
    color: $alt-text-color;
    font-weight: 600;
  }
}

.hp-footer-social {

}

h1 {
  color: white;
  font-weight: 400;
  font-size: 2.5em;

  em {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 0.92em;
  }
}

h2 {
  color: $alt-text-color;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h4 {
  color: $alt-text-color;
  text-transform: uppercase;
  letter-spacing: 3px;
}



