/* =============================================================================
   Global styles
   ========================================================================== */

/*
 * NOTE: In iOS versions 4 and below position fixed was not supported. In versions 5 & 6 it was supported, however
 * jQuery's scrollTo animation notoriously fucked it up often. Mobile Safari finally got it's shit together with
 * iOS 7. Fixed position works correctly. If you're interested in supporting older browsers and a fixed header let
 * me know and I'll show the Frankenstein code required to make it work. I have absolutely no idea about the history
 * or status of fixed positioning support on Android or Windows phones. -- Jesse
*/

@import 'main';
@import 'normalize-scss/_normalize';
@import 'spritesheetHomePage';
@import 'spritesheetHomePage-2x';
@import 'homepage';

$slick-dot-size: 16px;
$slick-loader-path: '/images/slick/';
@import 'slick.js/slick/slick.scss';

// lifted from https://github.com/Ensighten/spritesmith/issues/19
@mixin sprite-background-size($sprite) {
  background-size: nth($sprite, 7) nth($sprite, 8);
}

@mixin sprite-retina($sprite, $sprite2x) {
  @include sprite($sprite);

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5), screen and (min--moz-device-pixel-ratio: 1.5) {
    @include sprite-image($sprite2x);
    @include sprite-background-size($sprite);
  }
}

body {
  line-height: 1.5;
}

a {
  color: #FC5B2E;
}

header {
  border: 1px solid rgb(216, 216, 216);
  height: 72px;
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
  z-index: 100;
}

section {
  padding: 2em 0;
}

.hp-social {
  display: block;
}

[role="main"],
header > div,
section > div,
.hp-social {
  margin: 0 auto;
}

header > div,
section > div {
  max-width: 960px;
  padding: 0 1em;
}

[role="main"] {
  margin-top: 72px;
}

.copy > p {
  float: left;

  &:first-child {
    padding-right: 5%;
    width: 70%;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.hp-social {
  border-top: 1px solid #fc5b2e;
  text-align: center;
  padding-top: 2em;
}

.cream-bg {
  background: #F9F8F6;
}

// .video-container {
//   border: 5px solid gray;
//   display: inline-block;
//   height: 200px;
//   width: 49%;
// }

.press-vid {
  border: 0;
  display: inline-block;
  position: relative;
  width: 49%;

  &:after {
    padding-top: (9 / 16) * 100%;
    display: block;
    content: '';
  }

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}


.row-of-images {
  margin: 1% 0;
  font-size: 0;

  h3 {
    font-size: 1.2rem;
  }

  :not(:last-child) img, img:not(:last-child) {
    margin-right: 1%;
  }
}


.press-social {
  padding-top: 2em;
}


.articles {
  background: white;
}
.articles .article {
  // background: white;
  // min-height: 300px;
  text-align: center;
  float: none;
  display: inline-block;
  vertical-align: middle;

  a {
    color: inherit;
    text-decoration: underline;
  }

  h3 {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 5%;
    margin: 0;
    text-align: center;

    .attrib {
      color: $subtle-highlight-color;
    }
  }

  .press-logo {
    padding: 5%;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
}

.clearfix {
  overflow: auto;
}

/* =============================================================================
   Media query specific styles
   ========================================================================== */

/*
 * NOTE: I'm using `em` here instead of pixel with because it's 2014 and everything is changing sizes all of the time.
 * Best to have relative breakpoints. Assuming 1em == 16px.
 */

/*
 * Approximately 300px breakpoint
 */
@media all and (min-width: 18.75em) {}

/*
 * Approximately 400px breakpoint
 */
@media all and (min-width: 25em) {}

/*
 * Approximately 600px breakpoint
 */
@media all and (min-width: 37.5em) {
  .articles .article {
    h3 {
      width: 69%;
    }

    .press-logo {
      width: 29%;
    }
  }
}

/*
 * Approximately 800px breakpoint
 */
@media all and (min-width: 50em) {}

/*
 * Approximately 920px breakpoint
 */
@media all and (min-width: 57.5em) {}

/*
 * Approximately 1044px breakpoint
 */
@media all and (min-width: 65.25em) {}
