<nav>
<h1>Heirloom</h1>

<ul>
  <li>{{#link-to 'photos'}}Photos{{/link-to}}</li>
  <li>{{#link-to 'albums'}}Albums{{/link-to}}</li>
  <li>{{#link-to 'upload'}}Upload{{/link-to}}</li>
</ul>
</nav>
{{outlet}}