{{!--
<div class="row">
  {{render 'postComments' model}}
</div> --}}

{{#if firstPhoto}}
  <div class="large-photo">
    <img {{bind-attr src=firstPhoto.largeVersion}}>
  </div>
{{/if}}

<div class="post-body">
  <div class="icon"></div>
  <div class="post-author">{{owner.name}}</div>
  <div class="post-time">5m ago</div>
  <div class="post-likes">2 Likes</div>
  <div class="post-text">
    {{multiline message}}
  </div>
</div>
