{{#each}}
  {{#link-to 'conversationPosts' id}}<div style="
    padding: 10px;
    background: white;
    width: 300px;
    margin: 10px;"
  >{{name}}</div>{{/link-to}}
{{/each}}

{{input placeholder="Create Conversation" value=newConversationName class="temp newConversationName"}}

{{#if loadingMore}}
<div class="spinner"></div>
{{else}}
<div class="spinner-placeholder"></div>
{{/if}}

{{outlet}}
