{{input placeholder="Create Post" value=newPostMessage class="temp newPostMessage"}}

{{#each}}
  {{view App.ConversationPostView post=this}}
{{/each}}

{{#if loadingMore}}
<div class="spinner"></div>
{{else}}
<div class="spinner-placeholder"></div>
{{/if}}