{{input placeholder="Create Post" value=newPostMessage class="temp newPostMessage"}}

{{#each}}
  <div style="
    padding: 10px;
    background: yellow;
    width: 300px;
    margin: 10px;">{{message}}</div>
{{/each}}

{{#if loadingMore}}
<div class="spinner"></div>
{{else}}
<div class="spinner-placeholder"></div>
{{/if}}