<div class="row">
  <div class="small-12 columns post-message">{{message}}</div>
</div>
<div class="row">
  <div class="small-8 small-offset-4 columns">{{input value=newComment placeholder=(ts 'comments.prompt') class='newComment'}}</div>
</div>