{{#each photos}}
  <div class="large-photo">
    <img {{bind-attr src=largeVersion}}>
  </div>
{{/each}}

<div class="post-body">
  <div class="icon"></div>
  <div class="post-author">{{owner.name}}</div>
  <div class="post-time">{{fromNow valueBinding="created_at"}}</div>
  <div class="post-text">
    {{multiline message}}
  </div>
</div>
