<div class="row">
  <div class="small-3 columns">
    {{#each}}
      {{#link-to 'conversationPosts' id}}<div class="convo">{{name}}</div>{{/link-to}}
    {{/each}}

    {{input placeholder="Create Conversation" value=newConversationName class="temp newConversationName"}}

    {{#if loadingMore}}
    <div class="spinner"></div>
    {{else}}
    <div class="spinner-placeholder"></div>
    {{/if}}
  </div>

  <div class="small-9 columns">
    {{outlet}}
  </div>
</div>
