<section class="lightbox">
  {{!-- {{#if loadingImg}}<div class="big-spinner"></div>{{/if}} --}}

  {{view App.ImageView image=firstState}}
  {{view App.ImageView image=secondState}}

  {{#if prevId}}
    <a href="javascript:void();" {{action 'prevPhoto'}}><div class="left-arrow"></div></a>
  {{/if}}
  {{#if nextId}}
    <a href="javascript:void();" {{action 'nextPhoto'}}><div class="right-arrow"></div></a>
  {{/if}}
</section>