{{outlet}}

{{#each}}
  {{#if source}}
    {{#link-to 'photo' id}}<img {{bind-attr src=thumbVersion}} class="gallery-photo">{{/link-to}}
  {{/if}}
{{/each}}

{{#if loadingMore}}
<div class="spinner"></div>
{{else}}
<div class="spinner-placeholder"></div>
{{/if}}