<section class="lightbox">
  <div class="scrollable">
    {{#each albums.model}}
      <div class="album" {{bind-attr style=style}} {{action select id}}>
        <span>{{name}}</span>
      </div>
    {{/each}}

    {{#if loadingMore}}
    <div class="spinner"></div>
    {{else}}
    <div class="spinner-placeholder"></div>
    {{/if}}
  </div>
</section>