<section class="lightbox">
  {{#if loadingImg}}<div class="spinner"></div>{{/if}}

  {{view App.ImageView image=firstState}}
  {{view App.ImageView image=secondState}}

  {{#if prevId}}
    {{#link-to 'photo' prevId}}<div class="left-arrow"></div>{{/link-to}}
  {{/if}}
  {{#if nextId}}
    {{#link-to 'photo' nextId}}<div class="right-arrow"></div>{{/link-to}}
  {{/if}}
</section>