<div {{bind-attr class=":groupings-container isSelectionMode:selection-mode"}}>
  <div class="toolbar">
    {{selectedCount}}
    <button class="take-action">Upload</button>
  </div>
{{#each}}
  {{render 'photoGrouping' this}}
{{/each}}

{{partial 'spinner'}}
</div>