<div class="groupings-container">
{{#each}}
  <div class="photo-grouping">
    <h2>{{name}}</h2>
    <div><div class="border"></div></div>
    <div class="images-container">
      {{#each photos}}<img {{bind-attr src=thumbVersion}}/>{{/each}}
    </div>
  </div>
{{/each}}

{{partial 'spinner'}}
</div>