<section class="first">
  <a name="first"></a>
  <video autoplay loop width="100%">
    <source src="http://www.heirloom.net/HLM_Long_Loop_422_h264_4mb.mp4" type="video/mp4">
  </video>
  <div class="overlay">
  </div>

  <div class="flex-height-cont">
    <nav class="top-nav">
      <div class="left">
        <div class="hp-logo"></div>
      </div>

      <div class="right">
        <div class="hp-tag">
          <span>Launching this Fall</span>
        </div>
        <div class="hp-break"></div>
        <div class="hp-social">
          <a href="https://www.facebook.com/heirloomhq" target="_blank"><span class="hp-fb"></span></a>
          <a href="https://www.twitter.com/heirloomhq" target="_blank"><span class="hp-twitter"></span></a>
          <a href="http://www.instagram.com/heirloomhq" target="_blank"><span class="hp-instagram"></span></a>
        </div>
        <div class="hp-break"></div>

        <div class="hp-action">
          <a href="#third"><span class="hp-notify"></span></a>
        </div>
      </div>
    </nav>

    <div class="hp-copy">
      <h1>For all the moments we <em>love.</em></h1>
    </div>

    <div class="hp-center">
      <a href="#play"><span class="hp-play"></span></a>
    </div>

    <div class="hp-bottom">
      <a href="#second"><span class="hp-next"></span></a>
    </div>
  </div>
</section>

<section class="second">
  <a name="second"></a>
  <div class="flex-height-cont">
    <div class="hp-bottom">
      <a href="#third"><span class="hp-next-blk"></span></a>
    </div>
  </div>
  <div class="hp-phone-copy">
    <h2>Capture the Moments</h2>

    <p>
Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
    </p>

    <h4>Coming soon on iPhone &amp; Android</h4>

    <p>
      <span class="hp-store-ios"></span>
      <span class="hp-store-android"></span>
    <p>
  </div>
</section>

<section class="third">
  <a name="third"></a>
</section>
