<div class="first">
  <a name="first"></a>
  <video autoplay loop preload="auto" poster="https://www-heirloom-production-herokuapp-com.global.ssl.fastly.net/images/video_placeholder_loading_small.jpg">
    <source src="https://d1g8wumrh1onzl.cloudfront.net/media/HLM_Long_Loop_422_h264_4mb_faststart_2.mp4" type="video/mp4">
    <div class="img-cont">
      <img src="/images/video_placeholder_web.jpg" title="">
    </div>
  </video>
  <div class="overlay">
  </div>

  <div class="flex-height-cont">
    <div class="top-nav">
      <div class="hp-logo-cont">
        <div class="hp-logo"></div>
      </div>

      <div class="hp-tag-cont">
        <div class="hp-tag">
          <span>This November</span>
        </div>
        <div class="hp-break after-tag"></div>
        <div class="hp-social">
          <a href="https://www.facebook.com/heirloomhq" target="_blank"><span class="hp-fb"></span></a>
          <a href="https://www.twitter.com/heirloomhq" target="_blank"><span class="hp-twitter"></span></a>
          <a href="http://www.instagram.com/heirloomhq" target="_blank"><span class="hp-instagram"></span></a>
        </div>
        <div class="hp-break"></div>

        <div class="hp-action">
          <a href="#third" class="jump-to-notify"><span class="hp-notify">Notify Me</span></a>
        </div>
      </div>
    </div>

    <div class="hp-copy">
      <h1>For all the moments we <em>love.</em></h1>
    </div>

    <div class="hp-center">
      <a href="javascript:void(0);"><span class="hp-play"></span></a>
    </div>

    <div class="hp-bottom">
      <a href="#second"><span class="hp-next"></span></a>
    </div>

    <div class="hp-mobile-footer">
      <p><div class="hp-mobile-tag">This November</div></p>
      <p><a href="#third" class="jump-to-notify"><span class="hp-notify">Notify Me</div></a></p>
    </div>
  </div>
</div>

<div class="second">
  <a name="second"></a>
  <div class="flex-height-cont">
    <div class="right-section">
      <div class="hp-phone-copy">
        <h2>Your life in photos</h2>

        <p class="description">
Heirloom is a simple idea. Nearly everyone has print photographs. Heirloom brings them to life with the help of your smartphone camera so you can experience the joy of sharing those moments with friends and family.
        </p>

        <div class="hp-app-info">
          <h4>Coming this November</h4>

          <p>
            <span class="hp-store-ios"></span>
            <span class="hp-store-android"></span>
          <p>
        </div>
      </div>
    </div>

    <div class="left-section">
      <div class="hp-phone-cont">
        <div class="hp-phone"></div>
      </div>
    </div>

    <div class="hp-app-info-mobile">
      <h4>Coming this November</h4>

      <p>
        <span class="hp-store-ios"></span>
        <span class="hp-store-android"></span>
      <p>
    </div>

    <div class="hp-bottom">
      <a href="#third"><span class="hp-next-blk"></span></a>
    </div>

  </div>
</div>

<div class="third">
  <a name="third"></a>
  {{!-- <div class="hp-h-break"></div> --}}


  <form method="post" enctype="multipart/form-data" action="https://www.formstack.com/forms/index.php" id="email-form" class="validate" target="hidden-form"
    <input type="hidden" name="form" value="1785407" />
    <input type="hidden" name="viewkey" value="lwf2iI2KKY" />
    <input type="hidden" name="hidden_fields" id="hidden_fields1785407" value="" />
    <input type="hidden" name="_submit" value="1" />
    <input type="hidden" name="incomplete" id="incomplete1785407" value="" />
    <input type="hidden" name="style_version" value="3" />
{{!--     <input type="email" id="field26584620" name="field26584620" class="required email"  value="" placeholder="Enter your email" required /> --}}
      <div class="hp-notify-cont">
        <input type="email" id="field26584620" name="field26584620" class="hp-text" placeholder="Enter your email" value="" required>{{!--
    --}}<input type="submit" name="subscribe" {{bind-attr disabled=disabled}} {{bind-attr value=notifyButtonText}} {{bind-attr class=":hp-submit sent"}}>
      </div>
  </form>
  <div class="hp-footer-links">
    <a href="mailto:press@heirloom.net"><h4>Press</h4></a>
    <a href="mailto:hello@heirloom.net"><h4>Contact</h4></a>
  </div>

  <div class="hp-footer-social">
    <a href="https://www.facebook.com/heirloomhq" target="_blank"><span class="hp-fb-dark"></span></a>
    <a href="https://www.twitter.com/heirloomhq" target="_blank"><span class="hp-twitter-dark"></span></a>
    <a href="http://www.instagram.com/heirloomhq" target="_blank"><span class="hp-instagram-dark"></span></a>
  </div>

  <div class="hp-copyright">
    <span>Copyright &copy; 2014 <a href="mailto:hello@heirloom.net" target="_blank">Say Hello!</a></span>
  </div>
  <a href="#first"><div class="hp-footer-logo"></div></a>
</div>
{{#if showVideo}}
  <div class="hp-lightbox">
    <div class="video-cont">
      <div class="hp-height-filler"></div>
      <iframe
      src="//www.youtube.com/embed/GLeVlBca5lg?autoplay=0">
      </iframe>
    </div>
  </div>
{{/if}}
<iframe style="display:none" name="hidden-form" id="hidden-form"></iframe>
