<div class="first">
  <a name="first"></a>
  <video autoplay loop>
    <source src="https://d1g8wumrh1onzl.cloudfront.net/media/HLM_Long_Loop_422_h264_4mb.mp4" type="video/mp4">
    <div class="img-cont">
      <img src="/images/video_placeholder_web.jpg" title="">
    </div>
  </video>
  <div class="overlay">
  </div>

  <div class="flex-height-cont">
    <div class="top-nav">
      <div class="left">
        <div class="hp-logo"></div>
      </div>

      <div class="right">
        <div class="hp-tag">
          <span>Launching this fall</span>
        </div>
        <div class="hp-break after-tag"></div>
        <div class="hp-social">
          <a href="https://www.facebook.com/heirloomhq" target="_blank"><span class="hp-fb"></span></a>
          <a href="https://www.twitter.com/heirloomhq" target="_blank"><span class="hp-twitter"></span></a>
          <a href="http://www.instagram.com/heirloomhq" target="_blank"><span class="hp-instagram"></span></a>
        </div>
        <div class="hp-break"></div>

        <div class="hp-action">
          <a href="#third"><span class="hp-notify"></span></a>
        </div>
      </div>
    </div>

    <div class="hp-copy">
      <h1>For all the moments we <em>love.</em></h1>
    </div>

    <div class="hp-center">
      <a href="#play"><span class="hp-play"></span></a>
    </div>

    <div class="hp-bottom">
      <a href="#second"><span class="hp-next"></span></a>
    </div>
  </div>
</div>

<div class="second">
  <a name="second"></a>
  <div class="flex-height-cont">
    <div class="right-section">
      <div class="hp-phone-copy">
        <h2>Your life in photos</h2>

        <p class="description">
Heirloom is a simple idea. Nearly everyone has print photographs. Heirloom brings them to life with the help of your smartphone camera so you can experience the joy of sharing those moments with friends and family. Heirloom will be available for Android and iOS in November.
        </p>

        <h4>Coming soon on iPhone &amp; Android</h4>

        <p>
          <span class="hp-store-ios"></span>
          <span class="hp-store-android"></span>
        <p>
      </div>
    </div>

    <div class="hp-bottom">
      <a href="#third"><span class="hp-next-blk"></span></a>
    </div>

  </div>
</div>

<div class="third">
  <a name="third"></a>
  <div class="hp-footer-logo"></div>
  <div class="hp-h-break"></div>
  <div class="hp-notify-cont">
    <input type="text" class="hp-text" placeholder="Enter your email">{{!--
--}}<input type="submit" name="subscribe" value="Notify Me" class="hp-submit">
  </div>
  <div class="hp-h-break"></div>
  <div class="hp-footer-links">
    <h4>Press</h4>
    <h4>Contact</h4>
  </div>

  <div class="hp-copyright">
    <span>Copyright &copy; 2014 <a href="mailto:hello@heirloom.net" target="_blank">Say Hello</a></span>
  </div>
</div>
