<div class="share">
  <img {{bind-attr src=photo.largeVersion}} alt="">
  <div class="share-info">
    <div class="icon"></div>
    <div class="author">{{owner.name}}</div>
    <div class="time">{{fromNow valueBinding="created_at"}}</div>
    <div class="watermark">*Captured using HEIRLOOM</div>
  </div>
</div>