<div class="share">
  <div class="icon"><span>{{owner.initials}}</span></div>
  <p class="owner-tag"><span class="highlighted">{{owner.name}}</span> {{t 'share.photoMessage'}}</p>
  <img {{bind-attr src=photo.largeVersion}} alt="">
</div>